@import url("https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400");
body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 19px;
  font-weight: 300;
}

body a {
  text-decoration: none;
  color: white;
}

.menu-block-wrapper > .menu {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.menu-block-wrapper > .menu,
.menu-block-wrapper > .menu .menu {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.menu-block-wrapper > .menu > .menu__item {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.menu-block-wrapper > .menu > .menu__item > a {
  display: block;
  padding-top: 16px;
  padding-bottom: 15px;
  text-align: center;
  background-color: #3499fd;
}

.menu-block-wrapper > .menu > .menu__item > a:hover {
  background-color: #0280fc;
}

.menu-block-wrapper > .menu li > .menu {
  display: none;
}

.menu-block-wrapper > .menu li:hover > a,
.menu-block-wrapper > .menu li.active > a {
  background-color: #0280fc;
}

.menu-block-wrapper > .menu li:hover > .menu a:hover,
.menu-block-wrapper > .menu li.active > .menu a:hover {
  background-color: #3499fd;
}

.menu-block-wrapper > .menu li.active > .menu {
  display: block;
}

.menu-block-wrapper > .menu > li:hover > .menu {
  display: block;
}

.menu-block-wrapper > .menu > li:hover > .menu a:hover {
  background-color: #3499fd;
}

.menu-block-wrapper > .menu > .is-expanded > .menu {
  min-height: 300px;
  position: relative;
}

.menu-block-wrapper > .menu > .is-expanded > .menu:after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 300px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.menu-block-wrapper > .menu > .is-expanded > .menu > li {
  width: 300px;
}

.menu-block-wrapper > .menu > .is-expanded > .menu > li.is-expanded > a {
  padding-right: 30px;
  background-image: url(../images/icons/icon_right.svg);
  background-repeat: no-repeat;
  background-position: -webkit-calc(100% - 15px) 50%;
  background-position: calc(100% - 15px) 50%;
}

.menu-block-wrapper > .menu > .is-expanded > .menu > li > a {
  display: block;
  padding: 16px 20px 15px;
}

.menu-block-wrapper > .menu > .is-expanded > .menu > li + li {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}

.menu-block-wrapper > .menu > .is-expanded > .menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #0280fc;
}

.menu-block-wrapper > .menu > .is-expanded > .menu .menu {
  position: absolute;
  left: 300px;
  top: 0;
  right: 0;
  padding: 20px;
}

.menu-block-wrapper > .menu > .is-expanded > .menu .menu a {
  display: block;
  padding: 10px;
}

.menu-block-wrapper > .menu > .is-expanded > .menu > .is-expanded > a {
  display: block;
  padding: 16px 20px 15px;
}

/*# sourceMappingURL=css/menu.css.map */
