@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,400');

body {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 19px;
    font-weight: 300;
    a {
        text-decoration: none;
        color: white;
    }
}

.menu-block-wrapper > .menu {
    max-width: 980px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: stretch;
    justify-content: space-between;

    position: relative;
    &,
    & .menu {
        padding: 0;
        margin-top: 0;
        margin-bottom: 0;
        list-style: none;
    }
    & > .menu__item {
        flex-grow: 1;
        & > a {
            display: block;
            padding-top: 16px;
            padding-bottom: 15px;
            text-align: center;
            background-color: #3499fd;
            &:hover {
                background-color: darken(#3499fd, 10%);
            }
        }
    }
    li > .menu {
        display: none;
    }
    li:hover,
    li.active {
        & > a {
            background-color: darken(#3499fd, 10%);
        }
        & > .menu {
            a:hover {
                background-color: #3499fd;
            }
        }
    }
    li.active {
        & > .menu {
            display: block;
        }
    }
    & > li:hover {
        & > .menu {
            display: block;
            a:hover {
                background-color: #3499fd;
            }
        }
    }
    & > .is-expanded {
        & > .menu {
            min-height: 300px;
            position: relative;
            &:after {
                display: block;
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 300px;
                border-right: 1px solid rgba(255,255,255,.3);
            }
            & > li {
                &.is-expanded {
                    & > a {
                        padding-right: 30px;
                        background-image: url(../images/icons/icon_right.svg);
                        background-repeat: no-repeat;
                        background-position: calc(100% - 15px) 50%;
                    }
                }
                width: 300px;
                & > a {
                    display: block;
                    padding: 16px 20px 15px;
                }
                & + li {
                    border-top: 1px solid rgba(255,255,255,.3);
                }
            }
        }
        & > .menu {
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            background-color: darken(#3499fd, 10%);
            & > .menu__item {
                
            }
            .menu {
                position: absolute;
                left: 300px;
                top: 0;
                right: 0;
                padding: 20px;
                a {
                    display: block;
                    padding: 10px;
                }
            }
            & > .is-expanded {
                & > a {
                    display: block;
                    padding: 16px 20px 15px;
                }
                & > .menu {
                    & > .menu__item {

                    }
                    & > .is-expanded {
                        & > a {

                        }
                    }
                }
            }
        }
    }
}