<div class="row">
    <div class="col-12">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#a">Главная</a></li>
            <li class="breadcrumb-item"><a href="#a">Графика и Дизайн</a></li>
            <li class="breadcrumb-item active">Редакторы</li>
        </ol>
    </div>
</div>