<div class="catsList row">
    <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
        <div class="catsList__item">
            <div class="catsList__icon">
                <svg width="33" height="43" class="svg-icon__link">
                    <use xlink:href="/sprite.svg#shield" /></svg>
            </div>
            <div class="catsList__title">
                Безопасность
            </div>
            <div class="catsList__subList">
                <ul class="list-unstyled">
                    <li><a href="#a">Антивирусы</a></li>
                    <li><a href="#a">Антишпионы</a></li>
                    <li><a href="#a">Доступ</a></li>
                    <li><a href="#a">Пароли</a></li>
                    <li><a href="#a">Файрволы</a></li>
                </ul>
            </div>
            <div class="catsList__link">
                <a href="#a" class="btn btn-sm btn-outline-secondary">Показать все</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
        <div class="catsList__item">
            <div class="catsList__icon">
                <svg width="43" height="43" class="svg-icon__link">
                    <use xlink:href="/sprite.svg#graph" /></svg>
            </div>
            <div class="catsList__title">
                Графика и дизайн
            </div>
            <div class="catsList__subList">
                <ul class="list-unstyled">
                    <li><a href="#a">Просмотр</a></li>
                    <li><a href="#a">Редакторы</a></li>
                    <li><a href="#a">Утилиты</a></li>
                </ul>
            </div>
            <div class="catsList__link">
                <a href="#a" class="btn btn-sm btn-outline-secondary">Показать все</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
        <div class="catsList__item">
            <div class="catsList__icon">
                <svg width="43" height="43" class="svg-icon__link">
                    <use xlink:href="/sprite.svg#net" /></svg>
            </div>
            <div class="catsList__title">
                Интернет и сети
            </div>
            <div class="catsList__subList">
                <ul class="list-unstyled">
                    <li><a href="#a">Браузеры</a></li>
                    <li><a href="#a">FTP-утилиты</a></li>
                    <li><a href="#a">Анти-спам</a></li>
                    <li><a href="#a">Менеджеры загрузок</a></li>
                    <li><a href="#a">Общение</a></li>
                </ul>
            </div>
            <div class="catsList__link">
                <a href="#a" class="btn btn-sm btn-outline-secondary">Показать все</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
        <div class="catsList__item">
            <div class="catsList__icon">
                <svg width="43" height="35" class="svg-icon__link">
                    <use xlink:href="/sprite.svg#media" /></svg>
            </div>
            <div class="catsList__title">
                Мультимедиа
            </div>
            <div class="catsList__subList">
                <ul class="list-unstyled">
                    <li><a href="#a">Проигрыватели</a></li>
                    <li><a href="#a">Конверторы и кодировщики</a></li>
                    <li><a href="#a">Редакторы</a></li>
                    <li><a href="#a">Другие утилиты</a></li>
                </ul>
            </div>
            <div class="catsList__link">
                <a href="#a" class="btn btn-sm btn-outline-secondary">Показать все</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
        <div class="catsList__item">
            <div class="catsList__icon">
                <svg width="43" height="39" class="svg-icon__link">
                    <use xlink:href="/sprite.svg#office" /></svg>
            </div>
            <div class="catsList__title">
                Офисные программы
            </div>
            <div class="catsList__subList">
                <ul class="list-unstyled">
                    <li><a href="#a">Словари</a></li>
                    <li><a href="#a">Справочники</a></li>
                    <li><a href="#a">Тренинг</a></li>
                    <li><a href="#a">Текстовые редакторы</a></li>
                    <li><a href="#a">Другие утилиты</a></li>
                </ul>
            </div>
            <div class="catsList__link">
                <a href="#a" class="btn btn-sm btn-outline-secondary">Показать все</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
        <div class="catsList__item">
            <div class="catsList__icon">
                <svg width="43" height="43" class="svg-icon__link">
                    <use xlink:href="/sprite.svg#desctop" /></svg>
            </div>
            <div class="catsList__title">
                Рабочий стол
            </div>
            <div class="catsList__subList">
                <ul class="list-unstyled">
                    <li><a href="#a">Заставки</a></li>
                    <li><a href="#a">Органайзеры</a></li>
                    <li><a href="#a">Другие утилиты</a></li>
                </ul>
            </div>
            <div class="catsList__link">
                <a href="#a" class="btn btn-sm btn-outline-secondary">Показать все</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
        <div class="catsList__item">
            <div class="catsList__icon">
                <svg width="43" height="39" class="svg-icon__link">
                    <use xlink:href="/sprite.svg#dev" /></svg>
            </div>
            <div class="catsList__title">
                Разработка
            </div>
            <div class="catsList__subList">
                <ul class="list-unstyled">
                    <li><a href="#a">HTML-редакторы</a></li>
                    <li><a href="#a">Движки</a></li>
                    <li><a href="#a">Компиляторы</a></li>
                    <li><a href="#a">Котроль версий</a></li>
                    <li><a href="#a">Фреймворки</a></li>
                </ul>
            </div>
            <div class="catsList__link">
                <a href="#a" class="btn btn-sm btn-outline-secondary">Показать все</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
        <div class="catsList__item">
            <div class="catsList__icon">
                <svg width="43" height="43" class="svg-icon__link">
                    <use xlink:href="/sprite.svg#system" /></svg>
            </div>
            <div class="catsList__title">
                Система
            </div>
            <div class="catsList__subList">
                <ul class="list-unstyled">
                    <li><a href="#a">Операционные системы</a></li>
                    <li><a href="#a">CD-утилиты</a></li>
                    <li><a href="#a">Архиваторы</a></li>
                    <li><a href="#a">Восстановление</a></li>
                    <li><a href="#a">Диагностика</a></li>
                </ul>
            </div>
            <div class="catsList__link">
                <a href="#a" class="btn btn-sm btn-outline-secondary">Показать все</a>
            </div>
        </div>
    </div>
    <div class="col-12 col-sm-6 col-lg-3 col-xlg-2">
        <div class="catsList__item">
            <div class="catsList__icon">
                <svg width="43" height="35" class="svg-icon__link">
                    <use xlink:href="/sprite.svg#sprite.svg#gaming" /></svg>
            </div>
            <div class="catsList__title">
                Игры
            </div>
            <div class="catsList__subList">
                <ul class="list-unstyled">
                    <li><a href="#a">Arcade</a></li>
                    <li><a href="#a">Online-игры</a></li>
                    <li><a href="#a">Симуляторы</a></li>
                    <li><a href="#a">Fighting</a></li>
                    <li><a href="#a">Indie-игры</a></li>
                </ul>
            </div>
            <div class="catsList__link">
                <a href="#a" class="btn btn-sm btn-outline-secondary">Показать все</a>
            </div>
        </div>
    </div>
</div>