
        <footer data-id="s6" class="main_block padding-top-lg mid_nav_block">
            <div id="s6" class="container text-center">
                <div class="row">
                    <div class="col-10 mb-5">
                        <div class="mb-5">
                            <a href="#a">
                                <img src="./images/logo_lg.png" alt="First Development Group">
                            </a>
                        </div>
                        <h1>First Development Group</h1>
                    </div>
                </div>
                <div class="row justify-content-around">
                    <div class="col-10 col-lg-8 mb-5">
                        <div class="row justify-content-around mb-5">
                            <div class="col-5 col-lg-2 mb-4 mb-lg-0">
                                <div class="mid_nav__title">
                                    Компания
                                </div>
                                <ul class="list-unstyled mid_nav__list">
                                    <li><a href="#a">О компании</a></li>
                                    <li><a href="#a">Команда</a></li>
                                    <li><a href="#a">Тендеры</a></li>
                                    <li><a href="#a">Инвесторам</a></li>
                                    <li><a href="#a">Вакансии</a></li>
                                    <li><a href="#a">Преимущества</a></li>
                                </ul>
                            </div>
                            <div class="col-5 col-lg-2 mb-4 mb-lg-0">
                                <div class="mid_nav__title">
                                    Проекты
                                </div>
                                <ul class="list-unstyled mid_nav__list">
                                    <li><a href="#a">Parkent Plaza</a></li>
                                    <li><a href="#a">Riverside</a></li>
                                </ul>
                            </div>
                            <div class="col-5 col-lg-2 mb-4 mb-lg-0">
                                <div class="mid_nav__title">
                                    Пресс-центр
                                </div>
                                <ul class="list-unstyled mid_nav__list">
                                    <li><a href="#a">Новости</a></li>
                                    <li><a href="#a">Видео</a></li>
                                    <li><a href="#a">Публикации СМИ</a></li>
                                </ul>
                            </div>
                            <div class="col-5 col-lg-2 mb-4 mb-lg-0">
                                <div class="mid_nav__title">
                                    Контакты
                                </div>
                                <ul class="list-unstyled mid_nav__list">
                                    <li><a href="#a">Офисы продаж</a></li>
                                    <li><a href="#a">Карта проезда</a></li>
                                </ul>
                            </div>
                        </div>
                        <a href="#a" class="btn btn-xlg iconized">
                            <span class="iconized__text">Перейти к проектам</span>
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="24"
                                    height="13">
                                    <use xlink:href="/sprite.svg#arrow_thin1" />
                                </svg>
                            </span>
                        </a>

                    </div>
                    <div class="col-9">
                        <div class="row footerBottom">
                            <div class="col-10 footer__copy">
                                <div class="copyBlock">
                                    Уважаемые посетители сайта, обращаем Ваше внимание, что информация, представленная на данном сайте, носит исключительно информационный характер, не является офертой или публичной офертой. Указанные на сайте цены не являются окончательными, застройщик может изменить в любое время указанные на сайте цены без какого-либо предварительного уведомления. Цена договора формируется индивидуально и определяется непосредственно при подписании договора с конкретным Клиентом.Качественные характеристики квартир и нежилых помещений, а также все варианты визуализации объекта в целом, приведенные на сайте, не обладают признаками абсолютной идентичности проектной и рабочей документации на строительство объекта. Представленные иллюстрации дизайн-проектов квартир являются примером организации пространства, меблировки и сочетания цветов. Часть информации на данном сайте относится к прошлому и возможно устарела, такая информация должна восприниматься как предоставленная на дату своей первичной публикации.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>