<nav class="land_nav navbar" id="page_navbar" style="z-index: 9999">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a href="#section_2" class="land_nav__item land_nav__link nav-link _scroll_to">
                <span class="land_nav__text">О компании</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#section_3 > .insider > div" class="land_nav__item land_nav__link nav-link _scroll_to">
                <span class="land_nav__text">Наши преимущества</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#section_4" class="land_nav__item land_nav__link nav-link _scroll_to">
                <span class="land_nav__text">Новости</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="#section_5" class="land_nav__item land_nav__link nav-link _scroll_to">
                <span class="land_nav__text">Контакты</span>
            </a>
        </li>
    </ul>
</nav>