<div class="container container-lg container__mobile_full_width h-100">
    <div class="row h-100">
        <div class="col-10 ghost_tabs__container uvSlider" style="height: 100%;">
            <ul class="ghost_tabs__nav nav nav-pills mt-0 mb-auto w-100 pt-4 pt-lg-0" id="pills-tab" style="position: relative; z-index: 9;">
                <li class="uvSlider__pagination__item active">
                    <a class="nav-link-underground" id="pills-about-tab"><span>О компании</span></a>
                </li>
                <li class="uvSlider__pagination__item">
                    <a class="nav-link-underground" id="pills-team-tab"><span>Команда</span></a>
                </li>
                <li class="uvSlider__pagination__item">
                    <a class="nav-link-underground" id="pills-tenders-tab"><span>Тендеры</span></a>
                </li>
                <li class="uvSlider__pagination__item">
                    <a class="nav-link-underground" id="pills-for_investors-tab"><span>Инвесторам</span></a>
                </li>
                <li class="uvSlider__pagination__item">
                    <a class="nav-link-underground" id="pills-vacancies-tab"><span>Вакансии</span></a>
                </li>
            </ul>
            <div class="uvSliderItemsList ghost_tabs__tab_content mb-0 mt-auto w-100" style="flex-grow: 1;">
                <div class="uvSliderItem h-100 active" id="pills-about">
                    <div class="backgroundText uvSliderItem__mainText">О компании</div>
                    <div class="row" style="height: 100%;">
                        <div class="col-10 col-lg-5" style="position: relative; height: 100%;">
                            <div class="ghost_tabs__tab_content_bg uvSliderItem__mainImage h-100 w-100" style="background-image: url(./images/agent.png);"></div>
                        </div>
                        <div class="col-10 col-lg-5 pt-4 pt-lg-5">
                            <div class="ghost_tabs__tab_content_width-restrict uvSliderItem__mainText pl-0">
                                <h1>
                                    <small class="supTitle">О нашей компании</small><br>
                                    First Development Group
                                </h1>
                                <p style="font-size: 17px; margin-bottom: 60px;">
                                    OOO First Development Group образовалась в 2017г, является дочерней компанией крупного
                                    иностранного холдинга Gesheft Group, на данный момент Gesheft Invest, который был основан
                                    1998 году. 
                                    Эта полностью сформированная команда сертифицированных специалистов и инженеров,
                                    выполняющая весь комплекс работ в строительстве.
                                </p>
                                <div class="num_hooks">
                                    <div class="num_hooks__item">
                                        <div class="num_hooks__item_num">21<small> Год</small></div>
                                        <div class="num_hooks__item_text">Опыта <br>работы</div>
                                    </div>
                                    <div class="num_hooks__item">
                                        <div class="num_hooks__item_num">37</div>
                                        <div class="num_hooks__item_text">Завершенных <br>проектов</div>
                                    </div>
                                    <div class="num_hooks__item">
                                        <div class="num_hooks__item_num">95,4<small> Га</small></div>
                                        <div class="num_hooks__item_text">Площадь <br>застройки</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uvSliderItem h-100" id="pills-team">
                    {{!-- <div class="backgroundText uvSliderItem__mainText">Команда</div> --}}
                    <div class="row" style="height: 100%;">
                        <div class="col-10">
                            <div class="uvSliderItem__mainText pl-0 pb-0 pt-0" style="max-width: 100%;">
                                <h1>
                                    <small class="supTitle">First Development Group</small><br>
                                    Наша команда
                                </h1>
                            
                                <div class="row text-center mb-4">
                                    <div class="col-3-3">
                                        <div class="team_item__img mb-4">
                                            <img src="./images/agent_crop.png" alt="" style="max-width: 100%;">
                                        </div>
                                        <h2>Ахмадов Ахмад</h2>
                                        <p style="line-height: 1;">Генеральный директор</p>
                                    </div>
                                    <div class="col-3-3">
                                        <div class="team_item__img mb-4">
                                            <img src="./images/agent3.jpg" alt="" style="max-width: 100%;">
                                        </div>
                                        <h2>Фролов Дмитрий</h2>
                                        <p style="line-height: 1;">Главный архитектор</p>
                                    </div>
                                    <div class="col-3-3">
                                        <div class="team_item__img mb-4">
                                            <img src="./images/agent2.png" alt="" style="max-width: 100%;">
                                        </div>
                                        <h2>Обухов Александр</h2>
                                        <p style="line-height: 1;">Дизайнер интерьеров</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uvSliderItem h-100 " id="pills-tenders">
                    {{!-- <div class="backgroundText uvSliderItem__mainText">Тендеры</div> --}}
                    <div class="row">
                        {{!-- <div class="col-10 col-lg-5" style="position: relative; height: 100%;">
                            <div class="ghost_tabs__tab_content_bg uvSliderItem__mainImage h-100 w-100" style="background-image: url(./images/content_img_man.png);"></div>
                        </div> --}}
                        <div class="col-10 col-lg-10 pt-0">
                            <div class="uvSliderItem__mainText pl-0 pb-5" style="font-size: 18px; line-height: 1.4; max-width: 800px;">
                                <h1>
                                    <small class="supTitle">First Development Group</small><br>
                                    Тендеры
                                </h1>
                                <h2>Поставка материалов и оборудования</h2>
                                <ul>
                                    <li>Коммерческие предложения отправлять на электронный адрес <a href="mailto:kp@fdg.uz">kp@fdg.uz</a></li>
                                    <li>Тема письма: Наименование материалов/оборудования. Наименование Компании</li>
                                </ul><br>
                                <h2>Сведения о компании должны включать в себя:</h2>
                                <ul>
                                    <li>Полное наименование компании</li>
                                    <li>Виды деятельности</li>
                                    <li>Юридический и почтовый адрес организации</li>
                                    <li>Телефон, факс, адрес электронной почты</li>
                                    <li>Фамилия, Имя, Отчество Генерального директора</li>
                                    <li>Банковские реквизиты</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uvSliderItem h-100" id="pills-for_investors">
                    <div class="backgroundText uvSliderItem__mainText">Инвесторам</div>
                    <div class="row" style="height: 100%;">
                        <div class="col-10 col-lg-5" style="position: relative; height: 100%;">
                            <div class="ghost_tabs__tab_content_bg uvSliderItem__mainImage h-100 w-100" style="background-image: url(./images/content_img_man.png);"></div>
                        </div>
                        <div class="col-10 col-lg-5 pt-4 pt-lg-5">
                            <div class="ghost_tabs__tab_content_width-restrict uvSliderItem__mainText pl-0">
                                <h1>
                                    <small class="supTitle">О нашей компании</small><br>
                                    First Development Group
                                </h1>
                                <p style="font-size: 17px; margin-bottom: 60px;">
                                    OOO First Development Group образовалась в 2017г, является дочерней компанией крупного
                                    иностранного холдинга Gesheft Group, на данный момент Gesheft Invest, который был основан
                                    1998 году. 
                                    Эта полностью сформированная команда сертифицированных специалистов и инженеров,
                                    выполняющая весь комплекс работ в строительстве.
                                </p>
                                <div class="num_hooks">
                                    <div class="num_hooks__item">
                                        <div class="num_hooks__item_num">21<small> Год</small></div>
                                        <div class="num_hooks__item_text">Опыта <br>работы</div>
                                    </div>
                                    <div class="num_hooks__item">
                                        <div class="num_hooks__item_num">37</div>
                                        <div class="num_hooks__item_text">Завершенных <br>проектов</div>
                                    </div>
                                    <div class="num_hooks__item">
                                        <div class="num_hooks__item_num">95,4<small> Га</small></div>
                                        <div class="num_hooks__item_text">Площадь <br>застройки</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="uvSliderItem h-100" id="pills-vacancies">
                    <div class="backgroundText uvSliderItem__mainText">Вакансии</div>
                    <div class="row" style="height: 100%;">
                        <div class="col-10 col-lg-5" style="position: relative; height: 100%;">
                            <div class="ghost_tabs__tab_content_bg uvSliderItem__mainImage h-100 w-100" style="background-image: url(./images/content_img_man.png);"></div>
                        </div>
                        <div class="col-10 col-lg-5 pt-4 pt-lg-5">
                            <div class="ghost_tabs__tab_content_width-restrict uvSliderItem__mainText pl-0">
                                <h1>
                                    <small class="supTitle">О нашей компании</small><br>
                                    First Development Group
                                </h1>
                                <p style="font-size: 17px; margin-bottom: 60px;">
                                    OOO First Development Group образовалась в 2017г, является дочерней компанией крупного
                                    иностранного холдинга Gesheft Group, на данный момент Gesheft Invest, который был основан
                                    1998 году. 
                                    Эта полностью сформированная команда сертифицированных специалистов и инженеров,
                                    выполняющая весь комплекс работ в строительстве.
                                </p>
                                <div class="num_hooks">
                                    <div class="num_hooks__item">
                                        <div class="num_hooks__item_num">21<small> Год</small></div>
                                        <div class="num_hooks__item_text">Опыта <br>работы</div>
                                    </div>
                                    <div class="num_hooks__item">
                                        <div class="num_hooks__item_num">37</div>
                                        <div class="num_hooks__item_text">Завершенных <br>проектов</div>
                                    </div>
                                    <div class="num_hooks__item">
                                        <div class="num_hooks__item_num">95,4<small> Га</small></div>
                                        <div class="num_hooks__item_text">Площадь <br>застройки</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>