<div class="ghost_tabs__wrap appearAnimated">
    <div class="container container-lg h-100">
        <div class="row h-100">
            <div class="col-9 ml-auto mr-auto ghost_tabs__container">
                <ul class="ghost_tabs__nav nav nav-pills mt-0 mb-auto w-100 pt-4 pt-lg-0" id="pills-tab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link-underground active" id="pills-about-tab" data-toggle="pill" href="#pills-about" role="tab" aria-controls="pills-about" aria-selected="true"><span>О компании</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-underground" id="pills-team-tab" data-toggle="pill" href="#pills-team" role="tab" aria-controls="pills-team" aria-selected="false"><span>Команда</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-underground" id="pills-tenders-tab" data-toggle="pill" href="#pills-tenders" role="tab" aria-controls="pills-tenders" aria-selected="false"><span>Тендеры</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-underground" id="pills-for_investors-tab" data-toggle="pill" href="#pills-for_investors" role="tab" aria-controls="pills-for_investors" aria-selected="false"><span>Инвесторам</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-underground" id="pills-vacancies-tab" data-toggle="pill" href="#pills-vacancies" role="tab" aria-controls="pills-vacancies" aria-selected="false"><span>Вакансии</span></a>
                    </li>
                </ul>
                <div class="ghost_tabs__tab_content tab-content mb-0 mt-auto w-100" id="pills-tabContent" style="flex-grow: 1;">
                    <div class="tab-pane fade show active" id="pills-about" role="tabpanel" aria-labelledby="pills-about-tab" style="height: 100%;">
                        <div class="backgroundText">О компании</div>
                        <div class="row" style="height: 100%;">
                            <div class="col-10 col-lg-5 ghost_tabs__tab_content_bg" style="background-image: url(./images/content_img_man.png);"></div>
                            <div class="col-10 col-lg-5 pt-4 pt-lg-5">
                                <div class="ghost_tabs__tab_content_width-restrict">
                                    <h1>
                                        <small class="supTitle">О нашей компании</small><br>
                                        First Development Group
                                    </h1>
                                    <p style="font-size: 17px; margin-bottom: 60px;">
                                        OOO First Development Group образовалась в 2017г, является дочерней компанией крупного
                                        иностранного холдинга Gesheft Group, на данный момент Gesheft Invest, который был основан
                                        1998 году. 
                                        Эта полностью сформированная команда сертифицированных специалистов и инженеров,
                                        выполняющая весь комплекс работ в строительстве.
                                    </p>
                                    <div class="num_hooks">
                                        <div class="num_hooks__item">
                                            <div class="num_hooks__item_num">21<small> Год</small></div>
                                            <div class="num_hooks__item_text">Опыта <br>работы</div>
                                        </div>
                                        <div class="num_hooks__item">
                                            <div class="num_hooks__item_num">37</div>
                                            <div class="num_hooks__item_text">Завершенных <br>проектов</div>
                                        </div>
                                        <div class="num_hooks__item">
                                            <div class="num_hooks__item_num">95,4<small> Га</small></div>
                                            <div class="num_hooks__item_text">Площадь <br>застройки</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="pills-team" role="tabpanel" aria-labelledby="pills-team-tab">...</div>
                    <div class="tab-pane fade" id="pills-tenders" role="tabpanel" aria-labelledby="pills-tenders-tab">...</div>
                    <div class="tab-pane fade" id="pills-for_investors" role="tabpanel" aria-labelledby="pills-for_investors-tab">...</div>
                    <div class="tab-pane fade" id="pills-vacancies" role="tabpanel" aria-labelledby="pills-vacancies-tab">...</div>
                </div>

            </div>
        </div>
    </div>
</div>