{{!-- <div class="ghost_tabs__wrap appearAnimated"> --}}
<div class="ghost_tabs__wrap">
    <div class="container container-lg container__mobile_full_width h-100">
        <div class="row h-100">
            <div class="col-10 ghost_tabs__container uvSlider" style="height: 100%;">
                <ul class="ghost_tabs__nav nav nav-pills mt-0 mb-auto w-100 pt-4 pt-lg-0" id="pills-tab" style="position: relative; z-index: 9;">
                    <li class="uvSlider__pagination__item active">
                        <a class="nav-link-underground" id="pills-about-tab"><span>О компании</span></a>
                    </li>
                    <li class="uvSlider__pagination__item">
                        <a class="nav-link-underground" id="pills-tenders-tab"><span>Тендеры</span></a>
                    </li>
                    <li class="uvSlider__pagination__item">
                        <a class="nav-link-underground" id="pills-vacancies-tab"><span>Вакансии</span></a>
                    </li>
                </ul>
                <div class="uvSliderItemsList ghost_tabs__tab_content mb-0 mt-auto w-100" style="flex-grow: 1;">
                    <div class="uvSliderItem h-100 active" id="pills-about">
                        <div class="backgroundText uvSliderItem__mainText">О компании</div>
                        <div class="row _height_recalc" style="height: 100%;">
                            <div class="col-10 col-lg-4 col-xlg-5 order-2 order-lg-1" style="position: relative; height: 100%;">
                                <div class="ghost_tabs__tab_content_bg uvSliderItem__mainImage h-100 w-100" style="background-image: url(./images/agent.png);"></div>
                            </div>
                            <div class="col-8 mx-auto col-lg-6 col-xlg-5 pt-0 order-1 order-lg-2">
                                <div class="ghost_tabs__tab_content_width-restrict uvSliderItem__mainText pl-0">
                                    <h1>
                                        <small class="supTitle">О нашей компании</small><br>
                                        First Development Group
                                    </h1>
                                    <p style="font-size: 17px; margin-bottom: 60px;">
                                        <p>FDG — группа компаний, строящих надежные и современные дома по&nbsp;доступным ценам.</p>
                                        <p><b>Мы отвечаем за строительство от начала и до конца:</b>
                                            <br>отбираем стройматериалы, возводим объект и управляем готовым жилым комплексом.</p>
                                        <p>Работаем на совесть — не завышаем цены и сдаем квартиры точно в срок.
                                            Строительство ведется при участии зарубежных инвесторов, процесс контролируется французскими и российскими специалистами.
                                            Мы не экономим на стройматериалах и поэтому ручаемся за безопасность наших домов.</p>
                                    </p>
                                    <div class="text-right" style="font-size: 17px;">
                                        <b>Ойбек Шодиев</b><br>
                                        Генеральный Директор FDG
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uvSliderItem h-100 " id="pills-tenders">
                        {{!-- <div class="backgroundText uvSliderItem__mainText">Тендеры</div> --}}
                        <div class="row _height_recalc">
                            <div class="col-8 mx-auto col-lg-9 pt-0">
                                <div class="uvSliderItem__mainText pl-0 pb-5" style="font-size: 18px; line-height: 1.4; max-width: 100%;">
                                    <h1>
                                        <small class="supTitle">First Development Group</small><br>
                                        Тендеры
                                    </h1>
                                    <div class="row">
                                        <div class="col-10 col-lg-5 pt-0 mb-5">
                                            <h2 class="mb-4">Есть продукт, идея, проект, идея в этой сфере?</h2>
                                            <p class="mb-3">Обратитесь к нам в первую очередь. Мы оценим. Потому что это нам необходимо.</p>
                                            <p class="mb-3">Ведь, возможно, именно у вас есть что-то, что нам нужно здесь и сейчас. Напишите об этом.</p>
                                            <p class="mb-3">Поставка материалов и оборудования</p>
                                            <p class="mb-3">Коммерческое предложение отправлять на адрес <a href="mailto:kp@fdg.uz">kp@fdg.uz</a></p>
                                            <p class="mb-3"><b>Тема  письма:</b> Наименование материалов оборудования. Наименование компании.</p>
                                        </div>
                                        <div class="col-10 col-lg-5 pt-0 mb-5">
                                            <h2 class="mb-4">Сведения о компании должны включать в себя:</h2>
                                            <ul>
                                                <li>Полное наименование компании</li>
                                                <li>Виды деятельности</li>
                                                <li>Юридический и почтовый адрес</li>
                                                <li>Телефон, факс. Адрес электронной почты</li>
                                                <li>ФИО генерального директора</li>
                                                <li>Банковские реквизиты</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="uvSliderItem h-100" id="pills-vacancies">
                        <div class="backgroundText uvSliderItem__mainText">Вакансии</div>
                        <div class="row _height_recalc" style="height: 100%;">
                            <div class="col-10 col-lg-5 order-2 order-lg-1" style="position: relative; height: 100%;">
                                <div class="ghost_tabs__tab_content_bg uvSliderItem__mainImage h-100 w-100" style="background-image: url(./images/content_img_man.png);"></div>
                            </div>
                            <div class="col-8 mx-auto col-lg-5 pt-4 pt-lg-5 order-1 order-lg-2">
                                <div class="ghost_tabs__tab_content_width-restrict uvSliderItem__mainText pl-0">
                                    <h1>
                                        <small class="supTitle">Вакансии</small><br>
                                        Кто нам нужен?
                                    </h1>
                                    <p style="font-size: 17px;">
                                        Главное – желание развиваться, ваши человеческие качества и любовь к работе. 
                                    </p>
                                    <p style="font-size: 17px;">
                                        Пишите нам на <a href="mailto:jobs@fdg.uz">jobs@fdg.uz</a> чтобы выслать резюме и договориться о собеседовании.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>