<!-- + map block -->

    <section class="section main_block py-0 contacts_block" style="box-shadow: 0 20px 30px -20px rgba(0,0,0,.18);">
        <div class="container-fluid container-lg pl-lg-5">
            <div class="row">
                <div class="col-10 col-lg-5 col-xlg-4 py-5" style="display: flex; align-items: center; flex-wrap: wrap;">
                    <div>
                        <h1>Отдел Продаж</h1>
                        <div class="contacts_info_block row">
                            <div class="contacts_info_block__item col-sm-5">
                                <div class="contacts_info_block__title">Адрес:</div>
                                <div class="contacts_info_block__text">г. Ташкент, Яшнабадский р-н, <br>ул. Паркентская
                                    180.</div>
                            </div>
                            <div class="contacts_info_block__item col-sm-5">
                                <div class="contacts_info_block__title">Время работы</div>
                                <div class="contacts_info_block__text">Пн - Пт 9:00 - 19:00 <br>Сб - Вс 10:00 - 16:00
                                </div>
                            </div>
                            <div class="contacts_info_block__item col-sm-5">
                                <div class="contacts_info_block__title">Номер телефона</div>
                                <div class="contacts_info_block__text">(97) 342-67-76 <br>(99) 860-80-08</div>
                            </div>
                            <div class="contacts_info_block__item col-sm-5">
                                <div class="contacts_info_block__title">Электронная почта</div>
                                <div class="contacts_info_block__text">marketing@domain.uz</div>
                            </div>
                        </div>

                        <form>
                            <h2 class="text-lg">Написать нам</h2>

                            <div class="form_inputs row">
                                <div class="col-sm-10 col-3-3">
                                    <div class="form-group">
                                        <label class="floating_lable" for="exampleInputEmail1">Ваше Имя</label>
                                        <input type="email" class="form-control form-control-lg"
                                            id="exampleInputEmail1">
                                        {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> --}}
                                    </div>
                                </div>
                                <div class="col-sm-10 col-3-3">
                                    <div class="form-group">
                                        <label class="floating_lable" for="exampleInputEmail1">Ваш Email</label>
                                        <input type="text" class="form-control form-control-lg" id="exampleInputEmail1">
                                        {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> --}}
                                    </div>
                                </div>
                                <div class="col-sm-10 col-3-3">
                                    <div class="form-group">
                                        <label class="floating_lable" for="exampleInputEmail1">Телефон</label>
                                        <input type="tel" class="form-control form-control-lg" id="exampleInputEmail1">
                                        {{!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> --}}
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="form_inputs">
                                        <div class="form-group">
                                            <label class="floating_lable" for="exampleFormControlTextarea1">Сообщение</label>
                                            <textarea class="form-control form-control-lg" id="exampleFormControlTextarea1"
                                                style="resize: none;"
                                                rows="3"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center text-lg-left">
                                <button class="btn btn-primary btn-lg iconized iconized_lg__btn" type="submit">
                                    <span class="iconized__text">
                                        Отправить
                                    </span>
                                    <span class="iconized__icon">
                                        <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="41" height="18">
                                            <use xlink:href="/sprite.svg#mail_box" />
                                        </svg>
                                    </span>
                                </button>
                            </div>

                        </form>
                    </div>
                </div>
                <div class="d-none d-xlg-block col-1"></div>
                <div class="col-10 col-lg-5 mr-0 pr-lg-0" style="min-height: 100vh">
                    <img src="./images/map.jpg" alt="" style="height: 100%; width: 100%; object-fit: cover;">
                </div>
            </div>
        </div>
    </section>
<!-- - map block -->