<div class="headroom">
    <div class="d-xl-none popupNavTrigger_parent head_nav__item">
        <button data-toggle="modal" data-target="#mobile_menu" type="button" class="popupNavTrigger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>

        <div class="hamburger" id="hamburger-1" role="button"></div>
    </div>
    
    <a href="/" class="horizontal_logo">
        <img src="/images/logo_sm.png" alt="" style="max-height: 40px;">
    </a>

    <button  data-toggle="modal" data-target="#mobile_callback" type="button" class="popupNavTrigger"></a>
        <span class="btn_round__icon">
            <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="22" height="22">
                <use xlink:href="/sprite.svg#phone" />
            </svg>
        </span>
    </button>
</div>

<!-- + mobile popup navigation -->
<div class="mPopupNav collapse modal _popupNav" id="mobile_menu">
    <div class="mPopupNav__dialog container modal-dialog pr-0 pl-0">
        <div class="_scrollable ps">
            <div class="mPopupNav__inner modal-content px-4 d-flex align-self-center flex-wrap">

                <div class="mPopupNav__logo text-center">
                    <a href="/" title="First Development Group" class="logo d-block">
                        <img src="/images/logo_v2.png" alt="First Development Group">
                    </a>
                </div>

                <ul class="list-unstyled popupNav__menu mt-5 mb-auto">
                    <li><a href="/">Главная</a></li>
                    <li><a href="/#section_2" class="_hash_link_m">О компании</a></li>
                    <li><a href="/projects">Проекты</a>
                        <ul class="list-unstyled mt-3 ml-4">
                            <li class="mb-3"><a href="/riverside">RiverSide</a></li>
                            <li><a href="/parkent-plaza">Parkent Plaza</a></li>
                        </ul>
                    </li>
                    <li><a href="/#section_4" class="_hash_link_m">Новости</a></li>
                </ul>
                <div class="mt-auto mb-5">
                    <div class="phoneBlock phoneBlock_lg">
                        <div>
                            <div class="mt-4">Время работы</div>
                            <small>Ежедневно: с 9:00 по 18:00</small>

                            <div class="mt-4 mb-2">Телефоны</div>
                            <div style="font-size: 18px; line-height: 1.8;">
                                <!--<a href="tel:+998977485225">(97) 748-52-25</a> <br>
                            <a href="tel:+998973426776">(97) 342-67-76</a>-->
                                <a href="tel:+998781505511">(78) 150-55-11</a>
                            </div>

                            <div class="mt-4">Адрес компании</div>
                            <small>
                                г.&nbsp;Ташкент, Яшнабадский&nbsp;р-н, <br>ул.&nbsp;Паркентская&nbsp;180
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- - mobile popup navigation -->


<div class="mPopupNav collapse modal _popupNav" id="mobile_callback">
    <div class="mPopupNav__dialog container modal-dialog pr-0 pl-0">
        <div class="_scrollable ps">
            <div class="mPopupNav__inner modal-content px-4 d-flex align-self-center flex-wrap">

                <div class="row w-100 my-auto">
                    <div class="col-10 mx-auto">
                        <form action="./callback.php" id="callback_form_2">
                            <h1 class="text-center">Заказать звонок</h1>
                                
                            <div class="form_inputs">
                                <div class="form-group">
                                    <label class="floating_lable" for="callback_nameInput">Ваше Имя</label>
                                    <input type="text" name="name" class="form-control form-control-lg"
                                        id="callback_nameInput" required>
                                </div>
                                <small class="error_message input_name"></small>
                            </div>
                            <div class="form_inputs">
                                <div class="form-group">
                                    <label class="floating_lable" for="callback_phoneInput">Телефон</label>
                                    <input type="tel" name="phone" class="form-control form-control-lg"
                                        id="callback_phoneInput" required>
                                </div>
                                <small class="error_message input_phone"></small>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary btn-lg iconized iconized_lg__btn" type="submit">
                                    <span class="iconized__icon">
                                        <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="41"
                                            height="18">
                                            <use xlink:href="/sprite.svg#mail" />
                                        </svg>
                                    </span>
                                    <span class="iconized__text">
                                        Отправить
                                    </span>
                                </button>
                            </div>
                            <div class="text-center mb-3">
                                <small class="sum_notification"></small>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- + desctop popup navigation -->
<div class="d-none d-lg-block">

    <div class="modal _popupNav popupNav" id="popup_nav0">
        <div class="container modal-dialog pr-0 pl-0 popupNav__dialog" id="popupNav_scrollable0">
            <div class="modal-content d-flex align-items-center popupNav__inner">
                <div class="row w-100 my-auto vertical_popup_nav">
                    <div class="col-9 mx-auto">
                        <div class="row">
                            <div class="col-3 text-right vertical_popup_nav__col_left">
                                <div class="mid_nav__title">
                                    Меню
                                </div>
                                <ul class="list-unstyled mid_nav__list">
                                    <li><a href="/">Главная</a></li>
                                    <li><a href="/#section_2" class="_hash_link">О компании</a></li>
                                    <li><a href="/projects">Проекты</a>
                                        <ul class="list-unstyled">
                                            <li><a href="/riverside">RiverSide</a></li>
                                            <li><a href="/parkent-plaza">Parkent Plaza</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/#section_4" class="_hash_link">Новости</a></li>
                                </ul>
                            </div>
                            <div class="col-1 vertical_popup_nav__col_sep"></div>
                            <div class="col-6 vertical_popup_nav__col_right">
                                <div class="mid_nav__title">
                                    Контакты
                                </div>
                                <div class="mb-3">
                                    <div class="phoneBlock phoneBlock_lg">
                                        <a href="mailto:info@fdg.uz">info@fdg.uz</a>
                                    </div>
                                    <div class="phoneBlock phoneBlock_lg">
                                        <!--<a href="tel:+998977485225">(97) 748-52-25</a> <br>
                                    <a href="tel:+998973426776">(97) 342-67-76</a>-->
                                        <a href="tel:+998781505511">(78) 150-55-11</a>
                                    </div>
                                    <div class="phoneBlock__schedule">
                                        <strong>Время работы</strong><br>
                                        Ежедневно: с&nbsp;9:00&nbsp;до&nbsp;18:00
                                    </div>
                                </div>
                                <div class="mid_nav__title">Адрес компании</div>
                                <div class="mid_nav_address">
                                    г.&nbsp;Ташкент, Яшнабадский&nbsp;р-н, <br>ул.&nbsp;Паркентская&nbsp;180
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="modal _popupNav popupNav popupNav_horizontal popupNav_tel" id="popup_nav1">
        <div class="container modal-dialog pr-0 pl-0 popupNav__dialog full_width" id="popupNav_scrollable1">
            <div class="modal-content d-flex align-items-center popupNav__inner">
                <div class="row w-100 my-auto">
                    <div class="col-9 col-xlg-6 mx-auto">
                        <form action="./callback.php" id="callback_form">
                            <h1 class="text-center">Заказать звонок</h1>
                            
                            <div class="row w-100 my-auto">
                                <div class="col-4">
                                    <div class="form_inputs">
                                        <div class="form-group">
                                            <label class="floating_lable" for="callback_nameInput">Ваше Имя</label>
                                            <input type="text" name="name" class="form-control form-control-lg"
                                                id="callback_nameInput" required>
                                        </div>
                                        <small class="error_message input_name"></small>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form_inputs">
                                        <div class="form-group">
                                            <label class="floating_lable" for="callback_phoneInput">Телефон</label>
                                            <input type="tel" name="phone" class="form-control form-control-lg"
                                                id="callback_phoneInput" required>
                                        </div>
                                        <small class="error_message input_phone"></small>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="text-center">
                                        <button class="btn btn-primary btn-lg iconized iconized_lg__btn" type="submit">
                                            <span class="iconized__icon">
                                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="41"
                                                    height="18">
                                                    <use xlink:href="/sprite.svg#mail" />
                                                </svg>
                                            </span>
                                            <span class="iconized__text">
                                                Отправить
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mb-3">
                                <small class="sum_notification"></small>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed popupNav_bg" id="popupNav_bg"></div>

</div>
<!-- - desctop popup navigation -->


<nav class="d-none d-xl-block mainNavigation mainNavigation_horizontal">
    <div class="container-fluid" style="max-width: 1628px;">
        <div class="row">
            <div class="col-10 d-flex justify-content-between align-items-center changeH">
                <div class="ml-0 mr-auto d-flex align-items-center horizontal_nav_left">
                    <a href="/" class="horizontal_logo mr-3">
                        <img src="/images/logo_lg.png" alt="">
                    </a>
                    
                    <ul class="list-unstyled d-flex align-items-center ml-3">
                        <li><a href="/">Главная</a></li>
                        <li><a href="/#section_2" class="_hash_link">О компании</a></li>
                        <li><a href="/projects">Проекты</a></li>
                        <li><a href="/#section_4" class="_hash_link">Новости</a></li>
                        <li><a href="/#section_5" class="_hash_link">Контакты</a></li>
                    </ul>
                </div>

                <div class="mr-0 ml-auto  d-flex align-items-center">
                    <div class="phoneBlock phoneBlock_lg mr-5 text-right">
                        <a href="tel:+998781505511"><span class="text-muted">+998 (78)</span> 150-55-11</a>
                        <br>
                        <small><strong>Пн-Сб</strong> с&nbsp;10:00&nbsp;до&nbsp;20:00 <strong>Вс</strong> с&nbsp;10:00&nbsp;до&nbsp;18:00</small>
                    </div>
                    <a href="#popup_nav1" data-target="#popup_nav1" class="btn btn-primary iconized iconized_lg__btn _popup_call_btn">
                        <span class="iconized__icon">
                            <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="22" height="22">
                                <use xlink:href="/sprite.svg#phone" />
                            </svg>
                        </span>
                        <span class="iconized__text">
                            Заказать звонок
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>