<!-- + mobile popup navigation -->
<div class="mPopupNav collapse modal _popupNav" id="mobile_menu">
    <div class="mPopupNav__dialog container modal-dialog pr-0 pl-0">
        <div class="_scrollable ps">
            <div class="mPopupNav__inner modal-content px-4 d-flex align-self-center flex-wrap">

                <div class="mPopupNav__logo text-center">
                    <a href="#a" title="Concept" class="logo d-block">
                        <img src="images/logo_v2.png" alt="First Development Group">
                    </a>
                </div>


                {{!-- <div class="w-100 mt-5 mPopupNav__menu">
                    <ul class="list-unstyled">
                        <li class="mPopupNav__link hasChild">
                            <a href="#a">Все категории</a>
                            <div class="childItem">
                                <div class="childItem__goBackBtn _level_1">
                                    <span>Все категории</span>
                                </div>
                                <div class="mPopupNavScroll ps">
                                    <ul class="childItem__childNav">
                                        <li class="mPopupNav__link"><a href="#a">Красота</a></li>
                                        <li class="mPopupNav__link"><a href="#a">Уход за волосами/Барбершопы</a></li>
                                        <li class="mPopupNav__link"><a href="#a">Эпиляция</a></li>
                                        <li class="mPopupNav__link"><a href="#a">Косметология</a></li>
                                        <li class="mPopupNav__link"><a href="#a">SPA, массаж</a></li>
                                        <li class="mPopupNav__link"><a href="#a">Маникюр, педикюр</a></li>
                                        <li class="mPopupNav__link"><a href="#a">Коррекция фигуры</a></li>
                                        <li class="mPopupNav__link"><a href="#a">Другое</a></li>
                                    </ul>
                                    <div class="ps__rail-x" style="left: 0px; bottom: 0px;">
                                        <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                                    </div>
                                    <div class="ps__rail-y" style="top: 0px; right: 0px;">
                                        <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 0px;"></div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div> --}}
                <ul class="list-unstyled popupNav__menu mt-5 mb-auto">
                    <li class="mb-3">
                        <a href="#a">Главная</a>
                    </li>
                    <li class="mb-3">
                        <a href="#a">Планировки</a>
                    </li>
                    <li class="mb-3">
                        <a href="#a">Характеристики комплекса</a>
                    </li>
                    <li class="mb-3">
                        <a href="#a">Документация</a>
                    </li>
                    <li class="mb-3">
                        <a href="#a">Преимущества</a>
                    </li>
                    <li class="mb-3">
                        <a href="#a">Акции</a>
                    </li>
                    <li class="mb-3">
                        <a href="#a">Как купить</a>
                    </li>
                    <li class="mb-3">
                        <a href="#a">Новости</a>
                    </li>
                    <li class="mb-3">
                        <a href="#a">Ход строительства</a>
                    </li>
                    <li class="mb-3">
                        <a href="#a">Контакты</a>
                    </li>
                </ul>
                <div class="mt-auto mb-5">
                    <div class="phoneBlock phoneBlock_lg mt-5">
                        <div>
                            <strong><a href="tel:+998608008">+99 860-80-08</a></strong>
                            <br>
                            <small>Понедельник - Пятница: с 8:00 по 16:00</small>
                        </div>
                    </div>
                    {{!-- <a href="#popup_nav1" class="btn btn-primary btn-lg iconized iconized_lg__btn _popup_call_btn" data-target="#popup_nav1"
                    href="#popup_nav1">
                        <span class="iconized__icon">
                            <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="22" height="22">
                                <use xlink:href="/sprite.svg#phone"></use>
                            </svg>
                        </span>
                        <span class="iconized__text">
                            Заказать звонок
                        </span>
                    </a> --}}
                </div>
            </div>
        </div>
    </div>
</div>
<!-- - mobile popup navigation -->



<!-- + desctop popup navigation -->
<div class="d-none d-xl-block">

    {{!-- <div class="modal _popupNav popupNav" id="popup_nav0" style="opacity: 1; transform: translateX(-1440px);">
        <div class="container modal-dialog pr-0 pl-0 popupNav__dialog" id="popupNav_scrollable0">
            <div class="modal-content d-flex align-items-center popupNav__inner">
                <div class="row w-100 mt-5 mb-5">
                    <div class="col-8 mx-auto text-center">
                        <img src="./images/rvs-logo.png" alt="">
                    </div>
                </div>
                <div class="row w-100 mt-5 my-auto text-center">
                    <div class="col-8 mx-auto">
                        
                        <div class="row mb-5 justify-content-around">
                            <div class="col-5 col-lg-2 mb-4 mb-lg-0">
                                <div class="mid_nav__title">
                                    Компания
                                </div>
                                <ul class="list-unstyled mid_nav__list">
                                    <li><a href="#a">О компании</a></li>
                                    <li><a href="#a">Команда</a></li>
                                    <li><a href="#a">Тендеры</a></li>
                                    <li><a href="#a">Инвесторам</a></li>
                                    <li><a href="#a">Вакансии</a></li>
                                    <li><a href="#a">Преимущества</a></li>
                                </ul>
                            </div>
                            <div class="col-5 col-lg-2 mb-4 mb-lg-0">
                                <div class="mid_nav__title">
                                    Проекты
                                </div>
                                <ul class="list-unstyled mid_nav__list">
                                    <li><a href="#a">Parkent Plaza</a></li>
                                    <li><a href="#a">Riverside</a></li>
                                </ul>
                            </div>
                            <div class="col-5 col-lg-2 mb-4 mb-lg-0">
                                <div class="mid_nav__title">
                                    Пресс-центр
                                </div>
                                <ul class="list-unstyled mid_nav__list">
                                    <li><a href="#a">Новости</a></li>
                                    <li><a href="#a">Видео</a></li>
                                    <li><a href="#a">Публикации СМИ</a></li>
                                </ul>
                            </div>
                            <div class="col-5 col-lg-2 mb-4 mb-lg-0">
                                <div class="mid_nav__title">
                                    Контакты
                                </div>
                                <ul class="list-unstyled mid_nav__list">
                                    <li><a href="#a">Офисы продаж</a></li>
                                    <li><a href="#a">Карта проезда</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="row pt-5 justify-content-around">
                            <div class="col-sm-4 col-xlg-3">
                                <div class="">
                                    <div class="phoneBlock phoneBlock_lg">
                                        <div>
                                            <strong><a href="tel:+998608008">+99 860-80-08</a></strong>
                                            <br>
                                            <small>Понедельник - Пятница: с 8:00 по 16:00</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-xlg-3">
                                <div class="">
                                    <div class="phoneBlock phoneBlock_lg">
                                        <div>
                                            <strong><a href="tel:+998608008">+99 860-80-08</a></strong>
                                            <br>
                                            <small>Понедельник - Пятница: с 8:00 по 16:00</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> --}}


    <div class="modal _popupNav popupNav" id="popup_nav0">
        <div class="container modal-dialog pr-0 pl-0 popupNav__dialog" id="popupNav_scrollable0">
            <div class="modal-content d-flex align-items-center popupNav__inner">
                {{!-- <div class="row w-100 my-auto">
                    <div class="col-8 mx-auto">
                        <img src="./images/rvs-logo.png" alt="">
                    </div>
                </div> --}}
                <div class="row w-100 my-auto vertical_popup_nav">
                    <div class="col-9 mx-auto">
                        <div class="row">
                            <div class="col-3 text-right vertical_popup_nav__col_left">
                                <div class="mid_nav__title">
                                    Меню
                                </div>
                                <ul class="list-unstyled mid_nav__list">
                                    <li><a href="#a">Главная</a></li>
                                    <li><a href="#a">О компании</a></li>
                                    <li><a href="#a">Проекты</a>
                                        <ul class="list-unstyled">
                                            <li><a href="#a">RiverSide</a></li>
                                            <li><a href="#a">Parkent Plaza</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="#a">Новости</a></li>
                                </ul>
                            </div>
                            <div class="col-1 vertical_popup_nav__col_sep"></div>
                            <div class="col-6 vertical_popup_nav__col_right">
                                <div class="mid_nav__title">
                                    Контакты
                                </div>
                                <div class="mb-3">
                                    <div class="phoneBlock phoneBlock_lg">
                                            <a href="mailto:marketing@fdg.uz">marketing@fdg.uz</a>
                                    </div>
                                    <div class="phoneBlock phoneBlock_lg">
                                            <a href="tel:+998973426776">+998 (97) 342-67-76</a>
                                    </div>
                                    <div class="phoneBlock phoneBlock_lg">

                                            <a href="tel:+998377485225">+998 (97) 748-52-25</a>
                                    </div>
                                    <div class="phoneBlock__schedule">
                                            <strong>Время работы</strong><br>
                                            Понедельник - Пятница: с&nbsp;8:00&nbsp;по&nbsp;16:00
                                    </div>
                                </div>
                                <div class="mid_nav__title">Адрес компании</div>
                                <div class="mid_nav_address">
                                    г.&nbsp;Ташкент, Яшнабадский&nbsp;р-н, <br>ул.&nbsp;Паркентская&nbsp;180
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    
    <div class="modal _popupNav popupNav popupNav_tel" id="popup_nav1">
        <div class="container modal-dialog pr-0 pl-0 popupNav__dialog" id="popupNav_scrollable1">
            <div class="modal-content d-flex align-items-center popupNav__inner">
                <div class="row w-100 my-auto">
                    <div class="col-6 mx-auto">
                        <form>
                            <h1 class="text-center">Заказать звонок</h1>
                            
                            <div class="form_inputs">
                                <div class="form-group">
                                    <label class="floating_lable" for="exampleInputEmail1">Ваше Имя</label>
                                    <input type="email" class="form-control form-control-lg" id="exampleInputEmail1">
                                </div>
                                <div class="form-group">
                                    <label class="floating_lable" for="exampleInputEmail1">Телефон</label>
                                    <input type="tel" class="form-control form-control-lg" id="exampleInputEmail1">
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-primary btn-lg iconized iconized_lg__btn" type="submit">
                                    <span class="iconized__icon">
                                        <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="41"
                                            height="18">
                                            <use xlink:href="/sprite.svg#mail" />
                                        </svg>
                                    </span>
                                    <span class="iconized__text">
                                        Отправить 
                                    </span>
                                </button>
                            </div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fixed popupNav_bg" id="popupNav_bg"></div>

</div>
<!-- - desctop popup navigation -->

<nav class="mainNavigation mainNavigation_fixed text-center d-none d-xl-flex align-self-center flex-wrap">
    <div class="w-100 mt-0 mb-auto">
        <ul class="mainNavigation__list list list-unstyled">
            <li class="mainNavigation__link">
                <a class="iconized iconized__list _popup_call_btn hover_scalable_span" data-target="#popup_nav0"
                    href="#popup_nav0">
                    <div class="iconized__icon _nav_icon">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="22px"
                            height="22px" class="_menu">
                            <path class="a1" fill-rule="evenodd" fill="rgb(44, 61, 161)"
                                d="M1.000,-0.000 L21.000,-0.000 C21.552,-0.000 22.000,0.448 22.000,1.000 C22.000,1.552 21.552,2.000 21.000,2.000 L1.000,2.000 C0.448,2.000 -0.000,1.552 -0.000,1.000 C-0.000,0.448 0.448,-0.000 1.000,-0.000 Z" />
                            <path class="a2" fill-rule="evenodd" fill="rgb(44, 61, 161)"
                                d="M1.000,6.000 L21.000,6.000 C21.552,6.000 22.000,6.447 22.000,7.000 C22.000,7.552 21.552,8.000 21.000,8.000 L1.000,8.000 C0.448,8.000 -0.000,7.552 -0.000,7.000 C-0.000,6.447 0.448,6.000 1.000,6.000 Z" />
                            <path class="a3" fill-rule="evenodd" fill="rgb(44, 61, 161)"
                                d="M1.000,12.000 L21.000,12.000 C21.552,12.000 22.000,12.448 22.000,13.000 C22.000,13.552 21.552,14.000 21.000,14.000 L1.000,14.000 C0.448,14.000 -0.000,13.552 -0.000,13.000 C-0.000,12.448 0.448,12.000 1.000,12.000 Z" />
                        </svg>
                        {{!-- <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                            x="0px" y="0px" viewBox="-174 83 16 16" style="enable-background:new -174 83 16 16;"
                            xml:space="preserve" class="_close" width="20" height="20">
                            <path id="close-thin" class="fill_white" d="M-173.5,83l15.5,15.5l-0.5,0.5L-174,83.5L-173.5,83z M-158.5,83l0.5,0.5L-173.5,99l-0.5-0.5
                                    L-158.5,83z" />
                        </svg> --}}
                    </div>
                    <div>Меню</div>
                </a>
            </li>
        </ul>
        <a href="#a">
            <img src="./images/logo_v2.png" alt="">
        </a>
    </div>
    </div>
    <div class="w-100 mb-5 mt-auto">
        <a class="btn_round mb-5 _popup_call_btn" data-target="#popup_nav1"
                    href="#popup_nav1">
            <span class="btn_round__icon">
                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="22" height="22">
                    <use xlink:href="/sprite.svg#phone" />
                </svg>
            </span>
            Заказать <br>звонок
        </a>
        <div class="soc_icons mt-5">
            <div class="soc_icons__item">
                <a href="#a">
                    <img src="./images/s_icon_inst.png" alt="">
                </a>
            </div>
            <div class="soc_icons__item">
                <a href="#a">
                    <img src="./images/s_icon_fb.png" alt="">
                </a>
            </div>
            <div class="soc_icons__item">
                <a href="#a">
                    <img src="./images/s_icon_twitter.png" alt="">
                </a>
            </div>
        </div>
    </div>
</nav>