<div class="pageHeader_v3" style="background: url(images/header-image_v3.jpg) 50% 0 no-repeat; background-size: cover;">
    <div class="container">
        <div class="d-xl-none popupNavTrigger_parent head_nav__item">
            <button data-toggle="modal" data-target="#mobile_menu" type="button" class="popupNavTrigger">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>

            <div class="hamburger" id="hamburger-1" role="button"></div>
        </div>
        <div class="row align-items-end min-height-controll">
            <div class="col-10 col-lg-8 col-xlg-4 mr-auto text-center text-lg-left">
                <div class="header_banner_text" style="color: white;">
                    <div class="header_banner__item">
                        <div class="header_banner_text__title">
                            ЖК “Riverside”
                        </div>
                        <div class="header_banner_text__sub">
                            Твоя река. Твоя жизнь. Твое счастье
                        </div>
                    </div>
                    <div class="header_banner__item">
                        <div class="header__button">
                            <a href="#a" class="btn btn-primary btn-lg iconized iconized_lg__btn">
                                <span class="iconized__text">
                                    Узнать больше
                                </span>
                                <span class="iconized__icon">
                                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="22"
                                        height="13">
                                        <use xlink:href="/sprite.svg#arrow_thin1" />
                                    </svg>
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="header_banner__item">
                        <div class="header__address">
                            г. Ташкент, Яшнабадский р-н, <br>ул. Паркентская 180.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container header_site_contacts_v3">
    <div class="row">
        <div class="col-10 col-3-3 col-xl-2 col-xlg-2 header_site_contacts_v3__item">
            <div class="iconized">
                <span class="iconized__icon">
                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="24"
                        height="24">
                        <use xlink:href="/sprite.svg#phone" />
                    </svg>
                </span>
                <span class="iconized__text">
                    <small>Отдел продаж</small><br>
                    <b><a href="tel:998608008">(99) 860-80-08</a></b>
                </span>
            </div>
        </div>
        <div class="col-10 col-3-3 col-xl-2 col-xlg-2 header_site_contacts_v3__item">
            <div class="iconized">
                <span class="iconized__icon">
                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="24"
                        height="24">
                        <use xlink:href="/sprite.svg#clock" />
                    </svg>
                </span>
                <span class="iconized__text">
                    <small>График работы</small><br>
                    <b>Пн - Пт 8:00-17:00</b>
                </span>
            </div>
        </div>
        <div class="col-10 col-3-3 col-xl-2 col-xlg-2 mr-auto header_site_contacts_v3__item">
            <div class="iconized">
                <span class="iconized__icon">
                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="24"
                        height="24">
                        <use xlink:href="/sprite.svg#resize" />
                    </svg>
                </span>
                <span class="iconized__text">
                    <small>Площадь</small><br>
                    <b>От 60 м<sup>2</sup> до  143 м<sup>2</sup></b>
                </span>
            </div>
        </div>
        <div class="col-10 col-xl-3 col-xlg-2 ml-auto mr-0 text-center text-xl-right header_site_contacts_v3__item">
            <a href="#a" class="btn btn-primary btn-lg iconized iconized_lg__btn">
                <span class="iconized__text">
                    Подобрать квартиру
                </span>
                <span class="iconized__icon">
                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="25"
                        height="11">
                        <use xlink:href="/sprite.svg#key" />
                    </svg>
                </span>
            </a>
        </div>
    </div>
</div>
