<div class="pageHeader_v4" style="overflow: hidden;">

    <div class="uvSlider" id="uvSlider">
        <div class="uvSliderItemsList" id="uvSliderItemsList" role="region" aria-label="Carousel" aria-live="polite">
            <div aria-hidden="false" class="uvSliderItem active">
                <div class="uvSliderItem__background" style="background-image: url(./images/sl4.jpg);"></div>
                <div class="mob_background" style="background-image: url(./images/sl4.jpg);"></div>
                <div class="uvSliderItem__mainText_wrap">
                    <div class="uvSliderItem__mainText">
                        <div class="ghost_text">Parkent Plaza</div>
                        <div class="header_banner__item mb-0 mt-auto">
                            <div class="header_banner_text__sup">
                                Жилой комплекс
                            </div>
                            <div class="header_banner_text__title">
                                Parkent Plaza
                            </div>
                            <div class="header_banner_text__sub">
                                ваш тихий и уютный дом
                            </div>
                        </div>
                        <div class="header_banner__item my-5">
                            ваш тихий и уютный дом в нескольких минутах езды от центра столицы. Отменное качество материалов, экологичность и безопасность, индивидуальная планировка квартир и изящество архитектурной композиции
                        </div>
                        <div class="header_banner__item mt-0 mb-auto">
                            <div class="header__button">
                                <a href="#video_section" class="_scroll_to_A btn btn-primary btn-lg iconized iconized_lg__btn">
                                    <span class="iconized__text">
                                        Узнать больше
                                    </span>
                                    <span class="iconized__icon">
                                        <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="22"
                                            height="13">
                                            <use xlink:href="/sprite.svg#arrow_thin1" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="d-xl-none popupNavTrigger_parent head_nav__item">
        <button data-toggle="modal" data-target="#mobile_menu" type="button" class="popupNavTrigger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>

        <div class="hamburger" id="hamburger-1" role="button"></div>
    </div>
</div>