<div class="pageHeader_v2" style="background: url(images/header-image_v2.jpg) 50% 0 no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-4 mx-auto">
                <div class="header_site_name">
                    <div class="header_site_name__sup">
                        Добро пожаловать в
                    </div>
                    <div class="header_site_name__title">
                        ЖК “Riverside”
                    </div>
                    <div class="header_site_name__sub">
                        Твоя река. Твоя жизнь. Твое счастье
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="header_site_contacts">
                    <div class="header_site_contacts__title">Бронируйте уникальное жилье и Впечатления</div>
                    <div class="header_site_contacts__text">
                        Специальные цены! Ограниченное количество квартир! <br>
                        Подробности по телефону
                    </div>
                    <div class="header_site_contacts__phone">
                        <a href="tel:+998608008">+99 860-80-08</a>
                    </div>
                    <div class="header_site_contacts__text">
                        или
                    </div>
                    <button href="#a" class="btn btn-primary btn-lg iconized iconized_lg__btn">
                        <span class="iconized__icon">
                            <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="22"
                                height="22">
                                <use xlink:href="/sprite.svg#phone" />
                            </svg>
                        </span>
                        <span class="iconized__text">
                            Заказать звонок
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>