<div class="pageHeader" style="min-height: 792px; background: url(images/header-image.jpg) 50% 0 no-repeat; background-size: cover; background-attachment: fixed;">
    {{!-- <img src="images/header-image.jpg" alt=""> --}}
    {{!-- <div class="head_nav head_nav_white"> --}}
    <div class="head_nav">
        <div class="container">
            <div class="row align-items-justify align-items-center head_nav__container">
                <div class="col-6 mr-auto">
                    <a href="#a" title="Riverside" class="logo">
                        <img src="images/logo.png" alt="Riverside">
                    </a>
                </div>
                <div class="col-2 mr-0 ml-auto text-right">
                    <a class="head_nav__phone" href="tel:+99 860-80-08">+99 860-80-08</a>
                </div>
                <div class="col-2 mr-0 ml-0 text-right">
                    <button href="#a" class="btn btn-primary btn-lg iconized head_nav__btn">
                        <span class="iconized__icon">
                            <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="22"
                                height="22">
                                <use xlink:href="images/symbol/sprite.svg#phone" />
                            </svg>
                        </span>
                        <span class="iconized__text">
                            Заказать звонок
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>