<div class="pageHeader_v4" style="overflow: hidden;">

    <div class="uvSlider" id="uvSlider">
        <div class="uvSliderItemsList" id="uvSliderItemsList" role="region" aria-label="Carousel" aria-live="polite">
            <div aria-hidden="false" class="uvSliderItem active">
                <div class="uvSliderItem__background" style="background-image: url(./images/sl4.jpg);"></div>
                <div class="mob_background" style="background-image: url(./images/sl4.jpg);"></div>
                <div class="uvSliderItem__mainText_wrap">
                    <div class="uvSliderItem__mainText">
                        <div class="ghost_text">Riverside</div>
                        <div class="header_banner__item mb-0 mt-auto">
                            <div class="header_banner_text__sup">
                                Жилой комплекс
                            </div>
                            <div class="header_banner_text__title">
                                Riverside
                            </div>
                            <div class="header_banner_text__sub">
                                Твоя река. Твоя жизнь. Твое счастье
                            </div>
                        </div>
                        <div class="header_banner__item my-5">
                            Новый жилой комплекс компании First Development Group расположен возле реки в Мирзо-Улугбеском районе города Ташкента. Архитектурная концепция предполагает, что проект станет настоящим украшением этой территории.
                        </div>
                        <div class="header_banner__item mt-0 mb-auto">
                            <div class="header__button">
                                <a href="#a" class="btn btn-primary btn-lg iconized iconized_lg__btn">
                                    <span class="iconized__text">
                                        Узнать больше
                                    </span>
                                    <span class="iconized__icon">
                                        <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="22"
                                            height="13">
                                            <use xlink:href="/sprite.svg#arrow_thin1" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div aria-hidden="false" class="uvSliderItem">
                <div class="uvSliderItem__background" style="background-image: url(./images/sl5.jpg);"></div>
                <div class="mob_background" style="background-image: url(./images/sl5.jpg);"></div>
                <div class="uvSliderItem__mainText_wrap">
                    <div class="uvSliderItem__mainText">
                        <div class="header_banner__item mb-0 mt-auto">
                            <div class="header_banner_text__sup">
                                Жилой комплекс
                            </div>
                            <div class="header_banner_text__title">
                                Parkent-Plaza
                            </div>
                            <div class="header_banner_text__sub">
                                Твоя река. Твоя жизнь. Твое счастье
                            </div>
                        </div>
                        <div class="header_banner__item my-5">
                            Жилой комплекс Parkent-Plaza расположен в самом сердце Яшнабадского района города Ташкента. Рядом будет располагаться детский многопрофильный медицинский центр, многоуровневая дорожная развязка, станция надземного метро.
                        </div>
                        <div class="header_banner__item mt-0 mb-auto">
                            <div class="header__button">
                                <a href="#a" class="btn btn-primary btn-lg iconized iconized_lg__btn">
                                    <span class="iconized__text">
                                        Узнать больше
                                    </span>
                                    <span class="iconized__icon">
                                        <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="22"
                                            height="13">
                                            <use xlink:href="/sprite.svg#arrow_thin1" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div aria-hidden="false" class="uvSliderItem">
                <div class="uvSliderItem__background" style="background-image: url(./images/sl5.jpg);"></div>
                <div class="mob_background" style="background-image: url(./images/sl5.jpg);"></div>
                <div class="uvSliderItem__mainText_wrap">
                    <div class="uvSliderItem__mainText">
                        <div class="header_banner__item mb-0 mt-auto">
                            {{!-- <div class="header_banner_text__sup">
                                Жилой комплекс
                            </div> --}}
                            <div class="header_banner_text__title">
                                First Development Group
                            </div>
                            <div class="header_banner_text__sub">
                                Открой свою мечту
                            </div>
                        </div>
                        <div class="header_banner__item my-5">
                            Мы специализируемся на строительстве качественного современного жилья и объектов инфраструктуры, сохраняя за собой репутацию надежного застройщика. Сотни довольных жильцов уже обрели свои квартиры и рекомендуют нас своим близким.
                        </div>
                        <div class="header_banner__item mt-0 mb-auto">
                            <div class="header__button">
                                <a href="#section_2" class="btn btn-primary btn-lg iconized iconized_lg__btn">
                                    <span class="iconized__text">
                                        Узнать больше
                                    </span>
                                    <span class="iconized__icon">
                                        <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="22"
                                            height="13">
                                            <use xlink:href="/sprite.svg#sprite.svg#arrow_thin1" />
                                        </svg>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uvSlider__nav_wrap">
            <ul class="uvSlider__pagination"></ul>
            <div class="fz-0">
                <button class="uvSlider__nav" data-direction="prev">
                    toggle prev
                    <svg 
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="14px" height="25px">
                    <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                    d="M12.204,12.572 L0.358,1.348 C0.066,1.072 0.066,0.629 0.358,0.353 C0.649,0.077 1.116,0.077 1.408,0.353 L13.781,12.077 C14.073,12.353 14.073,12.796 13.781,13.072 L1.408,24.791 C1.265,24.926 1.072,24.999 0.885,24.999 C0.698,24.999 0.506,24.932 0.363,24.791 C0.072,24.515 0.072,24.072 0.363,23.796 L12.204,12.572 Z"/>
                    </svg>
                </button>
                <button class="uvSlider__nav" data-direction="next">
                    toggle next
                    <svg 
                    xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink"
                    width="14px" height="25px">
                    <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                    d="M12.204,12.572 L0.358,1.348 C0.066,1.072 0.066,0.629 0.358,0.353 C0.649,0.077 1.116,0.077 1.408,0.353 L13.781,12.077 C14.073,12.353 14.073,12.796 13.781,13.072 L1.408,24.791 C1.265,24.926 1.072,24.999 0.885,24.999 C0.698,24.999 0.506,24.932 0.363,24.791 C0.072,24.515 0.072,24.072 0.363,23.796 L12.204,12.572 Z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="d-xl-none popupNavTrigger_parent head_nav__item">
        <button data-toggle="modal" data-target="#mobile_menu" type="button" class="popupNavTrigger">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </button>

        <div class="hamburger" id="hamburger-1" role="button"></div>
    </div>
</div>