<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item page-item_previous"><a class="page-link" href="#">
            <span class="icon"><svg class="svg-icon__link" width="14" height="13">
                <use xlink:href="/sprite.svg#pagination_left" /></svg></span>
            <span class="pagination__text d-none d-sm-inline-block">Назад</span>
            </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item active"><span class="page-link disabled">2</span></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item page-item_next"><span class="page-link disabled">
            <span class="pagination__text d-none d-sm-inline-block">Вперед</span>
            <span class="icon"><svg class="svg-icon__link" width="14" height="13">
                <use xlink:href="/sprite.svg#pagination_left" /></svg></span>
            </span>
        </li>
    </ul>
</nav>