<div class="post_banner d-none d-lg-block text-center">
    <a href="#a">
        <picture>
            <source srcset="https://dummyimage.com/1920x151.jpg" media="(min-width: 1440px)">
            <img src="https://dummyimage.com/1720x150.jpg" alt="Skidki">
        </picture>
    </a>
</div>