<a href="#a" class="card">
    <div class="card-top">
        <img class="card-img-top" src='https://dummyimage.com/105x80/fc9bff/36003d&text=Ic' alt='' />
    </div>
    <div class="card-body">
        <div class="card-title">
            <div class="subCat">Редакторы</div>
            {{ text }}
        </div>
    </div>
    <div class="card-footer">
        <div class="card-date">11 Апреля 2019</div>
    </div>
</a>