<a href="#a" class="card product__related" style="{{style}}">
    <div class="card-img_holder">
        <img class="card-img-top" src='{{img}}' alt='' />
    </div>
    <div class="card-body">
        <p class="card-text">
            Mesh Pattern Print Fitness Leggings For Women
            <small>+ Бесплатная доставка*</small>
        </p>
        <div class="card-info_block">
            <div class="prices_block">
                <strong class="actual_price">195 500 Сум</strong>
            </div>
        </div>
    </div>
</a>