<div class="container mainPage__header">
    <div class="row">
        <div class="col-xlg-6">
            <div class="swiper-container mainSlider">
                <div class="swiper-wrapper mainSlider__carousel">
                    <a href="#a" class="swiper-slide mainSlider__item" style="background-color: #0065e2;">
                        <div class="mainSlider__img">
                            <img src="./images/ban1.png" alt="asasdsasd" data-swiper-parallax="-200">
                        </div>
                        <div class="mainSlider__text" data-swiper-parallax="-300">
                            <div class="mainSlider__heading"><strong>Дарим призы <br>за подписку</strong></div>
                            <div class="mainSlider__text_uppercase">Получайте полезную информацию <br>и шанс на выигрыш</div>
                        </div>
                    </a>
                    <a href="#a" class="swiper-slide mainSlider__item" style="background-color: #7777e2;">
                        <div class="mainSlider__img">
                            <img src="./images/ban1.png" alt="asasdsasd" data-swiper-parallax="-200">
                        </div>
                        <div class="mainSlider__text" data-swiper-parallax="-300">
                            <div class="mainSlider__heading"><strong>Дарим призы <br>за подписку</strong></div>
                            <div class="mainSlider__text_uppercase">Получайте полезную информацию <br>и шанс на выигрыш</div>
                        </div>
                    </a>
                </div>
                <ul class="mainSlider__pagination">
                </ul>
                <button class="mainSlider__nav mainSlider__nav_prev" data-direction="prev">
                    toggle prev
                    <svg width="20" height="19" >
                        <use xlink:href="/sprite.svg#icon_slider_arrow_left" /></svg>
                </button>
                
                <button class="mainSlider__nav mainSlider__nav_next" data-direction="next">
                    toggle next
                    <svg width="20" height="19" >
                        <use xlink:href="/sprite.svg#icon_slider_arrow" /></svg>

                </button>
            </div>
        </div>
        <div class="col-md-6 col-xlg-3">
            <a href="#a" class="header_right">
                <div class="header_right__text">
                    <div class="header_right__heading">Флагманские смартфоны Apple, Samsung и Huawei</div>
                    + Наушники в Подарок
                </div>
                <div class="header_right__img">
                    <img src="./images/header_right_pic1.png" alt="asasdsasd">
                </div>
            </a>
        </div>
        <div class="col-md-6 col-xlg-3">
            <a href="#a" class="header_right">
                <div class="header_right__text">
                    <div class="header_right__heading">Новая Серия стиральных машин Samsung</div>
                    Еще больше преимуществ
                </div>
                <div class="header_right__img">
                    <img src="./images/header_right_pic2.jpg" alt="asasdsasd">
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container mainPage__brands">
    <div class="row">
        <div class="col-12">
            <div class="h1 h1__se">
                <div class="h1__title">Популярные бренды</div>
                <small class="h1__readMore">
                    <a href="#a">Показать все <svg width="10" height="7">
                            <use xlink:href="/sprite.svg#icon_arrow_next" /></svg></a>
                </small>
            </div>
        </div>
    </div>
    <div class="row brands_tile">
        <div class="col-6 col-sm-4 col-lg-2">
            <a href="#a" class="brands_tile__item">
                <img src="./images/brand_samsung.jpg" alt="">
            </a>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
            <a href="#a" class="brands_tile__item">
                <img src="./images/brand_daiichi.jpg" alt="">
            </a>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
            <a href="#a" class="brands_tile__item">
                <img src="./images/brand_kapkam.jpg" alt="">
            </a>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
            <a href="#a" class="brands_tile__item">
                <img src="./images/brand_polaris.jpg" alt="">
            </a>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
            <a href="#a" class="brands_tile__item">
                <img src="./images/brand_adidas.jpg" alt="">
            </a>
        </div>
        <div class="col-6 col-sm-4 col-lg-2">
            <a href="#a" class="brands_tile__item">
                <img src="./images/brand_hansa.jpg" alt="">
            </a>
        </div>
    </div>
</div>