<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body data-spy="scroll" data-target="#page_navbar" data-offset="0" style="position: relative;" class="home_page horizontalNav">

    {{> navigation_horizontal}}
    <div>
        <div id="section_1" class=" section_h100 currentScene" style="opacity: 1;">
            <div  style="background-color: white;">
                <div class="pageHeader_v4" style="overflow: hidden;">

                    <div class="uvSlider" id="uvSlider">
                        <div class="uvSliderItemsList" id="uvSliderItemsList" role="region" aria-label="Carousel"
                            aria-live="polite">
                            <div aria-hidden="false" class="uvSliderItem active">
                                <div class="uvSliderItem__background"
                                    style="background-image: url(/images/content/main/rvrsd1.jpg);"></div>
                                <div class="mob_background"
                                    style="background-image: url(/images/content/main/rvrsd1.jpg);"></div>
                                <div class="uvSliderItem__mainText_wrap">
                                    <div class="uvSliderItem__mainText">
                                        <div class="header_banner__item mb-0 mt-auto">
                                            <div class="header_banner_text__title">
                                                First Development Group
                                            </div>
                                            <div class="header_banner_text__sub">
                                                Открой свою мечту
                                            </div>
                                        </div>
                                        <div class="header_banner__item my-5">
                                            Мы специализируемся на строительстве качественного современного жилья и
                                            объектов инфраструктуры, сохраняя за собой репутацию надежного застройщика.
                                            Сотни довольных жильцов уже обрели свои квартиры и рекомендуют нас своим
                                            близким.
                                        </div>
                                        <div class="header_banner__item mt-0 mb-auto">
                                            <div class="header__button">
                                                <a href="#section_2"
                                                    class="btn btn-primary btn-lg iconized iconized_lg__btn">
                                                    <span class="iconized__text">
                                                        Узнать больше
                                                    </span>
                                                    <span class="iconized__icon">
                                                        <svg class="svg-icon__link" preserveAspectRatio="xMidYMid"
                                                            width="22" height="13">
                                                            <use xlink:href="/sprite.svg#arrow_thin1" />
                                                        </svg>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="false" class="uvSliderItem">
                                <div class="uvSliderItem__background"
                                    style="background-image: url(/images/content/main/rvrsd.jpg);"></div>
                                <div class="mob_background"
                                    style="background-image: url(/images/content/main/rvrsd.jpg);"></div>
                                <div class="uvSliderItem__mainText_wrap">
                                    <div class="uvSliderItem__mainText">
                                        <div class="ghost_text">Riverside</div>
                                        <div class="header_banner__item mb-0 mt-auto">
                                            <div class="header_banner_text__sup">
                                                Жилой комплекс
                                            </div>
                                            <div class="header_banner_text__title">
                                                Riverside
                                            </div>
                                            <div class="header_banner_text__sub">
                                                Твоя река. Твоя жизнь. Твое счастье
                                            </div>
                                        </div>
                                        <div class="header_banner__item my-5">
                                            Новый жилой комплекс компании First Development Group расположен возле реки
                                            в Мирзо-Улугбеском районе города Ташкента. Архитектурная концепция
                                            предполагает, что проект станет настоящим украшением этой территории.
                                        </div>
                                        <div class="header_banner__item mt-0 mb-auto">
                                            <div class="header__button">
                                                <a href="/riverside"
                                                    class="btn btn-primary btn-lg iconized iconized_lg__btn">
                                                    <span class="iconized__text">
                                                        Узнать больше
                                                    </span>
                                                    <span class="iconized__icon">
                                                        <svg class="svg-icon__link" preserveAspectRatio="xMidYMid"
                                                            width="22" height="13">
                                                            <use xlink:href="/sprite.svg#arrow_thin1" />
                                                        </svg>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div aria-hidden="false" class="uvSliderItem">
                                <div class="uvSliderItem__background"
                                    style="background-image: url(/images/content/parkent_plaza_main.jpg); background-position-x: 360px;">
                                </div>
                                <div class="mob_background"
                                    style="background-image: url(/images/content/parkent_plaza_main.jpg);"></div>
                                <div class="uvSliderItem__mainText_wrap">
                                    <div class="uvSliderItem__mainText">
                                        <div class="header_banner__item mb-0 mt-auto">
                                            <div class="header_banner_text__sup">
                                                Жилой комплекс
                                            </div>
                                            <div class="header_banner_text__title">
                                                Parkent-Plaza
                                            </div>
                                            <div class="header_banner_text__sub">
                                                Твоя река. Твоя жизнь. Твое счастье
                                            </div>
                                        </div>
                                        <div class="header_banner__item my-5">
                                            Жилой комплекс Parkent-Plaza расположен в самом сердце Яшнабадского района
                                            города Ташкента. Рядом будет располагаться детский многопрофильный
                                            медицинский центр, многоуровневая дорожная развязка, станция надземного
                                            метро.
                                        </div>
                                        <div class="header_banner__item mt-0 mb-auto">
                                            <div class="header__button">
                                                <a href="/parkent-plaza"
                                                    class="btn btn-primary btn-lg iconized iconized_lg__btn">
                                                    <span class="iconized__text">
                                                        Узнать больше
                                                    </span>
                                                    <span class="iconized__icon">
                                                        <svg class="svg-icon__link" preserveAspectRatio="xMidYMid"
                                                            width="22" height="13">
                                                            <use xlink:href="/sprite.svg#arrow_thin1" />
                                                        </svg>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="uvSlider__nav_wrap uvSlider__nav_wrap_condenced">
                            <ul class="uvSlider__pagination"></ul>
                            <div class="fz-0">
                                <button class="uvSlider__nav" data-direction="prev">
                                    toggle prev
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="14px" height="25px">
                                        <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                                            d="M12.204,12.572 L0.358,1.348 C0.066,1.072 0.066,0.629 0.358,0.353 C0.649,0.077 1.116,0.077 1.408,0.353 L13.781,12.077 C14.073,12.353 14.073,12.796 13.781,13.072 L1.408,24.791 C1.265,24.926 1.072,24.999 0.885,24.999 C0.698,24.999 0.506,24.932 0.363,24.791 C0.072,24.515 0.072,24.072 0.363,23.796 L12.204,12.572 Z" />
                                    </svg>
                                </button>
                                <button class="uvSlider__nav" data-direction="next">
                                    toggle next
                                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                        width="14px" height="25px">
                                        <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                                            d="M12.204,12.572 L0.358,1.348 C0.066,1.072 0.066,0.629 0.358,0.353 C0.649,0.077 1.116,0.077 1.408,0.353 L13.781,12.077 C14.073,12.353 14.073,12.796 13.781,13.072 L1.408,24.791 C1.265,24.926 1.072,24.999 0.885,24.999 C0.698,24.999 0.506,24.932 0.363,24.791 C0.072,24.515 0.072,24.072 0.363,23.796 L12.204,12.572 Z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section_2" class=" section_h100" style="position: relative;">
            <div  style="background-color: white;">
                <div class="ghost_tabs__wrap">
                    <div class="container container-lg container__mobile_full_width h-100">
                        <div class="row h-100">
                            <div class="col-10 ghost_tabs__container uvSlider" style="height: 100%;">
                                <ul class="ghost_tabs__nav nav nav-pills mt-0 mb-auto w-100 pt-4 pt-lg-0" id="pills-tab"
                                    style="position: relative; z-index: 9;">
                                    <li class="uvSlider__pagination__item active">
                                        <a class="nav-link-underground" id="pills-about-tab"><span>О компании</span></a>
                                    </li>
                                    <li class="uvSlider__pagination__item">
                                        <a class="nav-link-underground" id="pills-tenders-tab"><span>Тендеры</span></a>
                                    </li>
                                    <li class="uvSlider__pagination__item">
                                        <a class="nav-link-underground"
                                            id="pills-vacancies-tab"><span>Вакансии</span></a>
                                    </li>
                                    <li class="uvSlider__pagination__item">
                                        <a class="nav-link-underground" id="pills-team-tab"><span>Команда</span></a>
                                    </li>
                                </ul>
                                <div class="uvSliderItemsList ghost_tabs__tab_content mb-0 mt-auto w-100"
                                    style="flex-grow: 1;">
                                    <div class="uvSliderItem h-100 active" id="pills-about">
                                        <div class="backgroundText uvSliderItem__mainText">О компании</div>
                                        <div class="row _height_recalc" style="height: 100%;">
                                            <div class="col-10 col-lg-4 col-xlg-5 order-2 order-lg-1"
                                                style="position: relative; height: 100%;">
                                                <div class="ghost_tabs__tab_content_bg uvSliderItem__mainImage h-100 w-100"
                                                    style="background-image: url(/images/agent.png);"></div>
                                            </div>
                                            <div class="col-8 mx-auto col-lg-6 col-xlg-5 pt-0 order-1 order-lg-2">
                                                <div
                                                    class="ghost_tabs__tab_content_width-restrict uvSliderItem__mainText pl-0">
                                                    <h1>
                                                        <small class="supTitle">О нашей компании</small><br>
                                                        First Development Group
                                                    </h1>
                                                    <div style="font-size: 17px; margin-bottom: 60px;">
                                                        <p>Мы с самого начала поставили себе высокую планку во всем —
                                                            качестве, работе с клиентами, сроках сдачи.</p>
                                                        <p>Важно было не просто построить успешный бизнес, а внести свой
                                                            вклад в развитие города, вдохновить людей и показать пример
                                                            того, как нужно работать.</p>
                                                        <p>Талантливая команда и стремление к своим целям — это то, чем
                                                            мы гордимся и что помогает нам уверенно идти вперед</p>
                                                    </div>
                                                    <div class="text-right" style="font-size: 17px;">
                                                        <b>Ойбек Шодиев</b><br>
                                                        Генеральный Директор FDG
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uvSliderItem h-100 " id="pills-tenders">
                                        <div class="row _height_recalc">
                                            <div class="col-8 mx-auto col-lg-9 pt-0">
                                                <div class="uvSliderItem__mainText pl-0 pb-5"
                                                    style="font-size: 18px; line-height: 1.4; max-width: 100%;">
                                                    <h1>
                                                        <small class="supTitle">First Development Group</small><br>
                                                        Тендеры
                                                    </h1>
                                                    <div class="row">
                                                        <div class="col-10 col-lg-5 pt-0 mb-5">
                                                            <h2 class="mb-4">Есть продукт, идея, проект, идея в этой
                                                                сфере?</h2>
                                                            <p class="mb-3">Обратитесь к нам в первую очередь. Мы
                                                                оценим. Потому что это нам необходимо.</p>
                                                            <p class="mb-3">Ведь, возможно, именно у вас есть что-то,
                                                                что нам нужно здесь и сейчас. Напишите об этом.</p>
                                                            <p class="mb-3">Поставка материалов и оборудования</p>
                                                            <p class="mb-3">Коммерческое предложение отправлять на адрес
                                                                <a href="mailto:kp@fdg.uz">kp@fdg.uz</a></p>
                                                            <p class="mb-3"><b>Тема письма:</b> Наименование материалов
                                                                оборудования. Наименование компании.</p>
                                                        </div>
                                                        <div class="col-10 col-lg-5 pt-0 mb-5">
                                                            <h2 class="mb-4">Сведения о компании должны включать в себя:
                                                            </h2>
                                                            <ul>
                                                                <li>Полное наименование компании</li>
                                                                <li>Виды деятельности</li>
                                                                <li>Юридический и почтовый адрес</li>
                                                                <li>Телефон, факс. Адрес электронной почты</li>
                                                                <li>ФИО генерального директора</li>
                                                                <li>Банковские реквизиты</li>
                                                            </ul>
                                                        </div>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uvSliderItem h-100" id="pills-vacancies">
                                        <!--<div class="backgroundText uvSliderItem__mainText">Вакансии</div>-->
                                        <div class="row _height_recalc" style="height: 100%;">
                                            <!--<div class="col-10 col-lg-5 order-2 order-lg-1" style="position: relative; height: 100%;">
                                                <div class="ghost_tabs__tab_content_bg uvSliderItem__mainImage h-100 w-100" style="background-image: url(/images/content_img_man.png);"></div>
                                            </div>-->
                                            <div class="col-8 mx-auto col-lg-9 pt-0">
                                                <div
                                                    class="ghost_tabs__tab_content_width-restrict uvSliderItem__mainText pl-0">
                                                    <h1>
                                                        <small class="supTitle">Вакансии</small><br>
                                                        Кто нам нужен?
                                                    </h1>
                                                    <p style="font-size: 17px;">
                                                        Главное – желание развиваться, ваши человеческие качества и
                                                        любовь к работе.
                                                    </p>
                                                    <p style="font-size: 17px;">
                                                        Пишите нам на <a href="mailto:jobs@fdg.uz">jobs@fdg.uz</a> чтобы
                                                        выслать резюме и договориться о собеседовании.
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="uvSliderItem h-100" id="pills-team">
                                        <!--<div class="backgroundText uvSliderItem__mainText">Вакансии</div>-->
                                        <div class="row _height_recalc" style="height: 100%;">
                                            <div class="col-12" style="position: relative; height: 100%; width: 100%;">
                                                <div class="ghost_tabs__tab_content_bg uvSliderItem__mainImage h-100 w-100"
                                                    style="background-image: url(/images/team_1.jpg); opacity: 1; transform: translateX(0px); background-position: 50% 0px; max-width: 100%;">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section_3" class="_ section_h100" style="z-index: 11;">
            <div class="" style="position: static;">
                <div id="advantages"
                    style="background-color: white; padding-top: 60px; box-shadow: 0 0 40px 40px rgba(0,0,0,.12); overflow: hidden;">
                    <div class="container container-lg">
                        <div class="row">
                            <div class="col-10">
                                <h1 style="max-width: 830px; margin-bottom: 80px;" class="appearAnimated">
                                    <small class="supTitle" style="font-size: 16px;">Преимущества нашей
                                        компании</small><br><br>
                                    <span style="font-family: gilroybold;"><b style="color: #4971b9;">Ценности
                                            компании</b> – это её фундамент, несущие стены, перекрытия и крыша. Без них
                                        строительство нашего общего дома невозможно </span>
                                </h1>
                            </div>
                            <div class="col-10">
                                <div class="advantages_block">
                                    <div class="advantages_block__item advantages_block__first appearAnimated"
                                        data-dir="toRight" data-space="300">
                                        <div class="advantages_block_img">
                                            <img src="./images/content/main/doverie.jpg" alt="">
                                        </div>
                                        <div class="advantages_block__text">
                                            <div class="backgroundText">
                                                01
                                            </div>
                                            <div class="advantages_block__title">
                                                Доверие —<br>фундамент отношений
                                            </div>
                                            <div class="advantages_block__cont">
                                                <p style="font-size: 14px;">
                                                    Даём реальные сроки сдачи объекта, используем долговечные
                                                    строительные материалы и привлекаем проверенных
                                                    подрядчиков, на которых можно положиться.
                                                </p>
                                                <p style="font-size: 14px;">
                                                    Вы не рискуете своими деньгами, потому что мы несем юридическую
                                                    ответственность за каждый шаг строительства и
                                                    поддерживаем с вами связь на каждом этапе работы и после сдачи
                                                    объекта.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="advantages_block__item advantages_block__second appearAnimated"
                                        data-dir="toLeft" data-delay="100" data-space="300">
                                        <div class="advantages_block__img">
                                            <img src="./images/content/main/poisk_resheniy.jpg" alt="">
                                        </div>
                                        <div class="advantages_block__text">
                                            <div class="backgroundText">
                                                02
                                            </div>
                                            <div class="advantages_block__title">
                                                Поиск решений,<br>создание лучшего
                                            </div>
                                            <div class="advantages_block__cont">
                                                FDG строит надёжные дома с 2017 года. Пробуем, экспериментируем, и
                                                внедряем только то, что хорошо показывает себя на практике. FDG первой в
                                                Центральной Азии получила международный сертификат LEED – он
                                                подтверждает, что наши дома проектируются в соответствии с принципами
                                                энергоэффективности и экологичности. Этот сертификат есть у лучших и
                                                самых современных зданий мира. Соответствие таким «зеленым» принципам —
                                                меньше расходов на коммунальное обслуживание и правильный микроклимат
                                                внутри.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="advantages_block__item advantages_block__third appearAnimated"
                                        data-dir="toRight" data-delay="200" data-space="300">
                                        <div class="advantages_block_img">
                                            <img src="./images/content/main/otkrytost.jpg" alt="">
                                        </div>
                                        <div class="advantages_block__text">
                                            <div class="backgroundText">
                                                03
                                            </div>
                                            <div class="advantages_block__title">
                                                Открытость
                                            </div>
                                            <div class="advantages_block__cont">
                                                Мы открыты к диалогу и сможем подобрать квартиру, которая точно устроит
                                                вас по цене и условиям. Перед заключением договора юрист объяснит все
                                                детали контракта и гарантии, среди них: год поддержки после сдачи
                                                квартиры, возврат денег при несоответствии квадратуры, связь с компанией
                                                на протяжении всего срока строительства.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="advantages_block__item advantages_block__fourth appearAnimated"
                                        data-dir="toLeft" data-delay="300" data-space="300">
                                        <div class="advantages_block_img">
                                            <img src="./images/content/main/chto_takoe.jpg" alt="">
                                        </div>
                                        <div class="advantages_block__text">
                                            <div class="backgroundText">
                                                04
                                            </div>
                                            <div class="advantages_block__title">
                                                Что такое FDG?
                                            </div>
                                            <div class="advantages_block__cont">
                                                <p style="font-size: 14px;">FDG - это специалисты, смелость и
                                                    новаторство. </p>
                                                <p style="font-size: 14px;">Архитекторы создают уникальные решения,
                                                    планировщики делают их приспособленными для комфортной жизни,
                                                    инженеры воплощают в жизнь.</p>
                                                <p style="font-size: 14px;">Сплоченная команда.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="advantages_block__item advantages_block__fifth appearAnimated"
                                        data-dir="toRight" data-delay="400" data-space="300">
                                        <div class="advantages_block_img">
                                            <img src="./images/content_img_experience.jpg" alt="">
                                        </div>
                                        <div class="advantages_block__text">
                                            <div class="backgroundText">
                                                05
                                            </div>
                                            <div class="advantages_block__title">
                                                О команде — <br>создатели идей
                                            </div>
                                            <div class="advantages_block__cont">
                                                Супервайзеры, менеджеры, проектировщики и инженеры —&nbsp;в&nbsp;нашей
                                                компании более 100 сотрудников, специалистов, профи, мастеров,
                                                участников. Они постоянно учатся, а мы строго контролируем качество их
                                                работы. Сотрудничество с&nbsp;КБ «Стрелка», семинары по экологическому
                                                строительству — мы открыты к партнерству и делимся опытом с другими.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section_4" class=" section_h100">
            <div >
                <div
                    style="background-color: white; padding-top: 50px; padding-bottom: 50px; min-height: 100vh; width: 100%; display: flex; align-items: center;">
                    <div class="container container-lg">
                        <div class="row">
                            <div class="col-10">
                                <h1>Новости</h1>
                            </div>
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="https://review.uz/ru/news/economy/parkent-plaza-vazhnyi-komponent-uspeshnogo-biznesa"
                                            target="_blank" rel="nofollow noopener">
                                            <img src="./images/content/news/n1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">08 мая, 2019</div>
                                        <a href="https://review.uz/ru/news/economy/parkent-plaza-vazhnyi-komponent-uspeshnogo-biznesa"
                                            target="_blank" rel="nofollow noopener"
                                            class="case_galery__text__title mb-2 d-block">Parkent Plaza — важный
                                            компонент успешного&nbsp;бизнеса</a>
                                        <div class="case_galery__text__sub">Что лучше — строить или перестраивать?
                                            Специалисты FIRST DEVELOPMENT GROUP считают, что лучше строить, а точнее —
                                            инвестировать в строительство помещения для своего ресторана, банка,
                                            фитнес-центра или салона красоты на этапе котлована.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="https://www.gazeta.uz/ru/2019/05/21/riverside/" target="_blank"
                                            rel="nofollow noopener">
                                            <img src="./images/content/slider_riverside/slide5.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">21 мая, 2019</div>
                                        <a href="https://www.gazeta.uz/ru/2019/05/21/riverside/" target="_blank"
                                            rel="nofollow noopener" class="case_galery__text__title mb-2 d-block">В
                                            Ташкенте стартовала продажа квартир в ЖК Riverside от 135 млн сумов</a>
                                        <div class="case_galery__text__sub">На старте продаж в новом ЖК Riverside от
                                            девелоперской компании FDG можно приобрести квартиры от 135 млн сумов.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="https://www.gazeta.uz/ru/2019/06/21/parkent-plaza/" target="_blank"
                                            rel="nofollow noopener">
                                            <img src="./images/content/news/n2.png" alt="">
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">21 июня, 2019</div>
                                        <a href="https://www.gazeta.uz/ru/2019/06/21/parkent-plaza/" target="_blank"
                                            rel="nofollow noopener" class="case_galery__text__title mb-2 d-block">First
                                            Development Group открыл возможность посетить шоурумы квартир ЖК Parkent
                                            Plaza</a>
                                        <div class="case_galery__text__sub">В шоурумах ЖК Parkent Plaza от компании
                                            First Development Group можно своими глазами увидеть варианты квартир,
                                            дизайна и планировки.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section_5" class=" section_h100">
            <div  style="background-color: white;">
                <!-- + map block -->

                <section class="section main_block py-0 contacts_block" id="contacts_block">
                    <div class="container">
                        <div class="row">
                            <div class="col-10 col-lg-5 col-xlg-4 py-5"
                                style="display: flex; align-items: center; flex-wrap: wrap;">
                                <div>
                                    <h1>Отдел Продаж</h1>
                                    <div class="contacts_info_block row">
                                        <div class="contacts_info_block__item col-sm-5">
                                            <div class="contacts_info_block__title">Адрес:</div>
                                            <div class="contacts_info_block__text">г. Ташкент, Яшнабадский р-н, <br>ул.
                                                Паркентская
                                                180.</div>
                                        </div>
                                        <div class="contacts_info_block__item col-sm-5">
                                            <div class="contacts_info_block__title">Время работы</div>
                                            <div class="contacts_info_block__text">Ежедневно: 9:00 - 18:00</div>
                                        </div>
                                        <div class="contacts_info_block__item col-sm-5">
                                            <div class="contacts_info_block__title">Номер телефона</div>
                                            <div class="contacts_info_block__text">
                                                <!--<a href="tel:+998977485225">(97) 748-52-25</a> <br>
								<a href="tel:+998973426776">(97) 342-67-76</a>-->
                                                <a href="tel:+998781505511">(78) 150-55-11</a>
                                            </div>
                                        </div>
                                    </div>

                                    <form action="http://fdg.uz/contact.php" method="post" id="contact_form">
                                        <h2 class="text-lg">Написать нам</h2>

                                        <input name="purpose" type="hidden" class="hidden"
                                            value="Заявка на сайте fdg.uz (/Главная страница/)">
                                        <div class="form_inputs row">
                                            <div class="col-sm-10 col-3-3">
                                                <div class="form-group">
                                                    <label class="floating_lable" for="inputName">Ваше Имя</label>
                                                    <input name="name" type="text" class="form-control form-control-lg"
                                                        id="inputName" required>
                                                </div> <small class="error_message input_name"></small>
                                            </div>
                                            <div class="col-sm-10 col-3-3">
                                                <div class="form-group">
                                                    <label class="floating_lable" for="inputEmail1">Ваш Email</label>
                                                    <input name="email" type="email"
                                                        class="form-control form-control-lg" id="inputEmail1">
                                                </div> <small class="error_message input_email"></small>
                                            </div>
                                            <div class="col-sm-10 col-3-3">
                                                <div class="form-group">
                                                    <label class="floating_lable" for="inputPhone">Телефон</label>
                                                    <input name="phone" type="tel" class="form-control form-control-lg"
                                                        id="inputPhone" required>
                                                </div> <small class="error_message input_phone"></small>
                                            </div>
                                            <div class="col-10">
                                                <div class="form_inputs">
                                                    <div class="form-group">
                                                        <label class="floating_lable"
                                                            for="inputMessage">Сообщение</label>
                                                        <textarea name="message" class="form-control form-control-lg"
                                                            id="inputMessage" rows="3"></textarea>
                                                    </div>
                                                </div> <small class="error_message input_message"></small>
                                            </div>
                                            <div class="col-10 mb-3">
                                                <small class="sum_notification"></small>
                                            </div>
                                        </div>
                                        <div class="text-center text-lg-left">
                                            <button class="btn btn-primary btn-lg iconized iconized_lg__btn"
                                                type="submit">
                                                <span class="iconized__text">
                                                    Отправить
                                                </span>
                                                <span class="iconized__icon">
                                                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid"
                                                        width="41" height="18">
                                                        <use xlink:href="/sprite.svg/#mail_box" />
                                                    </svg>
                                                </span>
                                            </button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div class="d-none d-xlg-block col-1"></div>
                            <div class="col-10 col-lg-5 mr-0 pr-lg-0 map_over" style="min-height: 100vh" id="ymap">
                                <script type="text/javascript" charset="utf-8" async
                                    src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A9d9c9dab3bd631fa442cbf1f62b47968b8744137f4fe1577bfa052b70874098a&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false">
                                </script>
                            </div>
                        </div>
                    </div>
                </section> <!-- - map block -->
            </div>
        </div>
        <div id="section_6" class=" section_h100">
            <div  style="background-color: white;">
                <footer data-id="s6" class="main_block padding-top-lg mid_nav_block" style="min-height: 100vh;">
                    <div id="s6" class="container text-center">
                        <div class="row">
                            <div class="col-10 mb-5">
                                <div class="mb-5">
                                    <a href="/">
                                        <img src="/images/logo_lg.png" alt="First Development Group">
                                    </a>
                                </div>
                                <h1>First Development Group</h1>
                            </div>
                        </div>
                        <div class="row justify-content-around">
                            <div class="col-10 col-lg-8 mb-5">
                                <div class="row justify-content-around mb-5">
                                    <div class="col-5 col-lg-2 mb-4 mb-lg-0">
                                        <div class="mid_nav__title">
                                            Компания
                                        </div>
                                        <ul class="list-unstyled mid_nav__list">
                                            <li><a href="http://fdg.uz/#section_2?tab=about" class="scaring_magic">О
                                                    компании</a></li>
                                            <li><a href="http://fdg.uz/#section_2?tab=team"
                                                    class="scaring_magic">Команда</a></li>
                                            <li><a href="http://fdg.uz/#section_2?tab=tenders"
                                                    class="scaring_magic">Тендеры</a></li>
                                            <!-- <li><a href="/?tab=">Инвесторам</a></li> -->
                                            <li><a href="http://fdg.uz/#section_2?tab=vacancies"
                                                    class="scaring_magic">Вакансии</a></li>
                                            <li><a href="/#advantages">Преимущества</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-5 col-lg-2 mb-4 mb-lg-0">
                                        <div class="mid_nav__title">
                                            Проекты
                                        </div>
                                        <ul class="list-unstyled mid_nav__list">
                                            <li><a href="/parkent-plaza">Parkent Plaza</a></li>
                                            <li><a href="/riverside">Riverside</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-5 col-lg-2 mb-4 mb-lg-0">
                                        <div class="mid_nav__title">
                                            Пресс-центр
                                        </div>
                                        <ul class="list-unstyled mid_nav__list">
                                            <li><a href="/#section_4">Новости</a></li>
                                            <li><a href="#a">Видео</a></li>
                                            <li><a href="#a">Публикации СМИ</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-5 col-lg-2 mb-4 mb-lg-0">
                                        <div class="mid_nav__title">
                                            Контакты
                                        </div>
                                        <ul class="list-unstyled mid_nav__list">
                                            <li><a href="/#section_5">Офисы продаж</a></li>
                                            <li><a href="/#ymap">Карта проезда</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- <a href="#a" class="btn btn-xlg iconized">
                    <span class="iconized__text">Перейти к проектам</span>
                    <span class="iconized__icon">
                        <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="24"
                            height="13">
                            <use xlink:href="/sprite.svg#arrow_thin1" />
                        </svg>
                    </span>
                </a> -->

                            </div>
                            <div class="col-9">
                                <div class="row footerBottom">
                                    <div class="col-10 footer__copy">
                                        <div class="copyBlock">
                                            Уважаемые посетители сайта, обращаем Ваше внимание, что информация,
                                            представленная на данном сайте, носит исключительно информационный характер,
                                            не является офертой или публичной офертой. Указанные на сайте цены не
                                            являются окончательными, застройщик может изменить в любое время указанные
                                            на сайте цены без какого-либо предварительного уведомления. Цена договора
                                            формируется индивидуально и определяется непосредственно при подписании
                                            договора с конкретным Клиентом.Качественные характеристики квартир и нежилых
                                            помещений, а также все варианты визуализации объекта в целом, приведенные на
                                            сайте, не обладают признаками абсолютной идентичности проектной и рабочей
                                            документации на строительство объекта. Представленные иллюстрации
                                            дизайн-проектов квартир являются примером организации пространства,
                                            меблировки и сочетания цветов. Часть информации на данном сайте относится к
                                            прошлому и возможно устарела, такая информация должна восприниматься как
                                            предоставленная на дату своей первичной публикации.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>

    <div class="progressBar"></div>

    <nav class="land_nav navbar" id="page_navbar" style="z-index: 1059;">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a href="#section_2" class="land_nav__item land_nav__link nav-link _scroll_to">
                    <span class="land_nav__text">О компании</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#section_3" class="land_nav__item land_nav__link nav-link _scroll_to">
                    <span class="land_nav__text">Наши преимущества</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#section_4" class="land_nav__item land_nav__link nav-link _scroll_to">
                    <span class="land_nav__text">Новости</span>
                </a>
            </li>
            <li class="nav-item">
                <a href="#section_5" class="land_nav__item land_nav__link nav-link _scroll_to">
                    <span class="land_nav__text">Контакты</span>
                </a>
            </li>
        </ul>
    </nav>

    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/scrollspy.js"></script>
    <script src="./js/velocity.min.js"></script>

    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/scripts_v5.js?1a13"></script>

    <script>
        $('#contact_form').submit(function (event) {
            event.preventDefault();

            $(event.target).find('button').attr("disabled", true);

            $('#contact_form').find('.error_message').text('')

            var form = $('#contact_form').serialize();

            $.ajax({
                type: 'post',
                url: 'http://fdg.uz/contact.php',
                data: form,
                dataType: 'json',
                success: function (data) {
                    // var obj = jQuery.parseJSON(data);
                    console.log(data.success);
                    if (data.success == 1) {
                        $('#contact_form').outerHeight($('#contact_form').outerHeight());
                        $('#contact_form').html(
                            '<div class="success_message"><div class="text-center"><h1>Спасибо!</h1><div>Мы приняли вашу заявку и в ближайшее время выйдем с вами на связь!</div></div></div>'
                            )
                    } else {
                        $(event.target).find('button').attr("disabled", false);
                        $.each(data.errors, function (key, value) {
                            $('#contact_form').find(value.field).html(value.error_message)
                        });
                    }
                },
                error: function (data) {
                    alert('Возникла ошибка! Пожалуйста, обновите страницу и попробуйте ещё раз.');
                    //alert(data);
                }
            });
        })
        $('#callback_form').submit(function (event) {
            event.preventDefault();

            $(event.target).find('button').attr("disabled", true);

            $('#callback_form').find('.error_message').text('')

            var form = $('#callback_form').serialize();

            $.ajax({
                type: 'post',
                url: 'http://fdg.uz/callback.php',
                data: form,
                dataType: 'json',
                success: function (data) {
                    // var obj = jQuery.parseJSON(data);
                    console.log(data.success);
                    if (data.success == 1) {
                        $('#callback_form').outerHeight($('#callback_form').outerHeight());
                        $('#callback_form').html(
                            '<div class="success_message"><div class="text-center" style="max-width: 320px;"><h1>Спасибо!</h1><div>Мы приняли вашу заявку и в ближайшее время выйдем с вами на связь!</div></div></div>'
                            )
                    } else {
                        $(event.target).find('button').attr("disabled", false);
                        $.each(data.errors, function (key, value) {
                            $('#callback_form').find(value.field).html(value.error_message)
                        });
                    }
                },
                error: function (data) {
                    alert('Возникла ошибка! Пожалуйста, обновите страницу и попробуйте ещё раз.')
                }
            });
        })
        $('#callback_form_2').submit(function (event) {
            event.preventDefault();

            $(event.target).find('button').attr("disabled", true);

            $('#callback_form_2').find('.error_message').text('')

            var form = $('#callback_form_2').serialize();

            $.ajax({
                type: 'post',
                url: 'http://fdg.uz/callback.php',
                data: form,
                dataType: 'json',
                success: function (data) {
                    // var obj = jQuery.parseJSON(data);
                    console.log(data.success);
                    if (data.success == 1) {
                        $('#callback_form_2').outerHeight($('#callback_form_2').outerHeight());
                        $('#callback_form_2').html(
                            '<div class="success_message"><div class="text-center" style="max-width: 320px;"><h1>Спасибо!</h1><div>Мы приняли вашу заявку и в ближайшее время выйдем с вами на связь!</div></div></div>'
                            )
                    } else {
                        $(event.target).find('button').attr("disabled", false);
                        $.each(data.errors, function (key, value) {
                            $('#callback_form_2').find(value.field).html(value.error_message)
                        });
                    }
                },
                error: function (data) {
                    alert('Возникла ошибка! Пожалуйста, обновите страницу и попробуйте ещё раз.')
                }
            });
        })
    </script>
    <style>
        .error_message {
            margin-top: -32px;
            min-height: 32px;
            color: red;
            display: block;
            /* padding-left: 25px; */
        }

        .sum_notification {
            color: red;
        }

        .success_message {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    </style>
</body>

</html>