<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body data-spy="scroll" data-target="#page_navbar" data-offset="0" style="position: relative;">
    {{> navigation}}
    <div class="moover">
        <div class="Landos_wrap" style="
            min-height: 100vh;
            background-image: url(./images/landos_bg.jpg);
            background-repeat: no-repeat;
            background-position: 50% 100%;
            background-size: 100% auto;
            padding-top: 1px;
        ">
            <div class="container" style="max-width: 100%">
                <div class="row">
                    <div class="col-6 pl-5 pt-5 mt-4">
                        <div class="w-100 mb-2">
                            <a href="/parkent-plaza.html" target="_blank"><img src="./images/parkentplaza-logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-3 ml-auto mr-0 d-flex align-items-center flex-wrap" style="height: 100vh; background-color: rgba(255,255,255,1);">

                        <div class="text-center w-75 mx-auto mt-5 mb-0">
                            <form>
                                <h1 class="text-center">Заказать звонок</h1>
                                
                                <div class="form_inputs">
                                    <div class="form-group">
                                        {{!-- <label class="floating_lable" for="exampleInputEmail1">Ваше Имя</label> --}}
                                        <input type="email" placeholder="Ваше имя" class="form-control form-control-lg" id="exampleInputEmail1">
                                    </div>
                                    <div class="form-group">
                                        {{!-- <label class="floating_lable" for="exampleInputEmail1">Телефон</label> --}}
                                        <input type="tel" placeholder="Ваш телефон" class="form-control form-control-lg" id="exampleInputEmail1">
                                    </div>
                                </div>
                                <div class="text-center">
                                    <button class="btn btn-primary btn-lg iconized iconized_lg__btn" type="submit">
                                        <span class="iconized__icon">
                                            <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="41" height="18">
                                                <use xlink:href="/sprite.svg#mail"></use>
                                            </svg>
                                        </span>
                                        <span class="iconized__text">
                                            Отправить 
                                        </span>
                                    </button>
                                </div>
                                
                            </form>
                        </div>
                        <div class="text-center w-100 mx-auto my-auto">
                            <div class="Landos_count_block">
                            
                                <h1 class="mb-5" style="line-height: 1"><small><span>Ближайшая дата заселения</span> 31&nbsp;декабря&nbsp;2019</small></h1>

                                <div class="conter_wrap">
                                    <div class="conter_wrap__item pt-0" style="border-color: transparent;">
                                        <div class="conter_wrap__num">185</div>
                                        <div class="conter_wrap__text">ДНЕЙ</div>
                                    </div>
                                    <div class="conter_wrap__item conter_wrap__item_sep pt-0">:</div>
                                    <div class="conter_wrap__item pt-0" style="border-color: transparent;">
                                        <div class="conter_wrap__num">22</div>
                                        <div class="conter_wrap__text">ЧАСА</div>
                                    </div>
                                    <div class="conter_wrap__item conter_wrap__item_sep pt-0">:</div>
                                    <div class="conter_wrap__item pt-0" style="border-color: transparent;">
                                        <div class="conter_wrap__num">38</div>
                                        <div class="conter_wrap__text">МИНУТ</div>
                                    </div>
                                </div>
                                <button class="btn btn-primary btn-lg iconized iconized_lg__btn" type="submit">
                                    <span class="iconized__text">
                                        Посмотреть планировки
                                    </span>
                                </button>

                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/scrollspy.js"></script>
    <script src="./js/velocity.min.js"></script>

    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/scripts.js"></script>
</body>

</html>