<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body data-spy="scroll" data-target="#page_navbar" data-offset="0" style="position: relative;">
    {{> navigation}}
    {{> land_navigation}}
    <div class="moover" id="fullpage">

        <div class="section">{{> pageheader_v4}}</div>
        <section id="about" class="section main_block has_backgroundText padding-top-0">
            {{> mainpage_tabs_v2}}
        </section>
        <section  class="section stl main_block padding-top-0 pb-0 advantages_block__wrap">
            <div class="container container-lg" id="advant">
                <div class="row">
                    <div class="col-10">
                        <h1 style="max-width: 830px; margin-bottom: 80px;" class="appearAnimated">
                            <small class="supTitle" style="font-size: 16px;">Преимущества нашей компании</small><br><br>
                            <span style="font-family: gilroybold;"><b style="color: #4971b9;">Ценности компании</b> – это её фундамент, несущие стены, перекрытия и крыша. Без них строительство нашего общего дома невозможно </span>
                        </h1>
                    </div>
                    <div class="col-10">
                        <div class="advantages_block">
                            <div class="advantages_block__item advantages_block__first appearAnimated" data-dir="toRight" data-space="300">
                                <div class="advantages_block_img">
                                    <img src="./images/content_img_standards.jpg" alt="">
                                </div>
                                <div class="advantages_block__text">
                                    <div class="backgroundText">
                                        01
                                    </div>
                                    <div class="advantages_block__title">
                                        Международные <br>стандарты
                                    </div>
                                    <div class="advantages_block__cont">
                                        Развивая свои конкурентные преимущества и обеспечивая наивысшее качество сервиса, мы закладываем фундамент будущих достижений.
                                    </div>
                                </div>
                            </div>
                            <div class="advantages_block__item advantages_block__second appearAnimated" data-dir="toLeft" data-delay="100" data-space="300">
                                <div class="advantages_block__img">
                                    <img src="./images/content_img_responsibility.jpg" alt="">
                                </div>
                                <div class="advantages_block__text">
                                    <div class="backgroundText">
                                        02
                                    </div>
                                    <div class="advantages_block__title">
                                        Несем <br>Ответственность
                                    </div>
                                    <div class="advantages_block__cont">
                                        Мы ответственны за каждый наш проект и каждое инвестиционное решение, выполняя все обязательства перед нашими покупателями, партнерами и сотрудниками.
                                    </div>
                                </div>
                            </div>
                            <div class="advantages_block__item advantages_block__third appearAnimated" data-dir="toRight" data-delay="200" data-space="300">
                                <div class="advantages_block_img">
                                    <img src="./images/content_img_experience.jpg" alt="">
                                </div>
                                <div class="advantages_block__text">
                                    <div class="backgroundText">
                                        03
                                    </div>
                                    <div class="advantages_block__title">
                                        Многолетний <br>Опыт
                                    </div>
                                    <div class="advantages_block__cont">
                                        Одним из главных преимуществ является сотрудничество с иностранными партнерами, имеющие многолетний опыт в строительстве.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        {{!-- <section class="main_block padding-top-xl">
            <div class="container">
                <div class="row align-items-center">
                    <div class="text-center text-xl-left col-xl-5 col-xlg-4 mb-5 mb-xl-0">
                        <div style="position: relative;">
                            <svg class="hoverer" viewBox="0 0 593 523" preserveAspectRatio="xMinYMin slice">
                                <rect x="0" y="0" width="100%" stroke="#fff" stroke-width="1" />
                            </svg>
                            <img src="./images/content_image1.jpg" alt="">
                        </div>
                    </div>
                    <div class="d-none d-xlg-block col-xlg-1"></div>
                    <div class="text-center text-xl-left col-xl-4 col-xlg-4">
                        <h1>
                            <small class="supTitle">О нашей компании</small><br>
                            First Development Group
                        </h1>
                        <p style="font-size: 17px;">
                            OOO First Development Group образовалась в 2017г, является дочерней компанией крупного
                            иностранного холдинга Gesheft Group, на данный момент Gesheft Invest, который был основан
                            1998 году. 
                            Эта полностью сформированная команда сертифицированных специалистов и инженеров,
                            выполняющая весь комплекс работ в строительстве.
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section class="main_block">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-sm-5 col-3-3 col-xlg-3 iconized_text_block__wrap">
                        <div class="iconized_text_block">
                            <div class="iconized_text_block__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="32" height="44">
                                    <use xlink:href="/sprite.svg#award" />
                                </svg>
                            </div>
                            <div class="iconized_text_block__title">Международные <br>стандарты</div>
                            <div class="iconized_text_block__text">При проектировании мы стараемся учитывать
                                многообразие стилей жизни наших покупателей и предлагать широкий ассортимент квартир
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-3-3 col-xlg-3 iconized_text_block__wrap">
                        <div class="iconized_text_block">
                            <div class="iconized_text_block__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="32" height="44">
                                    <use xlink:href="/sprite.svg#award" />
                                </svg>
                            </div>
                            <div class="iconized_text_block__title">Функциональные <br>планировки</div>
                            <div class="iconized_text_block__text">При проектировании мы стараемся учитывать
                                многообразие стилей жизни наших покупателей и предлагать широкий ассортимент квартир
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-3-3 col-xlg-3 iconized_text_block__wrap">
                        <div class="iconized_text_block">
                            <div class="iconized_text_block__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="32" height="44">
                                    <use xlink:href="/sprite.svg#award" />
                                </svg>
                            </div>
                            <div class="iconized_text_block__title">Эстетика и <br>Функциональность</div>
                            <div class="iconized_text_block__text">При проектировании мы стараемся учитывать
                                многообразие стилей жизни наших покупателей и предлагать широкий ассортимент квартир
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="main_block">
            <div class="container">
                <div class="row">
                    <div class="col-lg col-xlg-5 complex-block__wrap">
                        <a href="#a" class="complex-block">
                            <div class="complex-block__img">
                                <img src="./images/complex-1.jpg" alt="">
                            </div>
                            <div class="complex-block__content">
                                <div class="complex-block__name">
                                    <div>Название Жилого Комплекса</div>
                                </div>
                                <div class="complex-block__status">
                                    Идет строительство
                                </div>
                                <div class="d-flex justify-content-around justify-content-xl-between flex-wrap mt-5">
                                    <div class="complex-block__flat-info iconized mb-4 mb-xl-0">
                                        <span class="iconized__icon">
                                            <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="24"
                                                height="24">
                                                <use xlink:href="/sprite.svg#resize" />
                                            </svg>
                                        </span>
                                        <span class="iconized__text">
                                            Квартиры от 60 м<sup>2</sup> до 142 м<sup>2</sup>
                                        </span>
                                    </div>
                                    <span class="complex-block__btn iconized iconized__rounded-icon">
                                        <span class="iconized__text">
                                            Подробнее
                                        </span>
                                        <span class="iconized__icon">
                                            <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="19"
                                                height="19">
                                                <use xlink:href="/sprite.svg#arrow_left_gallery" />
                                            </svg>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                <rect x="0" y="0" stroke="#fff" stroke-width="1" />
                            </svg>
                        </a>
                    </div>
                    <div class="col-lg col-xlg-5 complex-block__wrap">
                        <a href="#a" class="complex-block">
                            <div class="complex-block__img">
                                <img src="./images/complex-2.jpg" alt="">
                            </div>
                            <div class="complex-block__content">
                                <div class="complex-block__name">
                                    <div>Название Жилого Комплекса</div>
                                </div>
                                <div class="complex-block__status">
                                    Идет строительство
                                </div>
                                <div class="d-flex justify-content-around justify-content-xl-between flex-wrap mt-5">
                                    <div class="complex-block__flat-info iconized mb-4 mb-xl-0">
                                        <span class="iconized__icon">
                                            <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="24"
                                                height="24">
                                                <use xlink:href="/sprite.svg#resize" />
                                            </svg>
                                        </span>
                                        <span class="iconized__text">
                                            Квартиры от 60 м<sup>2</sup> до 142 м<sup>2</sup>
                                        </span>
                                    </div>
                                    <span class="complex-block__btn iconized iconized__rounded-icon">
                                        <span class="iconized__text">
                                            Подробнее
                                        </span>
                                        <span class="iconized__icon">
                                            <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="19"
                                                height="19">
                                                <use xlink:href="/sprite.svg#arrow_left_gallery" />
                                            </svg>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                <rect x="0" y="0" stroke="#fff" stroke-width="1" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <section class="main_block padding-top-0">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <picture>
                            <source srcset="./images/bak1.jpg" media="(min-width: 1024px)">
                            <img src="./images/bak1-sm.jpg" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </section> --}}

        <section id="news" class="section main_block news_block_wrap">
            
            <div id="s4" class="container container-lg appearAnimated">
                <div class="row">
                    <div class="col-10">
                        <ul class="ghost_tabs__nav nav nav-pills" id="pills-tab_news" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link-underground active" id="pills-news-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="true"><span>Новости</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link-underground" id="pills-video-tab" data-toggle="pill" href="#pills-video" role="tab" aria-controls="pills-video" aria-selected="false"><span>Видео</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link-underground" id="pills-mass_media-tab" data-toggle="pill" href="#pills-mass_media" role="tab" aria-controls="pills-mass_media" aria-selected="false"><span>Публикации в СМИ</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="ghost_tabs__tab_content tab-content pt-4 pt-lg-0" id="pills-tabContent_news">
                <div class="tab-pane show active" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab" style="height: 100%;">
                    <div class="container container-lg">
                        <div class="row">
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-1.jpg" alt="">
                                            {{!-- <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                            </svg> --}}
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">Не упусти возможность приобрести квартиру до повышения цен!</div>
                                        <div class="case_galery__text__sub">До 25 декабря 2019 года сохранится нынешняя стоимость на квартиры.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-2.jpg" alt="">
                                            {{!-- <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                            </svg> --}}
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">Получить прописку стало легче!</div>
                                        <div class="case_galery__text__sub">Иногородние могут получить Ташкентскую прописку при покупке любого жилья на первичном рынке.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-3.jpg" alt="">
                                            {{!-- <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                            </svg> --}}
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">The Frame Design Awards crown the world’s best interiors.</div>
                                        <div class="case_galery__text__sub">До 25 декабря 2019 года сохранится нынешняя стоимость на квартиры.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <a href="#a" class="btn btn-xlg iconized">
                            <span class="iconized__text">Посмотреть все новости</span>
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="24"
                                    height="13">
                                    <use xlink:href="/sprite.svg#arrow_thin1" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="tab-pane" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab" style="height: 100%;">
                    <div class="container container-lg">
                        <div class="row">
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-3.jpg" alt="">
                                            {{!-- <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                            </svg> --}}
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">The Frame Design Awards crown the world’s best interiors.</div>
                                        <div class="case_galery__text__sub">До 25 декабря 2019 года сохранится нынешняя стоимость на квартиры.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-2.jpg" alt="">
                                            {{!-- <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                            </svg> --}}
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">Получить прописку стало легче!</div>
                                        <div class="case_galery__text__sub">Иногородние могут получить Ташкентскую прописку при покупке любого жилья на первичном рынке.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-1.jpg" alt="">
                                            {{!-- <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                            </svg> --}}
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">Не упусти возможность приобрести квартиру до повышения цен!</div>
                                        <div class="case_galery__text__sub">До 25 декабря 2019 года сохранится нынешняя стоимость на квартиры.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="pills-mass_media" role="tabpanel" aria-labelledby="pills-mass_media-tab" style="height: 100%;">
                    <div class="container container-lg">
                        <div class="row">
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-1.jpg" alt="">
                                            {{!-- <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                            </svg> --}}
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">Не упусти возможность приобрести квартиру до повышения цен!</div>
                                        <div class="case_galery__text__sub">До 25 декабря 2019 года сохранится нынешняя стоимость на квартиры.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-3.jpg" alt="">
                                            {{!-- <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                            </svg> --}}
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">The Frame Design Awards crown the world’s best interiors.</div>
                                        <div class="case_galery__text__sub">До 25 декабря 2019 года сохранится нынешняя стоимость на квартиры.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-2.jpg" alt="">
                                            {{!-- <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                            </svg> --}}
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">Получить прописку стало легче!</div>
                                        <div class="case_galery__text__sub">Иногородние могут получить Ташкентскую прописку при покупке любого жилья на первичном рынке.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="contacts">
        {{> map_block}}</div>

        {{> footer_v2}}

        {{!-- <section class="main_block bg-grey_light">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <h1>
                            <div class="supTitle">Riverside</div>
                            Документы
                        </h1>
                    </div>
                    <div class="col-md-5 col-xl-3 mb-4">
                        <a href="#a" class="btn btn-lg btn-doc iconized w-100">
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="28"
                                    height="30">
                                    <use xlink:href="/sprite.svg#pdf_icon" />
                                </svg>
                            </span>
                            <span class="iconized__text">
                                Проектная декларация <br>
                                <small>13.17 Кб   •   Версия от: 21 ноября 2018</small>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-5 col-xl-3 mb-4">
                        <a href="#a" class="btn btn-lg btn-doc iconized w-100">
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="28"
                                    height="30">
                                    <use xlink:href="/sprite.svg#pdf_icon" />
                                </svg>
                            </span>
                            <span class="iconized__text">
                                Разрешение на строительство <br>
                                <small>473.17 Кб   •   Версия от: 21 ноября 2018</small>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-5 col-xl-3 mb-4">
                        <a href="#a" class="btn btn-lg btn-doc iconized w-100">
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="28"
                                    height="30">
                                    <use xlink:href="/sprite.svg#pdf_icon" />
                                </svg>
                            </span>
                            <span class="iconized__text">
                                Проектная декларация <br>
                                <small>473.17 Кб   •   Версия от: 21 ноября 2018</small>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-5 col-xl-3 mb-4">
                        <a href="#a" class="btn btn-lg btn-doc iconized w-100">
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="28"
                                    height="30">
                                    <use xlink:href="/sprite.svg#pdf_icon" />
                                </svg>
                            </span>
                            <span class="iconized__text">
                                Проектная декларация <br>
                                <small>13.17 Кб   •   Версия от: 21 ноября 2018</small>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section> --}}

        {{!-- {{> footer}} --}}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/jquery.menu-aim.js"></script>
    <script src="./js/velocity.min.js"></script>
    {{!-- <script src="./js/jquery.pagepiling.js"></script> --}}
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/scrollspy.js"></script>
    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/scripts.js"></script>


    <script>
/*
        $(document).ready(function() {
            

var pageSection;
var scId;

$('.section').each(function () { 
    if ( $(window).outerHeight() < $(this).outerHeight() ) {
        if ($(this).data('id') != '') {
            scId = '#' + $(this).data('id');
            pageSection = new PerfectScrollbar(scId, {
                wheelSpeed: 2,
                wheelPropagation: true,
                minScrollbarLength: 20
            })
            console.log(pageSection)
        }
    }
})
            $('#fullpage').pagepiling();
            $.fn.pagepiling.setAllowScrolling(false);
        });
*/
        var tooltiper = document.getElementById('tooltiper'),
            px = '0px',
            py = '0px',
            trig = -1;

        function getCursorXY(e) {}
        $('.highlight').on('mouseenter', function (e) {
            $(this).parents('.select_box').find('.tooltiper').css({
                'opacity': 1
            })
        })
        $('.highlight').on('mouseleave', function (e) {
            $(this).parents('.select_box').find('.tooltiper').css({
                'opacity': 0
            })
        })
        $('.highlight').on('mousemove', function (e) {
            if (this.getBoundingClientRect().top < 0) {
                trig = tooltiper.offsetHeight / 2
            } else {
                trig = tooltiper.offsetHeight * -1
            }
            px = e.pageX - $(this).parents('.select_box').offset().left - tooltiper.offsetWidth - 10;
            py = e.pageY - $(this).parents('.select_box').offset().top + trig - 10;
            tooltiper.style.transform = 'translate3d(' + (px < 10 ? 10 : px) + 'px, ' + py + 'px, 0)';
            //tooltiper.style.top = py + 'px';
            $('.tooltiper__floor').html($(this).data('floor'));
            $('.tooltiper__apartment').html($(this).data('free_apartments'));
        })
    </script>
</body>

</html>