<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body data-spy="scroll" data-target="#page_navbar" data-offset="0" style="position: relative;">
    {{> navigation}}
    {{> land_navigation}}
    <div class="moover">
        <div class="section section11" id="main">
            <div id="main2">
                {{> pageheader_v4}}
            </div>
        </div>
        <section id="about" class="section section11 main_block has_backgroundText padding-top-0 pb-0">
            <div id="about2">
            {{> mainpage_tabs_v2}}
            </div>
        </section>
        <section id="advant"  class="section stl main_block padding-top-sm pb-0 advantages_block__wrap">
            <div id="advant2">
                <div class="container container-lg">
                    <div class="row">
                        <div class="col-10">
                            <h1 style="max-width: 830px; margin-bottom: 80px;" class="appearAnimated">
                                <small class="supTitle" style="font-size: 16px;">Преимущества нашей компании</small><br><br>
                                <span style="font-family: gilroybold;"><b style="color: #4971b9;">Ценности компании</b> – это её фундамент, несущие стены, перекрытия и крыша. Без них строительство нашего общего дома невозможно </span>
                            </h1>
                        </div>
                        <div class="col-10">
                            <div class="advantages_block">
                                <div class="advantages_block__item advantages_block__first appearAnimated" data-dir="toRight" data-space="300">
                                    <div class="advantages_block_img">
                                        <img src="./images/content_img_standards.jpg" alt="">
                                    </div>
                                    <div class="advantages_block__text">
                                        <div class="backgroundText">
                                            01
                                        </div>
                                        <div class="advantages_block__title">
                                            Международные <br>стандарты
                                        </div>
                                        <div class="advantages_block__cont">
                                            Развивая свои конкурентные преимущества и обеспечивая наивысшее качество сервиса, мы закладываем фундамент будущих достижений.
                                        </div>
                                    </div>
                                </div>
                                <div class="advantages_block__item advantages_block__second appearAnimated" data-dir="toLeft" data-delay="100" data-space="300">
                                    <div class="advantages_block__img">
                                        <img src="./images/content_img_responsibility.jpg" alt="">
                                    </div>
                                    <div class="advantages_block__text">
                                        <div class="backgroundText">
                                            02
                                        </div>
                                        <div class="advantages_block__title">
                                            Несем <br>Ответственность
                                        </div>
                                        <div class="advantages_block__cont">
                                            Мы ответственны за каждый наш проект и каждое инвестиционное решение, выполняя все обязательства перед нашими покупателями, партнерами и сотрудниками.
                                        </div>
                                    </div>
                                </div>
                                <div class="advantages_block__item advantages_block__third appearAnimated" data-dir="toRight" data-delay="200" data-space="300">
                                    <div class="advantages_block_img">
                                        <img src="./images/content_img_experience.jpg" alt="">
                                    </div>
                                    <div class="advantages_block__text">
                                        <div class="backgroundText">
                                            03
                                        </div>
                                        <div class="advantages_block__title">
                                            Многолетний <br>Опыт
                                        </div>
                                        <div class="advantages_block__cont">
                                            Одним из главных преимуществ является сотрудничество с иностранными партнерами, имеющие многолетний опыт в строительстве.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="news" class="section11 section main_block news_block_wrap" style="min-height: 100vh;">
            
            <div id="s4" class="container container-lg appearAnimated">
                <div class="row">
                    <div class="col-10">
                        <ul class="ghost_tabs__nav nav nav-pills" id="pills-tab_news" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link-underground active" id="pills-news-tab" data-toggle="pill" href="#pills-news" role="tab" aria-controls="pills-news" aria-selected="true"><span>Новости</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link-underground" id="pills-video-tab" data-toggle="pill" href="#pills-video" role="tab" aria-controls="pills-video" aria-selected="false"><span>Видео</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link-underground" id="pills-mass_media-tab" data-toggle="pill" href="#pills-mass_media" role="tab" aria-controls="pills-mass_media" aria-selected="false"><span>Публикации в СМИ</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="ghost_tabs__tab_content tab-content pt-4 pt-lg-0" id="pills-tabContent_news">
                <div class="tab-pane show active" id="pills-news" role="tabpanel" aria-labelledby="pills-news-tab" style="height: 100%;">
                    <div class="container container-lg">
                        <div class="row">
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-1.jpg" alt="">
                                            {{!-- <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                            </svg> --}}
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">Не упусти возможность приобрести квартиру до повышения цен!</div>
                                        <div class="case_galery__text__sub">До 25 декабря 2019 года сохранится нынешняя стоимость на квартиры.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-2.jpg" alt="">
                                            {{!-- <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                            </svg> --}}
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">Получить прописку стало легче!</div>
                                        <div class="case_galery__text__sub">Иногородние могут получить Ташкентскую прописку при покупке любого жилья на первичном рынке.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-3.jpg" alt="">
                                            {{!-- <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                            </svg> --}}
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">The Frame Design Awards crown the world’s best interiors.</div>
                                        <div class="case_galery__text__sub">До 25 декабря 2019 года сохранится нынешняя стоимость на квартиры.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center mt-4">
                        <a href="#a" class="btn btn-xlg iconized">
                            <span class="iconized__text">Посмотреть все новости</span>
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="24"
                                    height="13">
                                    <use xlink:href="/sprite.svg#arrow_thin1" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="tab-pane" id="pills-video" role="tabpanel" aria-labelledby="pills-video-tab" style="height: 100%;">
                    <div class="container container-lg">
                        <div class="row">
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-3.jpg" alt="">
                                            {{!-- <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                            </svg> --}}
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">The Frame Design Awards crown the world’s best interiors.</div>
                                        <div class="case_galery__text__sub">До 25 декабря 2019 года сохранится нынешняя стоимость на квартиры.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-2.jpg" alt="">
                                            {{!-- <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                            </svg> --}}
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">Получить прописку стало легче!</div>
                                        <div class="case_galery__text__sub">Иногородние могут получить Ташкентскую прописку при покупке любого жилья на первичном рынке.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-1.jpg" alt="">
                                            {{!-- <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                            </svg> --}}
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">Не упусти возможность приобрести квартиру до повышения цен!</div>
                                        <div class="case_galery__text__sub">До 25 декабря 2019 года сохранится нынешняя стоимость на квартиры.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="pills-mass_media" role="tabpanel" aria-labelledby="pills-mass_media-tab" style="height: 100%;">
                    <div class="container container-lg">
                        <div class="row">
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-1.jpg" alt="">
                                            {{!-- <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                            </svg> --}}
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">Не упусти возможность приобрести квартиру до повышения цен!</div>
                                        <div class="case_galery__text__sub">До 25 декабря 2019 года сохранится нынешняя стоимость на квартиры.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-3.jpg" alt="">
                                            {{!-- <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                            </svg> --}}
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">The Frame Design Awards crown the world’s best interiors.</div>
                                        <div class="case_galery__text__sub">До 25 декабря 2019 года сохранится нынешняя стоимость на квартиры.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-2.jpg" alt="">
                                            {{!-- <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                            </svg> --}}
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">Получить прописку стало легче!</div>
                                        <div class="case_galery__text__sub">Иногородние могут получить Ташкентскую прописку при покупке любого жилья на первичном рынке.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div id="contacts" class="section11 section">
            {{> map_block}}
        </div>
        <div id="footer" class="section11 section">
            {{> footer_v2}}
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/lib/TweenMax.min.js"></script>

    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/jquery.menu-aim.js"></script>
    {{!-- <script src="./js/jquery.pagepiling.js"></script> --}}
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/scrollspy.js"></script>
    <script src="./js/velocity.min.js"></script>

    <script src="./js/ScrollMagic.min.js"></script>
    <script src="./js/lib/animation.gsap.js"></script>

    <script src="./js/lib/animation.velocity.js"></script>

    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/scripts.js"></script>
    
    <script src="./js/debug.addIndicators.js"></script>

    <script>
        /*
                $(document).ready(function() {
                    

        var pageSection;
        var scId;

        $('.section').each(function () { 
            if ( $(window).outerHeight() < $(this).outerHeight() ) {
                if ($(this).data('id') != '') {
                    scId = '#' + $(this).data('id');
                    pageSection = new PerfectScrollbar(scId, {
                        wheelSpeed: 2,
                        wheelPropagation: true,
                        minScrollbarLength: 20
                    })
                    console.log(pageSection)
                }
            }
        })
                    $('#fullpage').pagepiling();
                    $.fn.pagepiling.setAllowScrolling(false);
                });
        */
        var tooltiper = document.getElementById('tooltiper'),
            px = '0px',
            py = '0px',
            trig = -1;

        function getCursorXY(e) {}
        $('.highlight').on('mouseenter', function (e) {
            $(this).parents('.select_box').find('.tooltiper').css({
                'opacity': 1
            })
        })
        $('.highlight').on('mouseleave', function (e) {
            $(this).parents('.select_box').find('.tooltiper').css({
                'opacity': 0
            })
        })
        $('.highlight').on('mousemove', function (e) {
            if (this.getBoundingClientRect().top < 0) {
                trig = tooltiper.offsetHeight / 2
            } else {
                trig = tooltiper.offsetHeight * -1
            }
            px = e.pageX - $(this).parents('.select_box').offset().left - tooltiper.offsetWidth - 10;
            py = e.pageY - $(this).parents('.select_box').offset().top + trig - 10;
            tooltiper.style.transform = 'translate3d(' + (px < 10 ? 10 : px) + 'px, ' + py + 'px, 0)';
            //tooltiper.style.top = py + 'px';
            $('.tooltiper__floor').html($(this).data('floor'));
            $('.tooltiper__apartment').html($(this).data('free_apartments'));
        })
    </script>
</body>

</html>