<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body data-spy="scroll" data-target="#page_navbar" data-offset="0" style="position: relative;">
    {{> navigation}}
    {{!-- <div class="moover"> --}}
    <div>
        <div id="section_1" class="section section11 currentScene" style="opacity: 1;">
            <div class="insider" style="background-color: white;">
                {{> pageheader_v4}}
            </div>
        </div>
        <div id="section_2" class="section section11 mb_20">
            <div class="insider" style="background-color: white;">
                {{> mainpage_tabs_v2}}
            </div>
        </div>
        <div id="section_3" class="section section11" style="z-index: 11;">
            <div class="insider static_insider" style="position: static;">
                <div style="background-color: white; padding-top: 60px; box-shadow: 0 0 40px 40px rgba(0,0,0,.12); overflow: hidden;">
                    <div class="container container-lg">
                        <div class="row">
                            <div class="col-10">
                                <h1 style="max-width: 830px; margin-bottom: 80px;" class="appearAnimated">
                                    <small class="supTitle" style="font-size: 16px;">Преимущества нашей
                                        компании</small><br><br>
                                    <span style="font-family: gilroybold;"><b style="color: #4971b9;">Ценности
                                            компании</b> – это её фундамент, несущие стены, перекрытия и крыша. Без них
                                        строительство нашего общего дома невозможно </span>
                                </h1>
                            </div>
                            <div class="col-10">
                                <div class="advantages_block">
                                    <div class="advantages_block__item advantages_block__first appearAnimated"
                                        data-dir="toRight" data-space="300">
                                        <div class="advantages_block_img">
                                            <img src="./images/content_img_standards.jpg" alt="">
                                        </div>
                                        <div class="advantages_block__text">
                                            <div class="backgroundText">
                                                01
                                            </div>
                                            <div class="advantages_block__title">
                                                Доверие —<br>фундамент отношений
                                            </div>
                                            <div class="advantages_block__cont">
                                                <p style="font-size: 14px;">
                                                    Даём реальные сроки сдачи объекта, используем долговечные строительные материалы и привлекаем проверенных
                                                    подрядчиков, на которых можно положиться.
                                                </p>
                                                <p style="font-size: 14px;">
                                                    Вы не рискуете своими деньгами, потому что мы несем юридическую ответственность за каждый шаг строительства и
                                                    поддерживаем с вами связь на каждом этапе работы и после сдачи объекта.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="advantages_block__item advantages_block__second appearAnimated"
                                        data-dir="toLeft" data-delay="100" data-space="300">
                                        <div class="advantages_block__img">
                                            <img src="./images/content_img_responsibility.jpg" alt="">
                                        </div>
                                        <div class="advantages_block__text">
                                            <div class="backgroundText">
                                                02
                                            </div>
                                            <div class="advantages_block__title">
                                                Поиск решений,<br>создание лучшего
                                            </div>
                                            <div class="advantages_block__cont">
                                                FDG строит надёжные дома с 2007 года. Пробуем, экспериментируем, и внедряем только то, что  хорошо показывает себя на практике. FDG первой в Центральной Азии получила международный сертификат LEED – он подтверждает, что наши дома проектируются в соответствии с принципами энергоэффективности и экологичности. Этот сертификат есть у лучших и самых современных зданий мира. Соответствие таким «зеленым» принципам — меньше расходов на коммунальное обслуживание и правильный микроклимат внутри. 
                                            </div>
                                        </div>
                                    </div>
                                    <div class="advantages_block__item advantages_block__third appearAnimated"
                                        data-dir="toRight" data-delay="200" data-space="300">
                                        <div class="advantages_block_img">
                                            <img src="./images/content_img_experience.jpg" alt="">
                                        </div>
                                        <div class="advantages_block__text">
                                            <div class="backgroundText">
                                                03
                                            </div>
                                            <div class="advantages_block__title">
                                                Открытость
                                            </div>
                                            <div class="advantages_block__cont">
                                                Мы открыты к диалогу и сможем подобрать квартиру, которая точно устроит вас по цене и условиям. Перед заключением договора юрист объяснит все детали контракта и гарантии, среди них: год поддержки после сдачи квартиры, возврат денег при несоответствии квадратуры, связь с компанией на протяжении всего срока строительства.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="advantages_block__item advantages_block__fourth appearAnimated"
                                        data-dir="toLeft" data-delay="300" data-space="300">
                                        <div class="advantages_block_img">
                                            <img src="./images/content_img_experience.jpg" alt="">
                                        </div>
                                        <div class="advantages_block__text">
                                            <div class="backgroundText">
                                                04
                                            </div>
                                            <div class="advantages_block__title">
                                                Что такое FDG?
                                            </div>
                                            <div class="advantages_block__cont">
                                                <p style="font-size: 14px;">FDG - это специалисты, смелость и новаторство. </p>
                                                <p style="font-size: 14px;">Архитекторы создают уникальные решения, планировщики делают их приспособленными для комфортной жизни, инженеры воплощают в жизнь.</p>
                                                <p style="font-size: 14px;">Сплоченная команда.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="advantages_block__item advantages_block__fifth appearAnimated"
                                        data-dir="toRight" data-delay="400" data-space="300">
                                        <div class="advantages_block_img">
                                            <img src="./images/content_img_experience.jpg" alt="">
                                        </div>
                                        <div class="advantages_block__text">
                                            <div class="backgroundText">
                                                05
                                            </div>
                                            <div class="advantages_block__title">
                                                О команде — <br>создатели идей
                                            </div>
                                            <div class="advantages_block__cont">
                                                Супервайзеры, менеджеры, проектировщики и инженеры — в нашей компании больше...{ 100 сотрудников, специалистов, профи, мастеров, участников....??.} {Они постоянно учатся, а мы строго контролируем качество их работы}. Сотрудничество с КБ «Стрелка», семинары по экологическому строительству — мы открыты к партнерству и делимся опытом с другими.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section_4" class="section section11">
            <div class="insider">
                <div style="background-color: white; padding-top: 50px; padding-bottom: 50px; min-height: 100vh; width: 100%; display: flex; align-items: center;">
                    <div class="container container-lg">
                        <div class="row">
                            <div class="col-10">
                                <h1>Новости</h1>
                            </div>
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-1.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">Не упусти возможность приобрести
                                            квартиру до повышения цен!</div>
                                        <div class="case_galery__text__sub">До 25 декабря 2019 года сохранится
                                            нынешняя стоимость на квартиры.</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-2.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">Получить прописку стало легче!
                                        </div>
                                        <div class="case_galery__text__sub">Иногородние могут получить
                                            Ташкентскую прописку при покупке любого жилья на первичном рынке.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-5 col-3-3 case_galery__wrap">
                                <div class="case_galery">
                                    <div class="case_galery__img">
                                        <a href="#a">
                                            <img src="./images/news-pic-3.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="case_galery__text">
                                        <div class="case_galery__text__date">18 апреля, 2019</div>
                                        <div class="case_galery__text__title">The Frame Design Awards crown the
                                            world’s best interiors.</div>
                                        <div class="case_galery__text__sub">До 25 декабря 2019 года сохранится
                                            нынешняя стоимость на квартиры.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="section_5" class="section section11">
            <div class="insider" style="background-color: white;">
                {{> map_block}}
            </div>
        </div>
        <div id="section_6" class="section section11">
            <div class="insider" style="background-color: white;">
                {{> footer_v2}}
            </div>
        </div>
    </div>

    <div class="progressBar"></div>

    {{> land_navigation}}
    {{!-- </div> --}}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/lib/TweenMax.min.js"></script>

    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/jquery.menu-aim.js"></script>
    {{!-- <script src="./js/jquery.pagepiling.js"></script> --}}
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/scrollspy.js"></script>
    <script src="./js/velocity.min.js"></script>

    <script src="./js/ScrollMagic.min.js"></script>
    <script src="./js/lib/animation.gsap.js"></script>

    <script src="./js/lib/animation.velocity.js"></script>

    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/scripts.js"></script>

    <script src="./js/debug.addIndicators.js"></script>

    <script>
        /*
                $(document).ready(function() {
                    

        var pageSection;
        var scId;

        $('.section').each(function () { 
            if ( $(window).outerHeight() < $(this).outerHeight() ) {
                if ($(this).data('id') != '') {
                    scId = '#' + $(this).data('id');
                    pageSection = new PerfectScrollbar(scId, {
                        wheelSpeed: 2,
                        wheelPropagation: true,
                        minScrollbarLength: 20
                    })
                    console.log(pageSection)
                }
            }
        })
                    $('#fullpage').pagepiling();
                    $.fn.pagepiling.setAllowScrolling(false);
                });
        */
        var tooltiper = document.getElementById('tooltiper'),
            px = '0px',
            py = '0px',
            trig = -1;

        function getCursorXY(e) {}
        $('.highlight').on('mouseenter', function (e) {
            $(this).parents('.select_box').find('.tooltiper').css({
                'opacity': 1
            })
        })
        $('.highlight').on('mouseleave', function (e) {
            $(this).parents('.select_box').find('.tooltiper').css({
                'opacity': 0
            })
        })
        $('.highlight').on('mousemove', function (e) {
            if (this.getBoundingClientRect().top < 0) {
                trig = tooltiper.offsetHeight / 2
            } else {
                trig = tooltiper.offsetHeight * -1
            }
            px = e.pageX - $(this).parents('.select_box').offset().left - tooltiper.offsetWidth - 10;
            py = e.pageY - $(this).parents('.select_box').offset().top + trig - 10;
            tooltiper.style.transform = 'translate3d(' + (px < 10 ? 10 : px) + 'px, ' + py + 'px, 0)';
            //tooltiper.style.top = py + 'px';
            $('.tooltiper__floor').html($(this).data('floor'));
            $('.tooltiper__apartment').html($(this).data('free_apartments'));
        })
    </script>
</body>

</html>