<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body class="newsPage">
    {{> navigation}}
    <div class="moover" id="fullpage">

        <section data-id="s4" class="section main_block">

            <div id="s4" class="container container-lg">
                <div class="row">
                    <div class="col-7">
                        <ol class="breadcrumb mb-4 mt-3">
                            <li class="breadcrumb-item">
                                <a href="#">Главная</a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">О нас</a>
                            </li>
                            <li class="breadcrumb-item active">Новости</li>
                        </ol>
                        <h1>В Ташкенте стартовала продажа квартир в&nbsp;ЖК&nbsp;Riverside от 135 млн сумов</h1>
                        <div style="max-width: 680px;">
                            <p>Девелоперская компания First Development Group (FDG) была образована в 2017 году. Это
                                дочерняя компания крупного иностранного холдинга Gesheft Invest.
                            </p>
                            <br>
                            <br>
                            <div class="mb-4 d-flex justify-content-between nTitle__infoBlock">
                                <div class="text-muted">
                                    Опубликовано 25 мая 2019
                                </div>
                                <div class="hashT">
                                    <span class="hashT__item">
                                        <a class="btn btn-sm btn-outline-secondary" href="#a">#RiverSide</a>
                                    </span>
                                    <span class="hashT__item">
                                        <a class="btn btn-sm btn-outline-secondary" href="#a">#Реклама</a>
                                    </span>
                                </div>
                            </div>
                            <br>
                            <p>FDG специализируется на строительстве качественного современного жилья и объектов инфраструктуры, сохраняя за собой репутацию надежного застройщика. В целях компании — формирование комфортного и максимально удобного пространства, которое обеспечит новый уровень жизни и будет способствовать благополучию новоселов.</p>
                            <p>
                                <img src="./images/content/nbUO2v15584189397288_b.jpg" alt="">
                            </p>
                            <p>1 мая компания FDG открыла старт продаж квартир в новом современном жилом комплексе
                                Riverside. Свое название постройка получила в результате расположения возле реки Карасу
                                в Мирзо-Улугбекском районе. ЖК имеет площадь более 0,9 га.</p>
                            <p>До 1 июля действует специальное предложение от застройщика — на стадии котлована
                                стоимость квартир начинается от 4,7 млн сумов за 1 кв. м.</p>
                            <p>
                                <img src="./images/content/kNytIB15584189393945_b.jpg" alt="">
                            </p>
                            <p>На старте продаж цены на квартиры начинаются от 135 млн сумов.</p>
                            <p>Комплекс выгодно расположен с географической точки зрения — в тихом, спальном районе
                                Ташкента с автомобильными развязками и магистралями, связывающими все районы города.</p>
                            <p>
                                <img src="./images/content/DZazS315584189395416_b.jpg" alt="">
                            </p>
                            <h2>Преимущества</h2>
                            <p>Преимущества покупки квартир в жилых комплексах компании First Development Group:</p>
                            <ul>
                                <li>комфортные и удобные условия проживания будущих владельцев квартир. В постройке
                                    используются только высокопрочные материалы;</li>
                                <li>красивый вид на водное пространство и город, изумительная архитектура;</li>
                                <li>удобная планировка, детская площадка, парковка и грамотно продуманное
                                    благоустройство территории станут основой счастья каждого жильца;</li>
                                <li>концепция «Двор без машин»: безопасность, увеличенная территория комфорта и
                                    отсутствие загазованности. Теперь подобная атмосфера доступна и для жильцов квартир
                                    ЖК Riverside;</li>
                                <li>родители могут быть спокойны за своих детей: по внутренней территории дома можно
                                    гулять без опаски, а детские площадки не будут пересекаться с проезжей частью. Также
                                    нет извечных парковочных споров;</li>
                                <li>для наружной отделки фасада применены долговечные высококачественные современные
                                    материалы;</li>
                                <li>просторный и безопасный лифт с плавным ходом;</li>
                                <li>качественная звукоизоляция: стены в квартирах выстроены из газобетона и способны
                                    обеспечить отличное подавление шума;</li>
                                <li>жилье по доступной цене и гарантия своевременной сдачи проекта.</li>
                            </ul><br>
                            <p>
                                <img src="./images/content/8pByy915584189391409_b.jpg" alt="">
                            </p>
                            <p>Также FDG планирует создать широкую прогулочную зону вдоль территории комплекса: газоны,
                                скамейки, урны, детская площадка, двор без машин. Пространство, которое ранее могли
                                занимать автомобили, будет отводиться под пешеходные дорожки, зоны рекреации с зелеными
                                насаждениями, площадки для спорта и подвижных игр. Застройщики улучшают концепцию
                                общественных зон, уделяя внимание жизни и возможностям времяпровождения своих жильцов.
                            </p>
                            <p>
                                <img src="./images/content/Zl0aLh15584189177653_b.jpg" alt="">
                            </p>
                            <p>Riverside — это второй проект девелопера после известного ЖК Parkent Plaza. Последний
                                получил известность за счет сертификата LEED (The Leadership in Energy & Environmental
                                Design) — добровольной системы сертификации зданий, относящихся к зеленому
                                строительству. Программа была разработана «Американским советом по зеленым зданиям» для
                                оценки энергоэффективности и экологичности проектов устойчивого развития.</p>
                            <p>В соответствии стандартам компании FDG, ЖК Riverside построят согласно современным
                                инновациям и технологиям.</p>
                            <p>
                                Всю подробную информацию можно получить в отделе продаж или по телефонам: <br>
                                +998 99−870−80−08 <br>
                                +998 99−860−80−08 <br>
                                +998 97−342−67−76
                            </p>
                            <p>Адрес отдела продаж: <br> Мирзо-Улугбекский р-н, ул. Буюк Ипак Йули, 430</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        {{> map_block}}

        {{> footer_v2}}

        {{!-- <section class="main_block bg-grey_light">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <h1>
                            <div class="supTitle">Riverside</div>
                            Документы
                        </h1>
                    </div>
                    <div class="col-md-5 col-xl-3 mb-4">
                        <a href="#a" class="btn btn-lg btn-doc iconized w-100">
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="28"
                                    height="30">
                                    <use xlink:href="/sprite.svg#pdf_icon" />
                                </svg>
                            </span>
                            <span class="iconized__text">
                                Проектная декларация <br>
                                <small>13.17 Кб   •   Версия от: 21 ноября 2018</small>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-5 col-xl-3 mb-4">
                        <a href="#a" class="btn btn-lg btn-doc iconized w-100">
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="28"
                                    height="30">
                                    <use xlink:href="/sprite.svg#pdf_icon" />
                                </svg>
                            </span>
                            <span class="iconized__text">
                                Разрешение на строительство <br>
                                <small>473.17 Кб   •   Версия от: 21 ноября 2018</small>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-5 col-xl-3 mb-4">
                        <a href="#a" class="btn btn-lg btn-doc iconized w-100">
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="28"
                                    height="30">
                                    <use xlink:href="/sprite.svg#pdf_icon" />
                                </svg>
                            </span>
                            <span class="iconized__text">
                                Проектная декларация <br>
                                <small>473.17 Кб   •   Версия от: 21 ноября 2018</small>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-5 col-xl-3 mb-4">
                        <a href="#a" class="btn btn-lg btn-doc iconized w-100">
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="28"
                                    height="30">
                                    <use xlink:href="/sprite.svg#pdf_icon" />
                                </svg>
                            </span>
                            <span class="iconized__text">
                                Проектная декларация <br>
                                <small>13.17 Кб   •   Версия от: 21 ноября 2018</small>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section> --}}

        {{!-- {{> footer}} --}}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/jquery.menu-aim.js"></script>
    <script src="./js/velocity.min.js"></script>
    {{!-- <script src="./js/jquery.pagepiling.js"></script> --}}
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/scripts.js"></script>


    <script>
        /*
        $(document).ready(function() {
            

var pageSection;
var scId;

$('.section').each(function () { 
    if ( $(window).outerHeight() < $(this).outerHeight() ) {
        if ($(this).data('id') != '') {
            scId = '#' + $(this).data('id');
            pageSection = new PerfectScrollbar(scId, {
                wheelSpeed: 2,
                wheelPropagation: true,
                minScrollbarLength: 20
            })
            console.log(pageSection)
        }
    }
})
            $('#fullpage').pagepiling();
            $.fn.pagepiling.setAllowScrolling(false);
        });
*/
        var tooltiper = document.getElementById('tooltiper'),
            px = '0px',
            py = '0px',
            trig = -1;

        function getCursorXY(e) {}
        $('.highlight').on('mouseenter', function (e) {
            $(this).parents('.select_box').find('.tooltiper').css({
                'opacity': 1
            })
        })
        $('.highlight').on('mouseleave', function (e) {
            $(this).parents('.select_box').find('.tooltiper').css({
                'opacity': 0
            })
        })
        $('.highlight').on('mousemove', function (e) {
            if (this.getBoundingClientRect().top < 0) {
                trig = tooltiper.offsetHeight / 2
            } else {
                trig = tooltiper.offsetHeight * -1
            }
            px = e.pageX - $(this).parents('.select_box').offset().left - tooltiper.offsetWidth - 10;
            py = e.pageY - $(this).parents('.select_box').offset().top + trig - 10;
            tooltiper.style.transform = 'translate3d(' + (px < 10 ? 10 : px) + 'px, ' + py + 'px, 0)';
            //tooltiper.style.top = py + 'px';
            $('.tooltiper__floor').html($(this).data('floor'));
            $('.tooltiper__apartment').html($(this).data('free_apartments'));
        })
    </script>
</body>

</html>