<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body class="horizontalNav">
    {{> navigation_horizontal}}
    <div>
        <div class="section">{{> pageheader_v6}}</div>

        <div class="section" id="video_section">
            <section class="main_block bg-grey_light padding-top-xl appearAnimated">
                <div class="container container-lg">
                    <div class="row align-items-center">
                        <div class="col-10 col-xlg-5">
                            <h1 style="max-width: 830px;">
                                <span style="font-family: gilroybold;"><b style="color: #4971b9;">Parkent Plaza</b></span><br>
                                <small class="subTitle" style="font-size: 16px;">Квартиры, в которых продумана каждая деталь.</small>
                            </h1>
                            <p style="font-size: 16px; max-width: 630px;">
                                Золотая середина между квартирой в самом центре города и уютным семейным жильём в тихом районе. Рядом открыта новая широкая дорога к центру, строится надземная линия метро и трехуровневая транспортная развязка. Первый семиэтажный корпус ЖК уже построен и успешно заселен, второй корпус находится на стадии строительства. 
                            </p>
                            <p style="font-size: 16px; max-width: 630px;">
                                Новый комплекс будет окружен зеленой зоной с фонтаном, детскими площадками и местами для отдыха. Для машин предусмотрена охраняемая парковка. Все нужное для семьи всегда под рукой — на первом и втором этажах расположатся магазины, аптеки, фитнес-зал, кафе и многое другое. Квартиры в новостройке будут сдаваться с базовым ремонтом, стяжкой полов, котлом для отопления и горячей воды, стеклопакетами и надёжными входными дверями.
                            </p>
                            <p style="font-size: 16px; max-width: 630px;">
                                Уже есть идеи дизайна своей будущей квартиры? Поделитесь ими с нами, и мы сделаем для вас индивидуальную планировку квартиры с любой квадратурой.
                            </p>
                        </div>
                        <div class="col-10 col-xlg-5">
                            <div class="videoBlock_wrap mr-auto ml-0" data-video_target="videoWrappersalkj" data-time-start="18" data-v="8b32MdGKp_4">
                                <div class="videoBlock_wrap__videoBlock" style="background-image: url(./images/vid_preview.jpg)">
                                    <button class="videoBlock_wrap__button">
                                        <svg width="81px" height="81px">
                                            <path fill-rule="evenodd"  fill="#ffffff" class="play_circle"
                                            d="M40.000,-0.000 C62.091,-0.000 80.000,17.909 80.000,40.000 C80.000,62.091 62.091,80.000 40.000,80.000 C17.909,80.000 -0.000,62.091 -0.000,40.000 C-0.000,17.909 17.909,-0.000 40.000,-0.000 Z"/>
                                            <path class="play_circle_stroke" fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                                            d="M40.000,12.000 C55.464,12.000 68.000,24.536 68.000,40.000 C68.000,55.464 55.464,68.000 40.000,68.000 C24.536,68.000 12.000,55.464 12.000,40.000 C12.000,24.536 24.536,12.000 40.000,12.000 Z"/>
                                            <path class="play_triangle" fill-rule="evenodd" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" fill="none"
                                            d="M34.000,54.000 L34.000,27.000 L54.000,40.000 L40.000,50.000 "/>
                                        </svg>
                                    </button>
                                    <div class="player_place" id="videoWrappersalkj"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="section">
            <section class="main_block bg-grey_light">
                <div class="container container-lg">
                    <div class="row appearAnimated" data-dir="toTop">
                        <div class="col-3-3 mb-4">
                            <div class="iconized_text_block">
                                <div class="iconized_text_block__icon">
                                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="40"
                                        height="40">
                                        <use xlink:href="/sprite.svg#boxes" />
                                    </svg>
                                </div>
                                <div class="iconized_text_block__title">Планировки</div>
                                <div class="iconized_text_block__text">
                                    Вы — подлинный хозяин своего дома и сами решаете, каким он будет. Выбор планировки остается за вами: вы выбираете квартиру не по количеству комнат, а по площади. Стилистически решения, расположение комнат и отделка — жильцы ЖК Parkent Plaza не просто покупают квартиру, а создают собственное пространство для комфортной жизни.
                                </div>
                            </div>
                        </div>
                        <div class="col-3-3 mb-4">
                            <div class="iconized_text_block">
                                <div class="iconized_text_block__icon">
                                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="36"
                                        height="40">
                                        <use xlink:href="/sprite.svg#trees" />
                                    </svg>
                                </div>
                                <div class="iconized_text_block__title">Комфорт, удобство, экологичность</div>
                                <div class="iconized_text_block__text">
                                    Двор благоустроен, инфраструктура продумана до мелочей: рядом с домом есть фонтан, а на первых этажах — кафе, магазины, фитнес-зал и аптеки. Мы придерживаемся принципов зеленого строительства — максимум энергоэффективности, разумный и оправданный расход ресурсов и энергии. Все это достигается благодаря умному подбору материалов и продуманной архитектуре. 
                                </div>
                            </div>
                        </div>
                        <div class="col-3-3 mb-4">
                            <div class="iconized_text_block">
                                <div class="iconized_text_block__icon">
                                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="41"
                                        height="40">
                                        <use xlink:href="/sprite.svg#houses" />
                                    </svg>
                                </div>
                                <div class="iconized_text_block__title">Инфраструктура</div>
                                <div class="iconized_text_block__text">
                                    Тихий район в 10 минутах езды от центра — оптимальный баланс между активной жизнью в столице и спокойным отдыхом без городского шума. Благодаря трехуровневой транспортной развязке любая точка Ташкента становится доступной, а расположенные рядом магазины, рынки, фитнес-залы, клиники позволяют всегда иметь под рукой все доступное и не зависеть от городских пробок.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row appearAnimated" data-dir="toTop" data-delay="200">
                        <div class="col-3-3 mb-4">
                            <div class="iconized_text_block">
                                <div class="iconized_text_block__icon">
                                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="40"
                                        height="40">
                                        <use xlink:href="/sprite.svg#camera" />
                                    </svg>
                                </div>
                                <div class="iconized_text_block__title">Уверенность в безопасности</div>
                                <div class="iconized_text_block__text">
                                    Дом — это место, где мы хотим чувствовать себя в безопасности. В ЖК Parkent Plaza установлен охранный пункт и круглосуточное видеонаблюдение за двором, детской площадкой и парковкой. А ещё комплекс обладает высочайшей сейсмостойкостью и выстоит любые катаклизмы.
                                </div>
                            </div>
                        </div>
                        <div class="col-3-3 mb-4">
                            <div class="iconized_text_block">
                                <div class="iconized_text_block__icon">
                                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="36"
                                        height="40">
                                        <use xlink:href="/sprite.svg#eco_house" />
                                    </svg>
                                </div>
                                <div class="iconized_text_block__title">Индивидуальность ЖК Parkent Plaza</div>
                                <div class="iconized_text_block__text">
                                    Parkent Plaza — это ваш дом, и он такой же уникальный, как и вы. Индивидуальность комплекса выражается в каждой его особенности: террасах на крыше для жителей девятого этажа при покупке квартиры площадью более 135 кв. м, великолепном фонтане во дворе и целых трёх этажах для коммерческих помещений — возможностей для вашего бизнеса. 
                                </div>
                            </div>
                        </div>
                        <div class="col-3-3 mb-4">
                            <div class="iconized_text_block">
                                <div class="iconized_text_block__icon">
                                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="41"
                                        height="40">
                                        <use xlink:href="/sprite.svg#star" />
                                    </svg>
                                </div>
                                <div class="iconized_text_block__title">Уверенность в безопасности</div>
                                <div class="iconized_text_block__text">
                                    Дом — это место, где мы хотим чувствовать себя в безопасности. В ЖК Parkent Plaza установлен охранный пункт и круглосуточное видеонаблюдение за двором, детской площадкой и парковкой. А ещё комплекс обладает высочайшей сейсмостойкостью и выстоит любые катаклизмы. 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <div class="section">
            <section class="main_block py-0 select_box__parent" style="overflow: hidden;">
                <div class="container pr-xlg-0">
                    <div class="row align-items-center">
                        <div class="col-xlg-3 py-5">
                            <h1>Выберите Квартиру</h1>
                            <div class="row">
                                <div class="col-10 col-md-5 col-xlg-10">
                                    <p style="margin-bottom: 40px; font-size: 15px; line-height: 1.8; max-width: 400px;">
                                        Просторная многокомнатная квартира для большой семьи или уютная студия, сделанная индивидуально под вас? В ЖК Parkent Plaza есть все и немного больше — выберите самую подходящую для вас планировку или реализуйте собственное решение.
                                    </p>
                                </div>
                                <div class="col-10 col-md-5 col-xlg-10">
                                    <p style="font-size: 15px; line-height: 1.8; max-width: 400px;">
                                        А тем, кто покупает квартиру на 9-м этаже площадью более 135 кв. м., мы дарим целых 73,5 кв. м. террасы дополнительно к площади самой квартиры.
                                    </p>
                                    <p style="font-size: 15px; line-height: 1.8; max-width: 400px;">
                                        Терраса — место, которое соберёт всю семью под открытым небом. Встречайте незабываемые рассветы и закаты на комфортно обустроенном уголке крыши.
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-10 col-md-5 col-xlg-10">
                                    <p>
                                        <a href="#contacts_block" class="_scroll_to_A btn btn-primary btn-lg iconized iconized_lg__btn mb-4">
                                            <span class="iconized__text">
                                                Узнать подробно
                                            </span>
                                        </a>
                                    </p>
                                    <p>Есть собственная идея? Реализуем ваш собственный проект под руководством наших инженеров.</p>
                                </div>
                                <div class="col-10 col-md-5 col-xlg-10">
                                    <small>*Стоимость ориентировочная. <br>Уточняйте цены в Официальных отделах продаж.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-xlg-7">
                            <div class="uvSlider uvSlider_height_auto" id="uvSlider2" data-effect="fade" style="overflow: hidden; min-width: 70vw;">
                                <div class="uvSliderItemsList" id="uvSliderItemsList2" role="region" aria-label="Carousel" aria-live="polite">
                                    <div aria-hidden="false" class="uvSliderItem active">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider/slide1.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider/slide2.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider/slide3.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider/slide4.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider/slide5.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider/slide6.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider/slide7.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider/slide8.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider/slide9.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider/slide10.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider/slide11.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider/slide12.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider/slide13.jpg);"></div>
                                    </div>
                                </div>
                                <div class="uvSlider__nav_wrap">
                                    <!-- <ul class="uvSlider__pagination_white uvSlider__pagination"></ul> -->
                                    <div class="fz-0">
                                        <button class="uvSlider__nav" data-direction="prev">
                                            Предыдущий слайд
                                            <svg 
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            width="14px" height="25px">
                                            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                                            d="M12.204,12.572 L0.358,1.348 C0.066,1.072 0.066,0.629 0.358,0.353 C0.649,0.077 1.116,0.077 1.408,0.353 L13.781,12.077 C14.073,12.353 14.073,12.796 13.781,13.072 L1.408,24.791 C1.265,24.926 1.072,24.999 0.885,24.999 C0.698,24.999 0.506,24.932 0.363,24.791 C0.072,24.515 0.072,24.072 0.363,23.796 L12.204,12.572 Z"/>
                                            </svg>
                                        </button>
                                        <button class="uvSlider__nav" data-direction="next">
                                            Следующий слайд
                                            <svg 
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            width="14px" height="25px">
                                            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                                            d="M12.204,12.572 L0.358,1.348 C0.066,1.072 0.066,0.629 0.358,0.353 C0.649,0.077 1.116,0.077 1.408,0.353 L13.781,12.077 C14.073,12.353 14.073,12.796 13.781,13.072 L1.408,24.791 C1.265,24.926 1.072,24.999 0.885,24.999 C0.698,24.999 0.506,24.932 0.363,24.791 C0.072,24.515 0.072,24.072 0.363,23.796 L12.204,12.572 Z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="section">
            <section class="main_block py-0 select_box__parent" style="overflow: hidden;">
                <div class="container-fluid px-lg-5  container-lg">
                    <div class="row align-items-center">
                        <div class="col-xlg-3 py-5">
                            <h1>Выберите Этаж</h1>
                            <div class="row">
                                <div class="col-10 col-md-5 col-xlg-10">
                                    <p style="margin-bottom: 40px; font-size: 15px; line-height: 1.8; max-width: 400px;">
                                        Просторная многокомнатная квартира для большой семьи или уютная студия, сделанная индивидуально под вас? В ЖК Parkent Plaza есть все и немного больше — выберите самую подходящую для вас планировку или реализуйте собственное решение.
                                    </p>
                                </div>
                                <div class="col-10 col-md-5 col-xlg-10">
                                    <p style="font-size: 15px; line-height: 1.8; max-width: 400px;">
                                        А тем, кто покупает квартиру на 9-м этаже площадью более 135 кв. м., мы дарим целых 73,5 кв. м. террасы дополнительно к площади самой квартиры.
                                    </p>
                                    <p style="font-size: 15px; line-height: 1.8; max-width: 400px;">
                                        Терраса — место, которое соберёт всю семью под открытым небом. Встречайте незабываемые рассветы и закаты на комфортно обустроенном уголке крыши.
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-10 col-md-5 col-xlg-10">
                                    <p>
                                        <a href="#a" class="btn btn-primary btn-lg iconized iconized_lg__btn mb-4">
                                            <span class="iconized__icon">
                                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="22"
                                                    height="22">
                                                    <use xlink:href="/sprite.svg#equalizer" />
                                                </svg>
                                            </span>
                                            <span class="iconized__text">
                                                Подбор по параметрам
                                            </span>
                                        </a>
                                    </p>
                                    <p>Есть собственная идея? Реализуем ваш собственный проект под руководством наших инженеров.</p>
                                </div>
                                <div class="col-10 col-md-5 col-xlg-10">
                                    <small>*Стоимость ориентировочная. <br>Уточняйте цены в Официальных отделах продаж.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="select_box" style="position: relative;">
                                <svg width="1802px" height="725px">
                                    <image xlink:href="./images/main_pic.jpg" x="0" y="0" width="1407" height="725" />
                                    <a href="./select.html"><path fill-rule="evenodd" class="highlight"
                                        d="M58.587,361.401 L1236.731,135.090 L1236.461,201.712 L58.532,404.534 L58.587,361.401 Z"
                                        data-floor="8"
                                        data-free_apartments="13"
                                        />
                                    </a>
                                    <a href="./select.html"><path fill-rule="evenodd" class="highlight"
                                        d="M58.532,401.915 L1236.731,200.468 L1236.731,261.824 L58.587,434.826 L58.532,401.915 Z"
                                        data-floor="7"
                                        data-free_apartments="33"
                                        />
                                    </a>
                                    <a href="./select.html"><path fill-rule="evenodd" class="highlight"
                                        d="M58.587,432.814 L1236.731,260.818 L1236.731,318.150 L58.587,468.019 L58.587,432.814 Z"
                                        data-floor="6"
                                        data-free_apartments="0"
                                        />
                                    </a>
                                    <a href="./select.html"><path fill-rule="evenodd" class="highlight"
                                        d="M1314.000,423.000 L1256.729,378.565 L1242.763,379.387 L1242.763,379.506 L1237.998,379.506 L1238.000,380.000 L57.000,504.000 L57.000,468.000 L1235.726,316.397 L1235.726,316.139 L1236.033,316.358 L1237.737,316.139 L1237.742,317.580 L1242.478,320.964 L1256.000,319.373 L1256.000,319.000 L1256.381,319.328 L1257.841,319.156 L1257.841,320.587 L1314.000,369.000 L1314.000,423.000 Z"
                                        data-floor="5"
                                        data-free_apartments="12"
                                        />
                                    </a>
                                    <a href="./select.html"><path fill-rule="evenodd" class="highlight"
                                        d="M58.587,502.217 L1236.731,374.477 L1236.731,434.826 L58.587,537.421 L58.587,502.217 Z"
                                        data-floor="4"
                                        data-free_apartments="23"
                                        />
                                    </a>
                                    <a href="./select.html"><path fill-rule="evenodd" class="highlight"
                                        d="M58.587,535.409 L1236.731,433.820 L1236.731,495.176 L58.587,570.613 L58.587,535.409 Z"
                                        data-floor="3"
                                        data-free_apartments="11"
                                        />
                                    </a>
                                    <a href="./select.html"><path fill-rule="evenodd" class="highlight"
                                        d="M58.587,568.601 L1236.731,493.164 L1236.731,554.520 L58.587,603.805 L58.587,568.601 Z"
                                        data-floor="2"
                                        data-free_apartments="43"
                                        />
                                    </a>
                                    <a href="./select.html"><path fill-rule="evenodd" class="highlight"
                                        d="M58.587,601.793 L1236.731,552.508 L1236.731,613.863 L58.587,636.998 L58.587,601.793 Z"
                                        data-floor="1"
                                        data-free_apartments="1"
                                        />
                                    </a>
                                </svg>
                                <div class="tooltiper" id="tooltiper" style="position: absolute; left: 0; top: 0; color: black; opacity: 0;">
                                    <div class="tooltiper__left">
                                        этаж
                                        <div class="tooltiper__floor">
                                            5
                                        </div>
                                    </div>
                                    <div class="tooltiper__right">
                                        <div class="tooltiper__apartment_desc">Квартир <br>в продаже</div>
                                        <div class="tooltiper__apartment">
                                            3
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        {{> map_block}}
        
        {{> footer_v2}}

{{!-- 
        <section class="main_block bg-grey_light">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <h1>
                            <div class="supTitle">Riverside</div>
                            Документы
                        </h1>
                    </div>
                    <div class="col-md-5 col-xl-3 mb-4">
                        <a href="#a" class="btn btn-lg btn-doc iconized w-100">
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="28"
                                    height="30">
                                    <use xlink:href="/sprite.svg#pdf_icon" />
                                </svg>
                            </span>
                            <span class="iconized__text">
                                Проектная декларация <br>
                                <small>13.17 Кб   •   Версия от: 21 ноября 2018</small>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-5 col-xl-3 mb-4">
                        <a href="#a" class="btn btn-lg btn-doc iconized w-100">
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="28"
                                    height="30">
                                    <use xlink:href="/sprite.svg#pdf_icon" />
                                </svg>
                            </span>
                            <span class="iconized__text">
                                Разрешение на строительство <br>
                                <small>473.17 Кб   •   Версия от: 21 ноября 2018</small>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-5 col-xl-3 mb-4">
                        <a href="#a" class="btn btn-lg btn-doc iconized w-100">
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="28"
                                    height="30">
                                    <use xlink:href="/sprite.svg#pdf_icon" />
                                </svg>
                            </span>
                            <span class="iconized__text">
                                Проектная декларация <br>
                                <small>473.17 Кб   •   Версия от: 21 ноября 2018</small>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-5 col-xl-3 mb-4">
                        <a href="#a" class="btn btn-lg btn-doc iconized w-100">
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="28"
                                    height="30">
                                    <use xlink:href="/sprite.svg#pdf_icon" />
                                </svg>
                            </span>
                            <span class="iconized__text">
                                Проектная декларация <br>
                                <small>13.17 Кб   •   Версия от: 21 ноября 2018</small>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section> --}}

        {{!-- {{> footer}} --}}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/jquery.menu-aim.js"></script>
    <script src="./js/velocity.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/scripts.js"></script>


    <script>
        var tooltiper = document.getElementById('tooltiper'),
            px = '0px',
            py = '0px',
            trig = -1;

        function getCursorXY(e) {}
        $('.highlight').on('mouseenter', function (e) {
            $(this).parents('.select_box').find('.tooltiper').css({
                'opacity': 1
            })
        })
        $('.highlight').on('mouseleave', function (e) {
            $(this).parents('.select_box').find('.tooltiper').css({
                'opacity': 0
            })
        })
        $('.highlight').on('mousemove', function (e) {
            if (this.getBoundingClientRect().top < 0) {
                trig = tooltiper.offsetHeight / 2
            } else {
                trig = tooltiper.offsetHeight * -1
            }
            px = e.pageX - $(this).parents('.select_box').offset().left - tooltiper.offsetWidth - 10;
            py = e.pageY - $(this).parents('.select_box').offset().top + trig - 10;
            tooltiper.style.transform = 'translate3d(' + (px < 10 ? 10 : px) + 'px, ' + py + 'px, 0)';
            //tooltiper.style.top = py + 'px';
            $('.tooltiper__floor').html($(this).data('floor'));
            $('.tooltiper__apartment').html($(this).data('free_apartments'));
        })
    </script>



    <!--  + maps   -->
    <script src="https://api-maps.yandex.ru/2.1/?apikey=e2abdba6-4862-46d4-a16e-785372d786d2&lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        // Функция ymaps.ready() будет вызвана, когда
        // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
        /*ymaps.ready(init);
        function init(){ 
            // Создание карты.    
            var myMap = new ymaps.Map("map", {
                // Координаты центра карты.
                // Порядок по умолчанию: «широта, долгота».
                // Чтобы не определять координаты центра карты вручную,
                // воспользуйтесь инструментом Определение координат.
                center: [41.315273, 69.326970],
                // Уровень масштабирования. Допустимые значения:
                // от 0 (весь мир) до 19.
                zoom: 18
            });
        }*/
        ymaps.ready(function () {
            var myMap = new ymaps.Map('map', {
                center: [41.315273, 69.326970],
                zoom: 17
            }, {
                searchControlProvider: 'yandex#search'
            }),

            // Создаём макет содержимого.
            MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
                '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
            ),

            /*myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
                hintContent: 'Собственный значок метки',
                balloonContent: 'Это красивая метка'
            }, {
                // Опции.
                // Необходимо указать данный тип макета.
                iconLayout: 'default#image',
                // Своё изображение иконки метки.
                iconImageHref: 'images/myIcon.gif',
                // Размеры метки.
                iconImageSize: [30, 42],
                // Смещение левого верхнего угла иконки относительно
                // её "ножки" (точки привязки).
                iconImageOffset: [-5, -38]
            }),*/

            myPlacemarkWithContent = new ymaps.Placemark([41.315273, 69.326970], {
                hintContent: 'Собственный значок метки с контентом',
                balloonContent: 'А эта — новогодняя',
                iconContent: '12'
            }, {
                // Опции.
                // Необходимо указать данный тип макета.
                iconLayout: 'default#imageWithContent',
                // Своё изображение иконки метки.
                iconImageHref: './images/marker.png',
                // Размеры метки.
                iconImageSize: [56, 83],
                // Смещение левого верхнего угла иконки относительно
                // её "ножки" (точки привязки).
                iconImageOffset: [-24, -24],
                // Смещение слоя с содержимым относительно слоя с картинкой.
                iconContentOffset: [15, 15],
                // Макет содержимого.
                iconContentLayout: MyIconContentLayout
            });

        myMap.geoObjects
            .add(myPlacemarkWithContent);
    });
    </script>
    <!--  - maps   -->


</body>

</html>