<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body class="horizontalNav">
    {{> navigation_horizontal}}
    <div>
        <div style="overflow: hidden;" class="section pt-4">
            <div class="container container-lg">
                <div class="row">
                    <div class="col-10">
                        <h1 style="max-width: 830px; margin-bottom: 80px;" class="appearAnimated">
                            <small class="supTitle" style="font-size: 16px;">Преимущества нашей
                                компании</small><br><br>
                            <span style="font-family: gilroybold;"><b style="color: #4971b9;">Проекты
                                    компании</b> – Атмосфера уюта и безопасности – что может быть важнее</span>
                        </h1>
                    </div>
                    <div class="col-10">
                        <div class="advantages_block advantages_block_two-items">
                            <a href="/riverside" target="_blank"
                                class="advantages_block__item advantages_block__first appearAnimated" data-space="300">
                                <div class="advantages_block_img" style="height: 360px;">
                                    <img src="/images/content/slider_riverside/slide5.jpg"
                                        alt="Жилой комплекс RiverSide"
                                        style="height: 100%; width: 100%; max-width: unset; object-fit: cover;">
                                </div>
                                <div class="advantages_block__text">
                                    <div class="backgroundText">
                                        01
                                    </div>
                                    <div class="advantages_block__title">
                                        ЖК "RiverSide"
                                    </div>
                                    <div class="advantages_block__cont">
                                        <p style="font-size: 14px;">
                                            Новый жилой комплекс компании First Development Group расположен возле реки
                                            в Мирзо-Улугбеском районе города Ташкента. Архитектурная концепция
                                            предполагает, что проект станет настоящим украшением этой территории.
                                        </p>
                                    </div>
                                </div>
                            </a>
                            <a href="/parkent-plaza" target="_blank"
                                class="advantages_block__item advantages_block__second appearAnimated" data-delay="100"
                                data-space="300">
                                <div class="advantages_block__img" style="height: 360px;">
                                    <img src="/images/content/slider/slide1.jpg" alt="Жилой комплекс Parkent-Plaza"
                                        style="height: 100%; width: 100%; max-width: unset; object-fit: cover;">
                                </div>
                                <div class="advantages_block__text">
                                    <div class="backgroundText">
                                        02
                                    </div>
                                    <div class="advantages_block__title">
                                        ЖК "Parkent Plaza"
                                    </div>
                                    <div class="advantages_block__cont">
                                        <p style="font-size: 14px;">
                                            Жилой комплекс Parkent-Plaza расположен в самом сердце Яшнабадского района
                                            города Ташкента. Рядом будет располагаться детский многопрофильный
                                            медицинский центр, многоуровневая дорожная развязка, станция надземного
                                            метро.
                                        </p>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        {{> map_block}}

        {{> footer_v2}}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/jquery.menu-aim.js"></script>
    <script src="./js/velocity.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/scripts_v5.js"></script>

    <script>
        $('#contact_form').submit(function (event) {
            event.preventDefault();

            $(event.target).find('button').attr("disabled", true);

            $('#contact_form').find('.error_message').text('')

            var form = $('#contact_form').serialize();

            $.ajax({
                type: 'post',
                url: 'http://fdg.uz/contact.php',
                data: form,
                dataType: 'json',
                success: function (data) {
                    // var obj = jQuery.parseJSON(data);
                    console.log(data.success);
                    if (data.success == 1) {
                        $('#contact_form').outerHeight($('#contact_form').outerHeight());
                        $('#contact_form').html(
                            '<div class="success_message"><div class="text-center"><h1>Спасибо!</h1><div>Мы приняли вашу заявку и в ближайшее время выйдем с вами на связь!</div></div></div>'
                        )
                    } else {
                        $(event.target).find('button').attr("disabled", false);
                        $.each(data.errors, function (key, value) {
                            $('#contact_form').find(value.field).html(value.error_message)
                        });
                    }
                },
                error: function (data) {
                    alert('Возникла ошибка! Пожалуйста, обновите страницу и попробуйте ещё раз.');
                    //alert(data);
                }
            });
        })
        $('#callback_form').submit(function (event) {
            event.preventDefault();

            $(event.target).find('button').attr("disabled", true);

            $('#callback_form').find('.error_message').text('')

            var form = $('#callback_form').serialize();

            $.ajax({
                type: 'post',
                url: 'http://fdg.uz/callback.php',
                data: form,
                dataType: 'json',
                success: function (data) {
                    // var obj = jQuery.parseJSON(data);
                    console.log(data.success);
                    if (data.success == 1) {
                        $('#callback_form').outerHeight($('#callback_form').outerHeight());
                        $('#callback_form').html(
                            '<div class="success_message"><div class="text-center" style="max-width: 320px;"><h1>Спасибо!</h1><div>Мы приняли вашу заявку и в ближайшее время выйдем с вами на связь!</div></div></div>'
                        )
                    } else {
                        $(event.target).find('button').attr("disabled", false);
                        $.each(data.errors, function (key, value) {
                            $('#callback_form').find(value.field).html(value.error_message)
                        });
                    }
                },
                error: function (data) {
                    alert('Возникла ошибка! Пожалуйста, обновите страницу и попробуйте ещё раз.')
                }
            });
        })

        $('#callback_form_2').submit(function (event) {
            event.preventDefault();

            $(event.target).find('button').attr("disabled", true);

            $('#callback_form_2').find('.error_message').text('')

            var form = $('#callback_form_2').serialize();

            $.ajax({
                type: 'post',
                url: 'http://fdg.uz/callback.php',
                data: form,
                dataType: 'json',
                success: function (data) {
                    // var obj = jQuery.parseJSON(data);
                    console.log(data.success);
                    if (data.success == 1) {
                        $('#callback_form_2').outerHeight($('#callback_form_2').outerHeight());
                        $('#callback_form_2').html(
                            '<div class="success_message"><div class="text-center" style="max-width: 320px;"><h1>Спасибо!</h1><div>Мы приняли вашу заявку и в ближайшее время выйдем с вами на связь!</div></div></div>'
                        )
                    } else {
                        $(event.target).find('button').attr("disabled", false);
                        $.each(data.errors, function (key, value) {
                            $('#callback_form_2').find(value.field).html(value
                                .error_message)
                        });
                    }
                },
                error: function (data) {
                    alert('Возникла ошибка! Пожалуйста, обновите страницу и попробуйте ещё раз.')
                }
            });
        })
    </script>


    <!--  + maps   -->
    <script src="https://api-maps.yandex.ru/2.1/?apikey=e2abdba6-4862-46d4-a16e-785372d786d2&lang=ru_RU"
        type="text/javascript"></script>
    <script type="text/javascript">
        // Функция ymaps.ready() будет вызвана, когда
        // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
        /*ymaps.ready(init);
        function init(){ 
            // Создание карты.    
            var myMap = new ymaps.Map("map", {
                // Координаты центра карты.
                // Порядок по умолчанию: «широта, долгота».
                // Чтобы не определять координаты центра карты вручную,
                // воспользуйтесь инструментом Определение координат.
                center: [41.315273, 69.326970],
                // Уровень масштабирования. Допустимые значения:
                // от 0 (весь мир) до 19.
                zoom: 18
            });
        }*/
        ymaps.ready(function () {
            var myMap = new ymaps.Map('map', {
                    center: [41.315273, 69.326970],
                    zoom: 17
                }, {
                    searchControlProvider: 'yandex#search'
                }),

                // Создаём макет содержимого.
                MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
                    '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
                ),

                /*myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
                    hintContent: 'Собственный значок метки',
                    balloonContent: 'Это красивая метка'
                }, {
                    // Опции.
                    // Необходимо указать данный тип макета.
                    iconLayout: 'default#image',
                    // Своё изображение иконки метки.
                    iconImageHref: 'images/myIcon.gif',
                    // Размеры метки.
                    iconImageSize: [30, 42],
                    // Смещение левого верхнего угла иконки относительно
                    // её "ножки" (точки привязки).
                    iconImageOffset: [-5, -38]
                }),*/

                myPlacemarkWithContent = new ymaps.Placemark([41.315273, 69.326970], {
                    hintContent: 'Собственный значок метки с контентом',
                    balloonContent: 'А эта — новогодняя',
                    iconContent: '12'
                }, {
                    // Опции.
                    // Необходимо указать данный тип макета.
                    iconLayout: 'default#imageWithContent',
                    // Своё изображение иконки метки.
                    iconImageHref: './images/marker.png',
                    // Размеры метки.
                    iconImageSize: [56, 83],
                    // Смещение левого верхнего угла иконки относительно
                    // её "ножки" (точки привязки).
                    iconImageOffset: [-24, -24],
                    // Смещение слоя с содержимым относительно слоя с картинкой.
                    iconContentOffset: [15, 15],
                    // Макет содержимого.
                    iconContentLayout: MyIconContentLayout
                });

            myMap.geoObjects
                .add(myPlacemarkWithContent);
        });
    </script>
    <!--  - maps   -->

</body>

</html>