<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body class="horizontalNav">
    {{> navigation_horizontal}}
    <div>
        <div class="section">{{> pageheader_v5}}</div>
        <div class="section" id="video_section">
            <section class="main_block bg-grey_light padding-top-xl appearAnimated">
                <div class="container container-lg">
                    <div class="row align-items-center">
                        <div class="col-10 col-xlg-5">
                            <h1 style="max-width: 830px;">
                                <span style="font-family: gilroybold;"><b style="color: #4971b9;">Riverside</b></span><br>
                                <small class="subTitle" style="font-size: 16px;">новый жилой комплекс строящийся в экологически чистом районе Ташкента</small>
                            </h1>
                            <p style="font-size: 16px; max-width: 630px;">
                                ЖК Riverside — это место, в котором легко жить, любить и работать. Продуманные стилистические решения в архитектуре, разнообразный досуг для взрослых и детей, места для уединенной работы, игр на свежем воздухе и отдыха большими и маленькими компаниями. Riverside — это не просто жилой комплекс. Это сообщество людей с одинаковыми жизненными ориентирами. Они ценят время и умеют его проводить интересно и эффективно.
                            </p>
                            <p style="font-size: 16px; max-width: 630px;">
                                Собственная набережная комплекса у реки открывает безграничные возможности для отдыха с друзьями и с семьей: рыбалка, барбекю у воды, прогулки вдоль берега, романтичные вечера в беседках у реки. Техническое оснащение комплекса позволяет работать из дома в спокойной обстановке вдали от городского шума. При этом недалеко от ЖК проходят крупные городские магистрали, по которым можно быстро добраться до любой точки столицы.
                            </p>
                        </div>
                        <div class="col-10 col-xlg-5">
                            <div class="videoBlock_wrap mr-auto ml-0" data-video_target="videoWrappersalkj" data-time-start="18" data-v="8b32MdGKp_4">
                                <div class="videoBlock_wrap__videoBlock" style="background-image: url(./images/vid_preview.jpg)">
                                    <button class="videoBlock_wrap__button">
                                        <svg width="81px" height="81px">
                                            <path fill-rule="evenodd"  fill="#ffffff" class="play_circle"
                                            d="M40.000,-0.000 C62.091,-0.000 80.000,17.909 80.000,40.000 C80.000,62.091 62.091,80.000 40.000,80.000 C17.909,80.000 -0.000,62.091 -0.000,40.000 C-0.000,17.909 17.909,-0.000 40.000,-0.000 Z"/>
                                            <path class="play_circle_stroke" fill-rule="evenodd" stroke-width="2px" stroke-linecap="butt" stroke-linejoin="miter" fill="none"
                                            d="M40.000,12.000 C55.464,12.000 68.000,24.536 68.000,40.000 C68.000,55.464 55.464,68.000 40.000,68.000 C24.536,68.000 12.000,55.464 12.000,40.000 C12.000,24.536 24.536,12.000 40.000,12.000 Z"/>
                                            <path class="play_triangle" fill-rule="evenodd" stroke-width="2px" stroke-linecap="round" stroke-linejoin="round" fill="none"
                                            d="M34.000,54.000 L34.000,27.000 L54.000,40.000 L40.000,50.000 "/>
                                        </svg>
                                    </button>
                                    <div class="player_place" id="videoWrappersalkj"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="section">
            <section class="main_block bg-grey_light">
                <div class="container container-lg">
                    <div class="row appearAnimated" data-dir="toTop">
                        <div class="col-3-3 mb-4">
                            <div class="iconized_text_block">
                                <div class="iconized_text_block__icon">
                                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="40"
                                        height="40">
                                        <use xlink:href="/sprite.svg#boxes" />
                                    </svg>
                                </div>
                                <div class="iconized_text_block__title">Продуманность каждой детали</div>
                                <div class="iconized_text_block__text">
                                    Smart-планировка позволяет эффективно использовать пространство — каждый квадратный метр квартиры на счету и максимально функционален. Комнаты для отдыха и работы, ниши для шкафов, места для бытовой техники: здесь найдется подходящее место для всех и всего. Несмотря на нашу приверженность принципам эргономики, вы можете сделать свое пространство ещё более индивидуальным — мы предусмотрели и свободные планировки квартир.
                                </div>
                            </div>
                        </div>
                        <div class="col-3-3 mb-4">
                            <div class="iconized_text_block">
                                <div class="iconized_text_block__icon">
                                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="36"
                                        height="40">
                                        <use xlink:href="/sprite.svg#trees" />
                                    </svg>
                                </div>
                                <div class="iconized_text_block__title">Продуманный комфорт</div>
                                <div class="iconized_text_block__text">
                                    Умный город внутри столицы, в котором нет места рутине. Все для своих: места для отдыха и воркаут, баскетбольная площадка, комфортные зоны для творческой работы, детские площадки, места для барбекю и рыбалки, пандусы и единый уровень покрытия на тротуарах и в подъездах.
                                </div>
                            </div>
                        </div>
                        <div class="col-3-3 mb-4">
                            <div class="iconized_text_block">
                                <div class="iconized_text_block__icon">
                                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="41"
                                        height="40">
                                        <use xlink:href="/sprite.svg#houses" />
                                    </svg>
                                </div>
                                <div class="iconized_text_block__title">У нас удобно</div>
                                <div class="iconized_text_block__text">
                                    Жилой комплекс, нашедший свое место в развивающемся районе со всей необходимой инфраструктурой. Транспортная развязка для быстрого выезда в центр города и всё самое необходимое на расстоянии нескольких минут ходьбы от дома.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row appearAnimated" data-dir="toTop" data-delay="200">
                        <div class="col-3-3 mb-4">
                            <div class="iconized_text_block">
                                <div class="iconized_text_block__icon">
                                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="40"
                                        height="40">
                                        <use xlink:href="/sprite.svg#camera" />
                                    </svg>
                                </div>
                                <div class="iconized_text_block__title">Вам не о чем беспокоиться</div>
                                <div class="iconized_text_block__text">
                                    Ваш дом — ваша крепость. Заботимся о вас и на расстоянии: профессиональная охрана комплекса, закрытая парковка, видеонаблюдение по периметру — и дети, и взрослые всегда будут в безопасности.
                                </div>
                            </div>
                        </div>
                        <div class="col-3-3 mb-4">
                            <div class="iconized_text_block">
                                <div class="iconized_text_block__icon">
                                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="36"
                                        height="40">
                                        <use xlink:href="/sprite.svg#eco_house" />
                                    </svg>
                                </div>
                                <div class="iconized_text_block__title">Двор без машин</div>
                                <div class="iconized_text_block__text">
                                    Двор — это не парковка. Это место для прогулок, общения, детских игр, расслабленного отдыха и занятий спортом на площадках. Для автомобилей мы выделили место на большой охраняемой парковке, а общественное пространство во дворе дома сделали максимально безопасным для жителей: около детских площадок нет дорог для машин, автомобили не ездят по тротуарам и не загораживают проход. 
                                </div>
                            </div>
                        </div>
                        <div class="col-3-3 mb-4">
                            <div class="iconized_text_block">
                                <div class="iconized_text_block__icon">
                                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="41"
                                        height="40">
                                        <use xlink:href="/sprite.svg#star" />
                                    </svg>
                                </div>
                                <div class="iconized_text_block__title">Слагаемые качества</div>
                                <div class="iconized_text_block__text">
                                    Работаем только с топовыми компаниями, в чьей продукции полностью уверены. Мы взяли только лучшее из разных сфер строительства и архитектуры: строительные леса, фанера и оснастка представлена брендом Peri, окна AKFA Imzo, кабельная продукция UzKabel, прочные входные двери «Бульдорс», смесители, души и кухни от Hansgrohe, трубы и фитинги Vero, надежная арматура и металл от МКМ и долговечные межкомнатные двери ProfilDoors.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="section">
            <section class="main_block py-0 select_box__parent" style="overflow: hidden;">
                <div class="container pr-xlg-0">
                    <div class="row align-items-center">
                        <div class="col-xlg-3 py-5">
                            <h1>Выберите Квартиру</h1>
                            <div class="row">
                                <div class="col-10 col-md-5 col-xlg-10">
                                    <p style="margin-bottom: 40px; font-size: 15px; line-height: 1.8; max-width: 400px;">
                                        Smart-планировка в каждой квартире — всё на своих местах. По-настоящему просторные многокомнатные квартиры и компактные студии с нестандартными решениями в интерьере. Несколько вариантов квартир с разной квадратурой и разумным подходом к планировке.
                                    </p>
                                </div>
                                <div class="col-10 col-md-5 col-xlg-10">
                                    <p class="fw_bold text-lg mb-3">
                                        Студия 27м<sup>2</sup> – от&nbsp;137&nbsp;700&nbsp;000&nbsp;сум.
                                    </p>
                                    <p class="fw_bold text-lg mb-3">
                                        1 комнатная 36,5 м<sup>2</sup> – от&nbsp;186&nbsp;150&nbsp;000&nbsp;сум.
                                    </p>
                                    <p class="fw_bold text-lg mb-3">
                                        2 комнатная 49,8 м<sup>2</sup> – от&nbsp;253&nbsp;980&nbsp;000&nbsp;сум.
                                    </p>
                                    <p class="fw_bold text-lg mb-4 pb-4">
                                        3 комнатная 55,5 м<sup>2</sup> – от&nbsp;283&nbsp;050&nbsp;000&nbsp;сум.
                                    </p>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-10 col-md-5 col-xlg-10">
                                    <p>
                                        <a href="#contacts_block" class="btn btn-primary btn-lg iconized iconized_lg__btn mb-4">
                                            <span class="iconized__text">
                                                Узнать подробно
                                            </span>
                                        </a>
                                    </p>
                                </div>
                                <div class="col-10 col-md-5 col-xlg-10">
                                    <small>*Стоимость ориентировочная. <br>Уточняйте цены в Официальных отделах продаж.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-xlg-7">
                            <div class="uvSlider uvSlider_height_auto" id="uvSlider2" data-effect="fade" style="overflow: hidden; min-width: 70vw;">
                                <div class="uvSliderItemsList" id="uvSliderItemsList2" role="region" aria-label="Carousel" aria-live="polite">
                                    <div aria-hidden="false" class="uvSliderItem active">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider_riverside/slide1.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider_riverside/slide2.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider_riverside/slide3.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider_riverside/slide4.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider_riverside/slide5.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider_riverside/slide6.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider_riverside/slide7.jpg);"></div>
                                    </div>
                                    <div aria-hidden="false" class="uvSliderItem">
                                        <div class="uvSliderItem__background" style="background-image: url(/images/content/slider_riverside/slide8.jpg);"></div>
                                    </div>
                                </div>
                                <div class="uvSlider__nav_wrap">
                                    <!-- <ul class="uvSlider__pagination_white uvSlider__pagination"></ul> -->
                                    <div class="fz-0">
                                        <button class="uvSlider__nav" data-direction="prev">
                                            Предыдущий слайд
                                            <svg 
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            width="14px" height="25px">
                                            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                                            d="M12.204,12.572 L0.358,1.348 C0.066,1.072 0.066,0.629 0.358,0.353 C0.649,0.077 1.116,0.077 1.408,0.353 L13.781,12.077 C14.073,12.353 14.073,12.796 13.781,13.072 L1.408,24.791 C1.265,24.926 1.072,24.999 0.885,24.999 C0.698,24.999 0.506,24.932 0.363,24.791 C0.072,24.515 0.072,24.072 0.363,23.796 L12.204,12.572 Z"/>
                                            </svg>
                                        </button>
                                        <button class="uvSlider__nav" data-direction="next">
                                            Следующий слайд
                                            <svg 
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink"
                                            width="14px" height="25px">
                                            <path fill-rule="evenodd"  fill="rgb(255, 255, 255)"
                                            d="M12.204,12.572 L0.358,1.348 C0.066,1.072 0.066,0.629 0.358,0.353 C0.649,0.077 1.116,0.077 1.408,0.353 L13.781,12.077 C14.073,12.353 14.073,12.796 13.781,13.072 L1.408,24.791 C1.265,24.926 1.072,24.999 0.885,24.999 C0.698,24.999 0.506,24.932 0.363,24.791 C0.072,24.515 0.072,24.072 0.363,23.796 L12.204,12.572 Z"/>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="section">
            <section class="main_block bg-grey_light">
                <div class="container container-lg">
                    <div class="row">
                        <div class="col-10">
                            <h1>
                                Новости
                            </h1>
                            <div class="row">
                                <div class="col-sm-5 col-3-3 case_galery__wrap">
                                    <div class="case_galery">
                                        <div class="case_galery__img">
                                            <a href="https://www.gazeta.uz/ru/2019/05/21/riverside/" target="_blank" rel="nofollow noopener">
                                                <img src="/images/content/slider_riverside/slide5.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="case_galery__text">
                                            <a href="https://www.gazeta.uz/ru/2019/05/21/riverside/" target="_blank" rel="nofollow noopener" class="case_galery__text__title mb-2 d-block">В Ташкенте стартовала продажа квартир в ЖК Riverside от 135 млн сумов</a>
                                            <div class="case_galery__text__sub">На старте продаж в новом ЖК Riverside от девелоперской компании FDG можно приобрести квартиры от 135 млн сумов.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-3-3 case_galery__wrap">
                                    <div class="case_galery">
                                        <div class="case_galery__img">
                                            <a href="https://daryo.uz/2019/05/24/yangi-xonadonlar-47-millon-somdan-riverside-tjm/" target="_blank" rel="nofollow noopener">
                                                <img src="/images/content/slider_riverside/slide2.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="case_galery__text">
                                            <a href="https://daryo.uz/2019/05/24/yangi-xonadonlar-47-millon-somdan-riverside-tjm/" target="_blank" rel="nofollow noopener" class="case_galery__text__title mb-2 d-block">Yangi xonadonlar 4,7 million so‘mdan 1 kv.m — Riverside TJM</a>
                                            <div class="case_galery__text__sub">FDG Developer kompaniyasining yangi Riverside TJMdagi xonadonlarni 135 million so‘mdan xarid qilish mumkin.</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-3-3 case_galery__wrap">
                                    <div class="case_galery">
                                        <div class="case_galery__img">
                                            <a href="https://kun.uz/62891260" target="_blank" rel="nofollow noopener">
                                                <img src="/images/content/news/n3.jpg" alt="">
                                            </a>
                                        </div>
                                        <div class="case_galery__text">
                                            <a href="https://kun.uz/62891260" target="_blank" rel="nofollow noopener" class="case_galery__text__title mb-0">Тошкент шаҳрида бизнес учун янги жойлар қурилмокда - FDG’дан ажойиб таклифлар</a>
                                            <div class="case_galery__text__sub">Parkent Plaza турар-жой комплекси - First Development Group (FDG) девелопер компаниясининг биринчи лойиҳасидир.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="section">
            <section class="main_block">
                <div class="container">
                    <div class="row">
                        <div class="col-10 col-lg-9 col-xlg-10 mx-auto">
                            <div class="count_block">
                                <h1><span>Ближайшая дата заселения</span> 1&nbsp;сентября&nbsp;2020</h1>

                                <div class="conter_wrap">
                                    <div class="conter_wrap__item cdays">
                                        <div class="conter_wrap__text">ДНЕЙ</div>
                                        <div class="conter_wrap__num cnumber">00</div>
                                    </div>
                                    <div class="conter_wrap__item conter_wrap__item_sep">:</div>
                                    <div class="conter_wrap__item chours">
                                        <div class="conter_wrap__text">ЧАСОВ</div>
                                        <div class="conter_wrap__num cnumber">00</div>
                                    </div>
                                    <div class="conter_wrap__item conter_wrap__item_sep">:</div>
                                    <div class="conter_wrap__item cminutes">
                                        <div class="conter_wrap__text">МИНУТ</div>
                                        <div class="conter_wrap__num cnumber">00</div>
                                    </div>
                                </div>

                            
                                <a href="#contacts_block" class="_scroll_to_A btn btn-white btn-lg iconized_lg__btn">
                                    <span class="iconized__text">
                                        Оповестить меня
                                    </span>
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        {{!-- <div class="section">
            <section class="main_block pb-0">
                <div class="container container-lg">
                    <div class="row">
                        <div class="col-10 col-xlg-6">
                            <h1>Поблизости с “Riverside” вас ожидает</h1>
                            <p class="mb-5 paragraph-md" style="max-width: 690px">
                                Жизнь вдали от того, что необходимо каждый день? Вряд ли это можно назвать качественной жизнью. Поэтому рядом с ЖК Riverside есть все, что вы хотите видеть рядом с домом: транспортные развязки, крупные супермаркеты и уютные кафе. И, конечно, в дополнение к&nbsp;этому — полноводная река, огибающая жилой комплекс.
                            </p>
                            
                            <a href="#a" class="btn btn-primary btn-lg iconized iconized_lg__btn">
                                <span class="iconized__icon">
                                    <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="24"
                                        height="24">
                                        <use xlink:href="/sprite.svg#location" />
                                    </svg>
                                </span>
                                <span class="iconized__text">
                                    Посмотреть на карте
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="row py-5">
                        <div class="col-3-3">
                            <div class="images_block">
                                <img src="./images/infrastructure0.jpg" alt="">
                                <div class="images_block__title">Название заведения</div>
                            </div>
                        </div>
                        <div class="col-3-3">
                            <div class="images_block">
                                <img src="./images/infrastructure1.jpg" alt="">
                                <div class="images_block__title">Название заведения</div>
                            </div>
                        </div>
                        <div class="col-3-3">
                            <div class="images_block">
                                <img src="./images/infrastructure2.jpg" alt="">
                                <div class="images_block__title">Название заведения</div>
                            </div>
                        </div>
                        <div class="col-3-3">
                            <div class="images_block">
                                <img src="./images/infrastructure3.jpg" alt="">
                                <div class="images_block__title">Название заведения</div>
                            </div>
                        </div>
                        <div class="col-3-3">
                            <div class="images_block">
                                <img src="./images/infrastructure4.jpg" alt="">
                                <div class="images_block__title">Название заведения</div>
                            </div>
                        </div>
                        <div class="col-3-3">
                            <div class="images_block">
                                <img src="./images/infrastructure5.jpg" alt="">
                                <div class="images_block__title">Название заведения</div>
                            </div>
                        </div>
                        <div class="col-3-3">
                            <div class="images_block">
                                <img src="./images/infrastructure6.jpg" alt="">
                                <div class="images_block__title">Название заведения</div>
                            </div>
                        </div>
                        <div class="col-3-3">
                            <div class="images_block">
                                <img src="./images/infrastructure7.jpg" alt="">
                                <div class="images_block__title">Название заведения</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div> --}}

        {{!-- <div class="section">
            <section class="main_block padding-top-xl">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="text-center text-xl-left col-xl-5 col-xlg-4 mb-5 mb-xl-0">
                            <div style="position: relative;">
                                <svg class="hoverer" viewBox="0 0 593 523" preserveAspectRatio="xMinYMin slice">
                                    <rect x="0" y="0" width="100%" stroke="#fff" stroke-width="1" />
                                </svg>
                                <img src="./images/content_image1.jpg" alt="">
                            </div>
                        </div>
                        <div class="d-none d-xlg-block col-xlg-1"></div>
                        <div class="text-center text-xl-left col-xl-4 col-xlg-4">
                            <h1>
                                <small class="supTitle">О нашей компании</small><br>
                                First Development Group
                            </h1>
                            <p style="font-size: 17px;">
                                OOO First Development Group образовалась в 2017г, является дочерней компанией крупного
                                иностранного холдинга Gesheft Group, на данный момент Gesheft Invest, который был основан
                                1998 году. 
                                Эта полностью сформированная команда сертифицированных специалистов и инженеров,
                                выполняющая весь комплекс работ в строительстве.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
        </div> --}}


        {{!-- <section class="main_block">
            <div class="container">
                <div class="row justify-content-between">
                    <div class="col-sm-5 col-3-3 col-xlg-3 iconized_text_block__wrap">
                        <div class="iconized_text_block">
                            <div class="iconized_text_block__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="32" height="44">
                                    <use xlink:href="/sprite.svg#award" />
                                </svg>
                            </div>
                            <div class="iconized_text_block__title">Международные <br>стандарты</div>
                            <div class="iconized_text_block__text">При проектировании мы стараемся учитывать
                                многообразие стилей жизни наших покупателей и предлагать широкий ассортимент квартир
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-3-3 col-xlg-3 iconized_text_block__wrap">
                        <div class="iconized_text_block">
                            <div class="iconized_text_block__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="32" height="44">
                                    <use xlink:href="/sprite.svg#award" />
                                </svg>
                            </div>
                            <div class="iconized_text_block__title">Функциональные <br>планировки</div>
                            <div class="iconized_text_block__text">При проектировании мы стараемся учитывать
                                многообразие стилей жизни наших покупателей и предлагать широкий ассортимент квартир
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5 col-3-3 col-xlg-3 iconized_text_block__wrap">
                        <div class="iconized_text_block">
                            <div class="iconized_text_block__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="32" height="44">
                                    <use xlink:href="/sprite.svg#award" />
                                </svg>
                            </div>
                            <div class="iconized_text_block__title">Эстетика и <br>Функциональность</div>
                            <div class="iconized_text_block__text">При проектировании мы стараемся учитывать
                                многообразие стилей жизни наших покупателей и предлагать широкий ассортимент квартир
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> --}}


        {{!-- <section class="main_block">
            <div class="container">
                <div class="row">
                    <div class="col-lg col-xlg-5 complex-block__wrap">
                        <a href="#a" class="complex-block">
                            <div class="complex-block__img">
                                <img src="./images/complex-1.jpg" alt="">
                            </div>
                            <div class="complex-block__content">
                                <div class="complex-block__name">
                                    <div>Название Жилого Комплекса</div>
                                </div>
                                <div class="complex-block__status">
                                    Идет строительство
                                </div>
                                <div class="d-flex justify-content-around justify-content-xl-between flex-wrap mt-5">
                                    <div class="complex-block__flat-info iconized mb-4 mb-xl-0">
                                        <span class="iconized__icon">
                                            <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="24"
                                                height="24">
                                                <use xlink:href="/sprite.svg#resize" />
                                            </svg>
                                        </span>
                                        <span class="iconized__text">
                                            Квартиры от 60 м<sup>2</sup> до 142 м<sup>2</sup>
                                        </span>
                                    </div>
                                    <span class="complex-block__btn iconized iconized__rounded-icon">
                                        <span class="iconized__text">
                                            Подробнее
                                        </span>
                                        <span class="iconized__icon">
                                            <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="19"
                                                height="19">
                                                <use xlink:href="/sprite.svg#arrow_left_gallery" />
                                            </svg>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                <rect x="0" y="0" stroke="#fff" stroke-width="1" />
                            </svg>
                        </a>
                    </div>
                    <div class="col-lg col-xlg-5 complex-block__wrap">
                        <a href="#a" class="complex-block">
                            <div class="complex-block__img">
                                <img src="./images/complex-2.jpg" alt="">
                            </div>
                            <div class="complex-block__content">
                                <div class="complex-block__name">
                                    <div>Название Жилого Комплекса</div>
                                </div>
                                <div class="complex-block__status">
                                    Идет строительство
                                </div>
                                <div class="d-flex justify-content-around justify-content-xl-between flex-wrap mt-5">
                                    <div class="complex-block__flat-info iconized mb-4 mb-xl-0">
                                        <span class="iconized__icon">
                                            <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="24"
                                                height="24">
                                                <use xlink:href="/sprite.svg#resize" />
                                            </svg>
                                        </span>
                                        <span class="iconized__text">
                                            Квартиры от 60 м<sup>2</sup> до 142 м<sup>2</sup>
                                        </span>
                                    </div>
                                    <span class="complex-block__btn iconized iconized__rounded-icon">
                                        <span class="iconized__text">
                                            Подробнее
                                        </span>
                                        <span class="iconized__icon">
                                            <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="19"
                                                height="19">
                                                <use xlink:href="/sprite.svg#arrow_left_gallery" />
                                            </svg>
                                        </span>
                                    </span>
                                </div>
                            </div>
                            <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                <rect x="0" y="0" stroke="#fff" stroke-width="1" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </section> --}}

        {{!-- <section class="main_block padding-top-0">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <picture>
                            <source srcset="./images/bak1.jpg" media="(min-width: 1024px)">
                            <img src="./images/bak1-sm.jpg" alt="">
                        </picture>
                    </div>
                </div>
            </div>
        </section> --}}
        
        
        {{!-- <div class="section">
            <section class="main_block bg-grey_light">
                <div class="container container-lg">
                    <div class="row">
                        <div class="col-10">
                            <h1>
                                <div class="supTitle">Riverside</div>
                                Ход строительства
                            </h1>
                            <div class="row">
                                <div class="col-sm-5 col-3-3 case_galery__wrap">
                                    <div class="case_galery">
                                        <div class="case_galery__img">
                                            <a href="#a">
                                                <img src="./images/show2.jpg" alt="">
                                                <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                    <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                                </svg>
                                            </a>
                                        </div>
                                        <div class="case_galery__text">
                                            <div class="case_galery__text__sup">Школа</div>
                                            <div class="case_galery__text__title mb-0">Ввод в эксплуатацию 3 кв. 2019</div>
                                            <div class="case_galery__text__sub">Обновлено 18 апреля</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-3-3 case_galery__wrap">
                                    <div class="case_galery">
                                        <div class="case_galery__img">
                                            <a href="#a">
                                                <img src="./images/show1.jpg" alt="">
                                                <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                    <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                                </svg>
                                            </a>
                                        </div>
                                        <div class="case_galery__text">
                                            <div class="case_galery__text__sup">Детский сад</div>
                                            <div class="case_galery__text__title mb-0">Введён в эксплуатацию</div>
                                            <div class="case_galery__text__sub">Обновлено 18 апреля</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-5 col-3-3 case_galery__wrap">
                                    <div class="case_galery">
                                        <div class="case_galery__img">
                                            <a href="#a">
                                                <img src="./images/show3.jpg" alt="">
                                                <svg class="hoverer" viewBox="0 0 503 503" preserveAspectRatio="xMinYMin slice">
                                                    <rect x="0" y="0" stroke="#fff" stroke-width="4" />
                                                </svg>
                                            </a>
                                        </div>
                                        <div class="case_galery__text">
                                            <div class="case_galery__text__sup">Детская поликлиника</div>
                                            <div class="case_galery__text__title mb-0">Введён в эксплуатацию</div>
                                            <div class="case_galery__text__sub">Обновлено 18 апреля</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
                <div class="text-center mt-4">
                    <a href="#a" class="btn btn-xlg iconized">
                        <span class="iconized__text">Посмотреть все объекты</span>
                        <span class="iconized__icon">
                            <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="24"
                                height="13">
                                <use xlink:href="/sprite.svg#arrow_thin1" />
                            </svg>
                        </span>
                    </a>
                </div>
            </section>
        </div> --}}

        {{> map_block}}
        
        {{> footer_v2}}

        {{!-- <section class="main_block bg-grey_light">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <h1>
                            <div class="supTitle">Riverside</div>
                            Документы
                        </h1>
                    </div>
                    <div class="col-md-5 col-xl-3 mb-4">
                        <a href="#a" class="btn btn-lg btn-doc iconized w-100">
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="28"
                                    height="30">
                                    <use xlink:href="/sprite.svg#pdf_icon" />
                                </svg>
                            </span>
                            <span class="iconized__text">
                                Проектная декларация <br>
                                <small>13.17 Кб   •   Версия от: 21 ноября 2018</small>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-5 col-xl-3 mb-4">
                        <a href="#a" class="btn btn-lg btn-doc iconized w-100">
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="28"
                                    height="30">
                                    <use xlink:href="/sprite.svg#pdf_icon" />
                                </svg>
                            </span>
                            <span class="iconized__text">
                                Разрешение на строительство <br>
                                <small>473.17 Кб   •   Версия от: 21 ноября 2018</small>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-5 col-xl-3 mb-4">
                        <a href="#a" class="btn btn-lg btn-doc iconized w-100">
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="28"
                                    height="30">
                                    <use xlink:href="/sprite.svg#pdf_icon" />
                                </svg>
                            </span>
                            <span class="iconized__text">
                                Проектная декларация <br>
                                <small>473.17 Кб   •   Версия от: 21 ноября 2018</small>
                            </span>
                        </a>
                    </div>
                    <div class="col-md-5 col-xl-3 mb-4">
                        <a href="#a" class="btn btn-lg btn-doc iconized w-100">
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="28"
                                    height="30">
                                    <use xlink:href="/sprite.svg#pdf_icon" />
                                </svg>
                            </span>
                            <span class="iconized__text">
                                Проектная декларация <br>
                                <small>13.17 Кб   •   Версия от: 21 ноября 2018</small>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </section> --}}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/jquery.menu-aim.js"></script>
    <script src="./js/velocity.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/scripts.js"></script>


    <script>
        var tooltiper = document.getElementById('tooltiper'),
            px = '0px',
            py = '0px',
            trig = -1;

        function getCursorXY(e) {}
        $('.highlight').on('mouseenter', function (e) {
            $(this).parents('.select_box').find('.tooltiper').css({
                'opacity': 1
            })
        })
        $('.highlight').on('mouseleave', function (e) {
            $(this).parents('.select_box').find('.tooltiper').css({
                'opacity': 0
            })
        })
        $('.highlight').on('mousemove', function (e) {
            if (this.getBoundingClientRect().top < 0) {
                trig = tooltiper.offsetHeight / 2
            } else {
                trig = tooltiper.offsetHeight * -1
            }
            px = e.pageX - $(this).parents('.select_box').offset().left - tooltiper.offsetWidth - 10;
            py = e.pageY - $(this).parents('.select_box').offset().top + trig - 10;
            tooltiper.style.transform = 'translate3d(' + (px < 10 ? 10 : px) + 'px, ' + py + 'px, 0)';
            //tooltiper.style.top = py + 'px';
            $('.tooltiper__floor').html($(this).data('floor'));
            $('.tooltiper__apartment').html($(this).data('free_apartments'));
        })
    </script>



    <!--  + maps   -->
    <script src="https://api-maps.yandex.ru/2.1/?apikey=e2abdba6-4862-46d4-a16e-785372d786d2&lang=ru_RU" type="text/javascript"></script>
    <script type="text/javascript">
        // Функция ymaps.ready() будет вызвана, когда
        // загрузятся все компоненты API, а также когда будет готово DOM-дерево.
        /*ymaps.ready(init);
        function init(){ 
            // Создание карты.    
            var myMap = new ymaps.Map("map", {
                // Координаты центра карты.
                // Порядок по умолчанию: «широта, долгота».
                // Чтобы не определять координаты центра карты вручную,
                // воспользуйтесь инструментом Определение координат.
                center: [41.315273, 69.326970],
                // Уровень масштабирования. Допустимые значения:
                // от 0 (весь мир) до 19.
                zoom: 18
            });
        }*/
        ymaps.ready(function () {
            var myMap = new ymaps.Map('map', {
                center: [41.315273, 69.326970],
                zoom: 17
            }, {
                searchControlProvider: 'yandex#search'
            }),

            // Создаём макет содержимого.
            MyIconContentLayout = ymaps.templateLayoutFactory.createClass(
                '<div style="color: #FFFFFF; font-weight: bold;">$[properties.iconContent]</div>'
            ),

            /*myPlacemark = new ymaps.Placemark(myMap.getCenter(), {
                hintContent: 'Собственный значок метки',
                balloonContent: 'Это красивая метка'
            }, {
                // Опции.
                // Необходимо указать данный тип макета.
                iconLayout: 'default#image',
                // Своё изображение иконки метки.
                iconImageHref: 'images/myIcon.gif',
                // Размеры метки.
                iconImageSize: [30, 42],
                // Смещение левого верхнего угла иконки относительно
                // её "ножки" (точки привязки).
                iconImageOffset: [-5, -38]
            }),*/

            myPlacemarkWithContent = new ymaps.Placemark([41.315273, 69.326970], {
                hintContent: 'Собственный значок метки с контентом',
                balloonContent: 'А эта — новогодняя',
                iconContent: '12'
            }, {
                // Опции.
                // Необходимо указать данный тип макета.
                iconLayout: 'default#imageWithContent',
                // Своё изображение иконки метки.
                iconImageHref: './images/marker.png',
                // Размеры метки.
                iconImageSize: [56, 83],
                // Смещение левого верхнего угла иконки относительно
                // её "ножки" (точки привязки).
                iconImageOffset: [-24, -24],
                // Смещение слоя с содержимым относительно слоя с картинкой.
                iconContentOffset: [15, 15],
                // Макет содержимого.
                iconContentLayout: MyIconContentLayout
            });

        myMap.geoObjects
            .add(myPlacemarkWithContent);
    });
    </script>
    <!--  - maps   -->


</body>

</html>