<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body class="horizontalNav">
    {{> navigation_horizontal}}
    <div>
        <section class="main_block">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <h1 class="transform--title">Выберите Квартиру</h1>
                    </div>
                    <div class="col-10 order-2 order-lg-1 col-lg-4 col-xlg-3 grid-container_select__parent">
                        <div class="d-inline-flex flex-column justify-content-between h-100 grid-container_select">
                            <div class="grid-container_select__block select__elem pb-4">
                                <div class="select__elem__desc mb-4">
                                    Выбор Блока
                                </div>
                                <div class="select__block">
                                    <svg viewBox="0 0 321 190"
                                        width="321px">
                                        <text class="highlight__text" transform="matrix( 8.92477160430235, 0, 0, 8.84253226285814,19.7407622506954, 56.2163001807893)">1A</text>
                                        <text class="highlight__text" transform="matrix( 8.92477160430235, 0, 0, 8.84253226285814,96.4243584390608, 156.287040438892)">2A</text>
                                        <text class="highlight__text" transform="matrix( 8.92477160430235, 0, 0, 8.84253226285814,179.191888797031, 156.287040438892)">1B</text>
                                        <text class="highlight__text" transform="matrix( 8.92477160430235, 0, 0, 8.84253226285814,263.348497880424, 156.149981188818)">2C</text>
                                        <text class="highlight__text" transform="matrix( 8.92477160430235, 0, 0, 8.84253226285814,20.5038302228633, 140.216300180789)">2B</text>
                                        <a href="#a">
                                            <path class="highlight highlight__block"
                                            d="M3.500,3.500 L55.500,3.500 L55.500,87.500 L3.500,87.500 L3.500,3.500 Z"/>
                                        </a>
                                        <a href="#a">
                                            <path class="highlight highlight__block"
                                            d="M64.500,174.500 L55.500,174.500 L53.115,174.500 L3.500,174.500 L3.500,90.500 L55.500,90.500 L55.500,129.500 L64.500,129.500 L64.500,174.500 Z"/>
                                        </a>
                                        <a href="#a">
                                            <path class="highlight highlight__block"
                                            d="M67.500,122.500 L147.500,122.500 L147.500,174.500 L67.500,174.500 L67.500,122.500 Z"/>
                                        </a>
                                        <a href="#a">
                                            <path class="highlight highlight__block"
                                            d="M150.500,122.500 L230.500,122.500 L230.500,174.500 L150.500,174.500 L150.500,122.500 Z"/>
                                        </a>
                                        <a href="#a">
                                            <path class="highlight highlight__block"
                                            d="M233.500,122.500 L317.500,122.500 L317.500,174.500 L233.500,174.500 L233.500,122.500 Z"/>
                                        </a>
                                    </svg>
                                </div>
                            </div>
                            
                            <div class="grid-container_select__floor select__elem w-100 pb-4">
                                <div class="select__elem__desc text-left transform--select__elem__desc mb-4" style="">
                                    Выбор Этажа
                                </div>
                                <div class="select__floor transform--select_floor text-left">
                                    <a href="#a" class="select__floor_to_top select__floor__arrow">
                                        <svg class="svg-icon__link stroke_black" preserveAspectRatio="xMidYMid" width="20"
                                            height="18" style="transform: rotate(180deg);">
                                            <use xlink:href="/sprite.svg#arrow_left_gallery"></use>
                                        </svg>
                                    </a>
                            
                                    <span class="select__floor_text">
                                        ЭТАЖ
                                        <span class="select__floor_text_num">5</span>
                                        ИЗ 20
                                    </span>
                            
                                    <a href="#a" class="select__floor_to_bottom select__floor__arrow">
                                        <svg class="svg-icon__link stroke_black" preserveAspectRatio="xMidYMid" width="20"
                                            height="18">
                                            <use xlink:href="/sprite.svg#arrow_left_gallery"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <div class="grid-container_select__button">
                                <a href="#a" class="btn btn-primary btn-lg iconized iconized_lg__btn select_parameters_button">
                                    <span class="iconized__icon">
                                        <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="22" height="22">
                                            <use xlink:href="/sprite.svg#equalizer"></use>
                                        </svg>
                                    </span>
                                    <span class="iconized__text">
                                        Подбор по параметрам
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-10 order-1 order-lg-2 col-lg-6 col-xlg-7 transform--plan_wrap">
                        <div class="select__elem text-center transform--select__elem">
                            <div class="select__apartment select_box" style="position: relative;">
                                <svg viewBox="0 0 853.2 543.9" width="100%" style="max-width: 1100px;">
                                    <image style="overflow:visible;" width="100%" xlink:href="./images/plan1.jpg">
                                    </image>
                                    <a href="./view.html">
                                        <path class="highlight _highlight" data-number_of_rooms="6" data-apartment_numb="19"
                                            data-apartment_area="86.7" data-apartment_status="100"
                                            d="M337,238.5H211.2v58.4v246.6H0V23.3h7.5V0.8h116.8v22.5h95.1V0.8h80.2v22.5H337L337,238.5L337,238.5z">
                                        </path>
                                    </a>
                                    <a href="./view.html">
                                        <path class="highlight _highlight" data-number_of_rooms="4" data-apartment_numb="20"
                                            data-apartment_area="986.7" data-apartment_status="200"
                                            d="M208.9,297.4h411v246h-411L208.9,297.4L208.9,297.4z"></path>
                                    </a>
                                    <a href="./view.html">
                                        <path class="highlight _highlight" data-number_of_rooms="7" data-apartment_numb="21"
                                            data-apartment_area="186.7" data-apartment_status="300"
                                            d="M614.2,297.4v-58h-207v-216h11v-23h80v22h197v-22h127v22h30v184h-26v119h27v218H613.9">
                                        </path>
                                    </a>
                                </svg>
                                <div class="tooltiper tooltiper_forAppartments _tooltiper" id="tooltiper"
                                    style="position: absolute; left: 0; top: 0; color: black; opacity: 0; display: none;">
                                    <div class="tooltiper_title">
                                        Квартира №<span class="apartment_numb">46</span>
                                    </div>
                                    <div class="tooltiper_content">
                                        <div class="tooltiper_content__item">
                                            <div class="tooltiper_content__num number_of_rooms">
                                                4
                                            </div>
                                            Количество <br>комнат
                                        </div>
                                        <div class="tooltiper_content__item">
                                            <div class="tooltiper_content__num apartment_area">
                                                126,2м<sup>2</sup>
                                            </div>
                                            Общая <br>
                                            площадь
                                        </div>
                                    </div>
                                    <div class="tooltiper_footer">
                                        <div class="apartment_status"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/jquery.menu-aim.js"></script>
    <script src="./js/velocity.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/scripts.js"></script>
    

    <script>
        var tooltiper = document.getElementById('tooltiper'),
            px = '0px',
            py = '0px',
            trig = -1,
            a_status = '',
            a_status_class = '';

        function getCursorXY(e) {
        }
        $('._highlight').on('mouseenter', function(e){
            $(this).parents('.select_box').find('.tooltiper').css({'opacity': 1, 'display': 'block'})
            

            switch ($(this).data('apartment_status')) {
                case 100:
                a_status = 'Свободна';
                a_status_class = 'apartment_status__free';
                break;
                case 200:
                a_status = 'Забронирована';
                a_status_class = 'apartment_status__booked';
                break;
                case 300:
                a_status = 'Продана';
                a_status_class = 'apartment_status__sold';
                break;
            }
            
            $('.apartment_status')
                .html(a_status)
                .removeClass('apartment_status__free apartment_status__booked apartment_status__sold')
                .addClass(a_status_class);
        })
        $('._highlight').on('mouseleave', function(e){
            $(this).parents('.select_box').find('.tooltiper').css({'opacity': 0, 'display': 'none'})
        })
        $('._highlight').on('mousemove', function(e){
            if (this.getBoundingClientRect().top < 0) {
                trig = tooltiper.offsetHeight / 2
            } else {
                trig = tooltiper.offsetHeight * -1
            }
            px = e.pageX - $(this).parents('.select_box').offset().left - tooltiper.offsetWidth - 10;
            py = e.pageY - $(this).parents('.select_box').offset().top + trig - 20;
            tooltiper.style.transform = 'translate3d(' + ( px < 10 ? 10 : px ) + 'px, ' + py + 'px, 0)';
            //tooltiper.style.top = py + 'px';
            $('.tooltiper__floor').html($(this).data('floor'));
            $('.tooltiper__apartment').html($(this).data('free_apartments'));
            $('.tooltiper__apartment_number').html($(this).data('apartment_number'));
            $('.tooltiper__apartment_area').html($(this).data('apartment_area'));


            $('.apartment_numb').html($(this).data('apartment_numb'));
            $('.number_of_rooms').html($(this).data('number_of_rooms'));
            $('.apartment_area').html($(this).data('apartment_area'));

        })
    </script>
</body>

</html>