<!DOCTYPE html>
<html lang="ru">

<head>
    {{> head_tag_in}}
</head>

<body class="horizontalNav">
    {{> navigation_horizontal}}
    <div>
        <section class="main_block">
            <div class="container">
                <div class="row">
                    <div class="col-10">
                        <h1>Квартира №46, 4-комнатная, Планировка A2</h1>
                    </div>
                </div>
                <div class="row align-items-stretch">
                    <div class="col-lg-5 col-xlg-4 order-2 order-lg-1">
                        <h2>Блок 2А, Этаж 5</h2>

                        <div class="flat_specs">
                            <div class="flat_specs__item">
                                <div class="flat_specs__item_sup">
                                    Общая площадь
                                </div>
                                <div class="flat_specs__item_num">
                                    86,2м<sup>2</sup>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-10 col-md-5">
                                <div class="flat_specs__table">
                                    <div class="flat_specs__table__line">
                                        <span>Комната</span>
                                        <span>18.3 м<sup>2</sup></span>
                                    </div>
                                    <div class="flat_specs__table__line">
                                        <span>Спальня</span>
                                        <span>12.9 м<sup>2</sup></span>
                                    </div>
                                    <div class="flat_specs__table__line">
                                        <span>Кухня</span>
                                        <span>8.4 м<sup>2</sup></span>
                                    </div>
                                    <div class="flat_specs__table__line">
                                        <span>Лоджия</span>
                                        <span>2.7 м<sup>2</sup></span>
                                    </div>
                                    <div class="flat_specs__table__line">
                                        <span>Коридор</span>
                                        <span>7.6 м<sup>2</sup></span>
                                    </div>
                                    <div class="flat_specs__table__line">
                                        <span>Санузел</span>
                                        <span>3.8 м<sup>2</sup></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-10 col-md-5">
                                <div class="flat_specs__table">
                                    <div class="flat_specs__table__line">
                                        <span>Комната 2</span>
                                        <span>13.4 м<sup>2</sup></span>
                                    </div>
                                    <div class="flat_specs__table__line">
                                        <span>Спальня 2</span>
                                        <span>12.9 м<sup>2</sup></span>
                                    </div>
                                    <div class="flat_specs__table__line">
                                        <span>Кухня 2</span>
                                        <span>8.4 м<sup>2</sup></span>
                                    </div>
                                    <div class="flat_specs__table__line">
                                        <span>Лоджия 2</span>
                                        <span>10 м<sup>2</sup></span>
                                    </div>
                                    <div class="flat_specs__table__line">
                                        <span>Коридор 2</span>
                                        <span>3.8 м<sup>2</sup></span>
                                    </div>
                                    <div class="flat_specs__table__line">
                                        <span>Санузел 2</span>
                                        <span>2.7 м<sup>2</sup></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <a href="#a" class="btn btn-primary btn-lg iconized iconized_lg__btn">
                            <span class="iconized__icon">
                                <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="22" height="22">
                                    <use xlink:href="/sprite.svg#lock" />
                                </svg>
                            </span>
                            <span class="iconized__text">
                                Забронировать
                            </span>
                        </a>
                    </div>
                    <div class="col-lg-5 col-xlg-6 order-1 order-lg-2">
                        <div class="display_mode">
                            <div class="display_mode__title">Режим отображения</div>
                            <a href="#a" class="btn btn-round btn-lg active">2D</a>
                            <a href="#a" class="btn btn-round btn-lg">3D</a>
                        </div>
                        <div class="flat_plan text-center text-lg-right">
                            <img src="./images/_flat_plan_2d.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 d-flex flex-wrap order-3 order-lg-3">
                        <div class="">
                            <a href="./select.html" class="btn btn-lg iconized iconized_lg__btn pl-0">
                                <span class="iconized__icon">
                                    <svg class="svg-icon__link stroke_black" preserveAspectRatio="xMidYMid" width="22"
                                        height="22" style="transform: rotate(-180deg)">
                                        <use xlink:href="/sprite.svg#arrow_left_gallery" style="stroke: #333;" />
                                    </svg>
                                </span>
                                <span class="iconized__text" style="color: #333;">
                                    Вернуться к списку квартир
                                </span>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-7 order-4 order-lg-4">
                        <div class="text-center text-lg-right">
                            <div class="actions_block btn-group">
                                <a href="#a" class="btn btn-lg iconized iconized_lg__btn">
                                    <span class="iconized__icon iconized__icon_round">
                                        <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="22"
                                            height="22">
                                            <use xlink:href="/sprite.svg#send_mail" />
                                        </svg>
                                    </span>
                                    <span class="iconized__text">
                                        Отправить на Email
                                    </span>
                                </a>
                                <a href="#a" class="btn btn-lg iconized iconized_lg__btn">
                                    <span class="iconized__icon iconized__icon_round">
                                        <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="22"
                                            height="22">
                                            <use xlink:href="/sprite.svg#pdf" />
                                        </svg>
                                    </span>
                                    <span class="iconized__text">
                                        Скачать в PDF
                                    </span>
                                </a>
                                <a href="#a" class="btn btn-lg iconized iconized_lg__btn">
                                    <span class="iconized__icon iconized__icon_round">
                                        <svg class="svg-icon__link" preserveAspectRatio="xMidYMid" width="22"
                                            height="22">
                                            <use xlink:href="/sprite.svg#telegram" />
                                        </svg>
                                    </span>
                                    <span class="iconized__text">
                                        Отправить в Telegram
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="./js/jquery-3.3.1.min.js"></script>
    <script src="./js/jquery.menu-aim.js"></script>
    <script src="./js/velocity.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.bundle.min.js"></script>
    <script src="./js/perfect-scrollbar.min.js"></script>
    <script src="./js/scripts.js"></script>


    <script>
        var tooltiper = document.getElementById('tooltiper'),
            px = '0px',
            py = '0px',
            trig = -1,
            a_status = '',
            a_status_class = '';

        function getCursorXY(e) {
        }
        $('._highlight').on('mouseenter', function (e) {
            $(this).parents('.select_box').find('.tooltiper').css({ 'opacity': 1, 'display': 'block' })
            switch ($(this).data('apartment_status')) {
                case 100:
                    a_status = 'Свободна';
                    a_status_class = 'apartment_status__free';
                    break;
                case 200:
                    a_status = 'Забронирована';
                    a_status_class = 'apartment_status__booked';
                    break;
                case 300:
                    a_status = 'Продана';
                    a_status_class = 'apartment_status__sold';
                    break;
            }

            $('.apartment_status')
                .html(a_status)
                .removeClass('apartment_status__free apartment_status__booked apartment_status__sold')
                .addClass(a_status_class);
        })
        $('._highlight').on('mouseleave', function (e) {
            $(this).parents('.select_box').find('.tooltiper').css({ 'opacity': 0, 'display': 'none' })
        })
        $('._highlight').on('mousemove', function (e) {
            if (this.getBoundingClientRect().top < 0) {
                trig = tooltiper.offsetHeight / 2
            } else {
                trig = tooltiper.offsetHeight * -1
            }
            px = e.pageX - $(this).parents('.select_box').offset().left - tooltiper.offsetWidth - 10;
            py = e.pageY - $(this).parents('.select_box').offset().top + trig - 20;
            tooltiper.style.transform = 'translate3d(' + (px < 10 ? 10 : px) + 'px, ' + py + 'px, 0)';
            //tooltiper.style.top = py + 'px';
            $('.tooltiper__floor').html($(this).data('floor'));
            $('.tooltiper__apartment').html($(this).data('free_apartments'));
            $('.tooltiper__apartment_number').html($(this).data('apartment_number'));
            $('.tooltiper__apartment_area').html($(this).data('apartment_area'));


            $('.apartment_numb').html($(this).data('apartment_numb'));
            $('.number_of_rooms').html($(this).data('number_of_rooms'));
            $('.apartment_area').html($(this).data('apartment_area'));

        })
    </script>
</body>

</html>